#
# TRACFONE
# Add Certificate for LDAP
#

AdminTask.retrieveSignerFromPort('[-keyStoreName CellDefaultTrustStore -keyStoreScope (cell):STCell -host <%=@federated_ldap_host%> -port <%=@federated_ldap_port%> -certificateAlias <%=@cert_alias%> -sslConfigName CellDefaultSSLSettings -sslConfigScopeName (cell):<%=@cell_name%> ]')

AdminConfig.save()
