# For tracing purposes:
# $AdminControl trace com.ibm.*=all
# Author: Raghavendra

# Bind Policy Sets and TracFone Soap Services

# Chef to change these values based on ENV - START
#set policyset "<%=@AppPolicySet_policyset%>"
#set resource "WebService:/"
#set appname "TracFoneSoapServicesEAR"
#set attachmenttype "<%=@AppPolicySet_attachmenttype%>"
#set bindingname "<%=@AppPolicySet_bindingname%>"
# Chef to change these values based on ENV - END

# Capture the return code for createPolicySetAttachment into the variable 'attachmentid' so that it can used in the binding command
# Bind the TracFone Soap Binding to the attachment created in the previous step

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/ ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/BYOPServices}BYOPServices ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/BYOPServices}BYOPServices/BYOPServicesSOAP ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/BYOPServices}BYOPServices/BYOPServicesSOAP/changePhoneBrand ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/BYOPServices}BYOPServices/BYOPServicesSOAP/checkBYOPEligibilityAndCoverage ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/BYOPServices}BYOPServices/BYOPServicesSOAP/getBYOPSimInfo ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/BYOPServices}BYOPServices/BYOPServicesSOAP/isBYOP ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/BYOPServices}BYOPServices/BYOPServicesSOAP/isBYOPEligible ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/BYOPServices}BYOPServices/BYOPServicesSOAP/isBYOPEligibleAndCovered ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/BYOPServices}BYOPServices/BYOPServicesSOAP/postProcessRegisterBYOP ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/BYOPServices}BYOPServices/BYOPServicesSOAP/processBYOPRegistration ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/BYOPServices}BYOPServices/BYOPServicesSOAP/registerBYOP ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/BYOPServices}BYOPServices/BYOPServicesSOAP/registerBYOPWithNAC ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/BYOPServices}BYOPServices/BYOPServicesSOAP/validateBYOPSim ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/BYOPServices}BYOPServices/BYOPServicesSOAP/validateRegCode ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/CheckActivationScenarioService/}CheckActivationScenarioService ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/CheckActivationScenarioService/}CheckActivationScenarioService/CheckActivationScenarioServiceSOAP ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/CheckActivationScenarioService/}CheckActivationScenarioService/CheckActivationScenarioServiceSOAP/checkActivationEligibility ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/CoverageCheck}CoverageCheckService ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/CoverageCheck}CoverageCheckService/CoverageCheckServiceSOAP ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/CoverageCheck}CoverageCheckService/CoverageCheckServiceSOAP/checkBYOPCoverage ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/CoverageCheck}CoverageCheckService/CoverageCheckServiceSOAP/checkBYOPCoverageAndCarrierList ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/CoverageCheck}CoverageCheckService/CoverageCheckServiceSOAP/checkCoverageByEsn ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/CoverageCheck}CoverageCheckService/CoverageCheckServiceSOAP/checkCoverageByEsnSim ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/CoverageCheck}CoverageCheckService/CoverageCheckServiceSOAP/checkForCoverage ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/CoverageCheck}CoverageCheckService/CoverageCheckServiceSOAP/getBYOPCarrierList ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/CoverageCheck}CoverageCheckService/CoverageCheckServiceSOAP/getCoverageMap ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/CoverageCheck}CoverageCheckService/CoverageCheckServiceSOAP/getPreferredCarrierByZipTech ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/CryptoServices/}CryptoServices ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/CryptoServices/}CryptoServices/CryptoServicesSOAP ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/CryptoServices/}CryptoServices/CryptoServicesSOAP/encrypt ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/EventManagementServices/}EventManagementServices ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/EventManagementServices/}EventManagementServices/EventManagementServicesSOAP ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/EventManagementServices/}EventManagementServices/EventManagementServicesSOAP/getCounterByEvent ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/EventManagementServices/}EventManagementServices/EventManagementServicesSOAP/incrementCounterForEvent ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/ILDServices/}ILDServices ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/ILDServices/}ILDServices/ILDServicesSOAP ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/ILDServices/}ILDServices/ILDServicesSOAP/getILDBalance ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/ILDServices/}ILDServices/ILDServicesSOAP/redeemILDTopupPinCard ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/ILDServices/}ILDServices/ILDServicesSOAP/validateILDTopupPin ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/InquiryServices/BalanceInquiry}BalanceInquiryService ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/InquiryServices/BalanceInquiry}BalanceInquiryService/BalanceInquiryService ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/InquiryServices/BalanceInquiry}BalanceInquiryService/BalanceInquiryService/getBalance ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/InquiryServices/BalanceInquiry}BalanceInquiryService/BalanceInquiryService/getBalanceByTransId ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/InquiryServices/BalanceInquiry}BalanceInquiryService/BalanceInquiryService/getBalanceSync ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PaymentMethodServices/}PaymentMethodServicesSOAPQSService ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PaymentMethodServices/}PaymentMethodServicesSOAPQSService/PaymentMethodServicesSOAPQSPort ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PaymentMethodServices/}PaymentMethodServicesSOAPQSService/PaymentMethodServicesSOAPQSPort/addCreditCard ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PaymentMethodServices/}PaymentMethodServicesSOAPQSService/PaymentMethodServicesSOAPQSPort/getCreditCardList ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PaymentMethodServices/}PaymentMethodServicesSOAPQSService/PaymentMethodServicesSOAPQSPort/getCreditCardListMB ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PaymentMethodServices/}PaymentMethodServicesSOAPQSService/PaymentMethodServicesSOAPQSPort/hasPaymentSource ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PaymentMethodServices/}PaymentMethodServicesSOAPQSService/PaymentMethodServicesSOAPQSPort/removeCreditCard ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PaymentMethodServices/}PaymentMethodServicesSOAPQSService/PaymentMethodServicesSOAPQSPort/setDefaultCreditCard ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PaymentMethodServices/}PaymentMethodServicesSOAPQSService/PaymentMethodServicesSOAPQSPort/updateCreditCard ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneServices/}PhoneServices ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneServices/}PhoneServices/PhoneServicesSOAP ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneServices/}PhoneServices/PhoneServicesSOAP/burnRedemptionCard ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneServices/}PhoneServices/PhoneServicesSOAP/getAllManufacturers ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneServices/}PhoneServices/PhoneServicesSOAP/getAllModels ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneServices/}PhoneServices/PhoneServicesSOAP/getBrandFromEsn ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneServices/}PhoneServices/PhoneServicesSOAP/getDeviceInformation ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneServices/}PhoneServices/PhoneServicesSOAP/getDeviceServiceInformation ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneServices/}PhoneServices/PhoneServicesSOAP/getESNFromSim ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneServices/}PhoneServices/PhoneServicesSOAP/getEsnAttributes ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneServices/}PhoneServices/PhoneServicesSOAP/getEsnFromMin ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneServices/}PhoneServices/PhoneServicesSOAP/getEsnInformation ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneServices/}PhoneServices/PhoneServicesSOAP/getHandSetInfo ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneServices/}PhoneServices/PhoneServicesSOAP/getPinCardInformation ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneServices/}PhoneServices/PhoneServicesSOAP/getPinCardInformationForESN ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneServices/}PhoneServices/PhoneServicesSOAP/getPinCardPurchaseDetails ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneServices/}PhoneServices/PhoneServicesSOAP/isPhoneValidForStoreFront ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneServices/}PhoneServices/PhoneServicesSOAP/setEsnAttributes ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneSettingsServices/}PhoneSettingsServices ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneSettingsServices/}PhoneSettingsServices/PhoneSettingsServicesSOAP ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneSettingsServices/}PhoneSettingsServices/PhoneSettingsServicesSOAP/getAvailablePhoneOperatingSystems ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneSettingsServices/}PhoneSettingsServices/PhoneSettingsServicesSOAP/getOSVerOrHSModelsList ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneSettingsServices/}PhoneSettingsServices/PhoneSettingsServicesSOAP/getPhoneInstructions ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneSettingsServices/}PhoneSettingsServices/PhoneSettingsServicesSOAP/getPhoneSettings ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneSettingsServices/}PhoneSettingsServices/PhoneSettingsServicesSOAP/getPhoneSettingsAndInstructions ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneSettingsServices/}PhoneSettingsServices/PhoneSettingsServicesSOAP/sendAPNSettings ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneSettingsServices/}PhoneSettingsServices/PhoneSettingsServicesSOAP/updatePhoneSettings ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneUpgradeServices/}PhoneUpgradeServices ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneUpgradeServices/}PhoneUpgradeServices/PhoneUpgradeServicesSOAP ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneUpgradeServices/}PhoneUpgradeServices/PhoneUpgradeServicesSOAP/minChange ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneUpgradeServices/}PhoneUpgradeServices/PhoneUpgradeServicesSOAP/phoneUpgrade ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneUpgradeServices/}PhoneUpgradeServices/PhoneUpgradeServicesSOAP/simChange ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneUpgradeServices/}PhoneUpgradeServices/PhoneUpgradeServicesSOAP/validateEsnMinForUgradeAndMinChange ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneUpgradeServices/}PhoneUpgradeServices/PhoneUpgradeServicesSOAP/validatePhoneUpgrade ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PlanInfoServices/}PlanInfoServices ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PlanInfoServices/}PlanInfoServices/PlanInfoServicesSOAP ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PlanInfoServices/}PlanInfoServices/PlanInfoServicesSOAP/getPlanAction ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PlanInfoServices/}PlanInfoServices/PlanInfoServicesSOAP/getPlansInfo ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PlanInfoServices/}PlanInfoServices/PlanInfoServicesSOAP/getRetentionMatrixAction ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PlanInfoServices/}PlanInfoServices/PlanInfoServicesSOAP/getServiceRewardInfo ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PortAutomationServices/}PortAutomationServices ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PortAutomationServices/}PortAutomationServices/PortAutomationServicesSOAP ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PortAutomationServices/}PortAutomationServices/PortAutomationServicesSOAP/getAddressFormatList ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PortAutomationServices/}PortAutomationServices/PortAutomationServicesSOAP/getPortCarrierList ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PurchaseServices/}PurchaseServices ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PurchaseServices/}PurchaseServices/PurchaseServicesSOAP ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PurchaseServices/}PurchaseServices/PurchaseServicesSOAP/purchaseAPPOrder ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/ResetVoicemailPasswordService/}ResetVoicemailPasswordService ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/ResetVoicemailPasswordService/}ResetVoicemailPasswordService/ResetVoicemailPasswordServiceSOAP ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/ResetVoicemailPasswordService/}ResetVoicemailPasswordService/ResetVoicemailPasswordServiceSOAP/ResetVoicemailPassword ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/ServiceQualification}ServiceQualification ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/SocialMediaServices/}SocialMediaServices ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/SocialMediaServices/}SocialMediaServices/SocialMediaServicesSOAP ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/SocialMediaServices/}SocialMediaServices/SocialMediaServicesSOAP/addSocialMediaMetricLogs ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/SocialMediaServices/}SocialMediaServices/SocialMediaServicesSOAP/createAndLinkMySocialMediaAccount ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/SocialMediaServices/}SocialMediaServices/SocialMediaServicesSOAP/getAccountInfoForSocialMediaUser ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/SocialMediaServices/}SocialMediaServices/SocialMediaServicesSOAP/getLinkageAndSharedInterestStatus ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/SocialMediaServices/}SocialMediaServices/SocialMediaServicesSOAP/unlinkSocialMediaUser ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/SocialMediaServices/}SocialMediaServices/SocialMediaServicesSOAP/updateMySocialMediaProfile ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/SocialMediaServices/}SocialMediaServices/SocialMediaServicesSOAP/updatePrefferedEmail ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/SocialMediaServices/}SocialMediaServices/SocialMediaServicesSOAP/updateShareInterestSocialMedia ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/UrbanPropertyAddressService/}UrbanPropertyAddressService ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/UrbanPropertyAddressService/}UrbanPropertyAddressService/UrbanPropertyAddressServiceSOAP ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/UrbanPropertyAddressService/}UrbanPropertyAddressService/UrbanPropertyAddressServiceSOAP/ValidateUrbanPropertyAddress ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/VASServices}VASServices ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/VASServices}VASServices/VASServicesSOAP ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/VASServices}VASServices/VASServicesSOAP/deEnrollFromVasService ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/VASServices}VASServices/VASServicesSOAP/enrollForVasService ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/VASServices}VASServices/VASServicesSOAP/getAvailableVasServices ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/VASServices}VASServices/VASServicesSOAP/getEnrolledVasServices ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/VASServices}VASServices/VASServicesSOAP/getVasServices ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/VASServices}VASServices/VASServicesSOAP/isEligibleForVasService ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/VASServices}VASServices/VASServicesSOAP/isEnrolledInVasService ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/VASServices}VASServices/VASServicesSOAP/transferVasServiceBenefits ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/mWalletServices}mWalletServices ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/mWalletServices}mWalletServices/mWalletServicesSOAP ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/mWalletServices}mWalletServices/mWalletServicesSOAP/lookupClientKey ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://oauth.b2b.tracfone.com/OAuthAccountServices/}OAuthAccountServices ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://www.tracfone.com/rest/model/v1/messageview}InventoryManagementPort ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://www.tracfone.com/rest/model/v1/messageview}InventoryManagementPort/InventoryManagementPortPort ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://www.tracfone.com/rest/model/v1/messageview}InventoryManagementPort/InventoryManagementPortPort/retrieveResourceDetails ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://www.tracfone.com/rest/model/v1/messageview}ServiceQualificationManagementPort ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://www.tracfone.com/rest/model/v1/messageview}ServiceQualificationManagementPort/ServiceQualificationPort ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')

attachID = AdminTask.createPolicySetAttachment('[-applicationName TracFoneSoapServicesEAR -attachmentType client -policySet "TracFone Soap Services Policy" -resources [WebService:/TracFoneSoapServices.jar:{http://www.tracfone.com/rest/model/v1/messageview}ServiceQualificationManagementPort/ServiceQualificationPort/retrieveServiceQualification ]]')
rc = AdminTask.setBinding('[-bindingScope domain -bindingName "TracFone Soap Binding" -attachmentType client -bindingLocation [[application TracFoneSoapServicesEAR] [attachmentId ' + attachID + ']]]')


# Save Changes
AdminConfig.save()
