# For tracing purposes:
# $AdminControl trace com.ibm.*=all
# Author: Raghavendra

# Bind Policy Sets and TracFone Soap Services

# Chef to change these values based on ENV - START
set policyset "<%=@AppPolicySet_policyset%>"
set resource "WebService:/"
set appname "TracFoneSoapServicesEAR"
set attachmenttype "<%=@AppPolicySet_attachmenttype%>"
set bindingname "<%=@AppPolicySet_bindingname%>"
# Chef to change these values based on ENV - END

# Capture the return code for createPolicySetAttachment into the variable 'attachmentid' so that it can used in the binding command
set attachmentid { $AdminTask createPolicySetAttachment {-policySet "<%=@AppPolicySet_policyset%>" -resources WebService:/ -applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%>} }

#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/ }}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PlanInfoServices/}PlanInfoServices}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/mWalletServices}mWalletServices}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PortAutomationServices/}PortAutomationServices}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/CheckActivationScenarioService/}CheckActivationScenarioService}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/VASServices}VASServices}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://oauth.b2b.tracfone.com/OAuthAccountServices/}OAuthAccountServices}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://oauth.b2b.tracfone.com/OAuthAccountServices/}OAuthAccountServices/OAuthAccountServicesSOAP}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://oauth.b2b.tracfone.com/OAuthAccountServices/}OAuthAccountServices/OAuthAccountServicesSOAP/createAccountLight}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://oauth.b2b.tracfone.com/OAuthAccountServices/}OAuthAccountServices/OAuthAccountServicesSOAP/getAccountInfo}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://oauth.b2b.tracfone.com/OAuthAccountServices/}OAuthAccountServices/OAuthAccountServicesSOAP/login}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://oauth.b2b.tracfone.com/OAuthAccountServices/}OAuthAccountServices/OAuthAccountServicesSOAP/validateB2BUser}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://oauth.b2b.tracfone.com/OAuthAccountServices/}OAuthAccountServices/OAuthAccountServicesSOAP/generateTokenForEsn}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://oauth.b2b.tracfone.com/OAuthAccountServices/}OAuthAccountServices/OAuthAccountServicesSOAP}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://oauth.b2b.tracfone.com/OAuthAccountServices/}OAuthAccountServices/OAuthAccountServicesSOAP/createAccountLight}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://oauth.b2b.tracfone.com/OAuthAccountServices/}OAuthAccountServices/OAuthAccountServicesSOAP/getAccountInfo}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://oauth.b2b.tracfone.com/OAuthAccountServices/}OAuthAccountServices/OAuthAccountServicesSOAP/login}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://oauth.b2b.tracfone.com/OAuthAccountServices/}OAuthAccountServices/OAuthAccountServicesSOAP/validateB2BUser}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://oauth.b2b.tracfone.com/OAuthAccountServices/}OAuthAccountServices/OAuthAccountServicesSOAP/generateTokenForEsn}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/InquiryServices/BalanceInquiry}BalanceInquiryService}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/InquiryServices/BalanceInquiry}BalanceInquiryService/BalanceInquiryService}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/InquiryServices/BalanceInquiry}BalanceInquiryService/BalanceInquiryService/getBalance}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/InquiryServices/BalanceInquiry}BalanceInquiryService/BalanceInquiryService/getBalanceByTransId}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/InquiryServices/BalanceInquiry}BalanceInquiryService/BalanceInquiryService/getBalanceSync}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PaymentMethodServices/}PaymentMethodServicesSOAPQSService}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://www.tracfone.com/rest/model/v1/messageview}InventoryManagementPort}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://www.tracfone.com/rest/model/v1/messageview}InventoryManagementPort/InventoryManagementPortPort}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://www.tracfone.com/rest/model/v1/messageview}InventoryManagementPort/InventoryManagementPortPort/retrieveResourceDetails}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneUpgradeServices/}PhoneUpgradeServices}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://www.tracfone.com/rest/model/v1/messageview}ServiceQualificationManagementPort}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://www.tracfone.com/rest/model/v1/messageview}ServiceQualificationManagementPort/ServiceQualificationPort}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://www.tracfone.com/rest/model/v1/messageview}ServiceQualificationManagementPort/ServiceQualificationPort/retrieveServiceQualification}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://www.tracfone.com/rest/model/v1/messageview}ServiceQualificationManagementPort/ServiceQualificationPort}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://www.tracfone.com/rest/model/v1/messageview}ServiceQualificationManagementPort/ServiceQualificationPort/retrieveServiceQualification}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/BYOPServices}BYOPServices}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/ServiceQualification}ServiceQualification}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/CryptoServices/}CryptoServices}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PurchaseServices/}PurchaseServices}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/ILDServices/}ILDServices}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/SocialMediaServices/}SocialMediaServices}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/UrbanPropertyAddressService/}UrbanPropertyAddressService}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/EventManagementServices/}EventManagementServices}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/CoverageCheck}CoverageCheckService}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/ResetVoicemailPasswordService/}ResetVoicemailPasswordService}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneServices/}PhoneServices}}
#$AdminTask createPolicySetAttachment {-applicationName TracFoneSoapServicesEAR -attachmentType <%=@AppPolicySet_attachmenttype%> -policySet "<%=@AppPolicySet_policyset%>" -resources {WebService:/TracFoneSoapServices.jar:{http://b2b.tracfone.com/PhoneSettingsServices/}PhoneSettingsServices}}

# Bind the TracFone Soap Binding to the attachment created in the previous step
# 15.4 need to be done manually
# $AdminTask setBinding { -policyType WSSecurity -bindingLocation { -application $appname -attachmentId $attachmentid} -attachmentType <%=@AppPolicySet_attachmenttype%> -bindingName <%=@AppPolicySet_bindingname%>  }

# Save Changes
$AdminConfig save
