$AdminTask configureAdminWIMUserRegistry {-autoGenerateServerId true -primaryAdminId uid=<%=@dmgr_user%>,o=defaultWIMFileBasedRealm -ignoreCase true -customProperties -verifyRegistry false -serverIdPassword <%=@dmgr_user_password%>}
$AdminConfig save
