# 
# TRACFONE
# Change Transaction Service timeout values
#

# To strip out the name of the JVM from the displayed JVM info
proc getName {objectid} {
   set endIndex [expr [string first "(" $objectid] - 1]
   return [string range $objectid 0 $endIndex]
}

# # Chef to change these values based on ENV - START
set txTimeout	<%=@Transaction_Service_Timeout%>
set maxTimeout  <%=@Transaction_Service_MaxTimeout%>
# Chef to change these values based on ENV - END

# Modiying the properties
set cells [$AdminConfig list Cell]
foreach cell $cells {
        set nodes [$AdminConfig list Node $cell]
        foreach node $nodes {
                set servs [$AdminConfig list Server $node]
                foreach server $servs {
                        set serverName [getName $server]
                        if {[string compare $serverName dmgr] == 0 | [string compare $serverName nodeagent] == 0 | [string compare $serverName STWeb01] == 0} {
                        } else {
                                set txService [$AdminConfig list TransactionService $server]
                                set attrs [subst {{propogatedOrBMTTranLifetimeTimeout $maxTimeout} {totalTranLifetimeTimeout $txTimeout}}]
								$AdminConfig modify $txService $attrs
								}
                }
        }
}

# Save changes
$AdminConfig save
