#
# TRACFONE
# Global Security Updates - Add mail as login property
#

# Chef to change these values based on ENV - START
set ldapid "<%=@GSUpdate_ldapid%>"
set lprop "<%=@GSUpdate_lprop%>"
# Chef to change these values based on ENV - END

# Add mail as login property
$AdminTask updateIdMgrLDAPRepository {-id <%=@GSUpdate_ldapid%> -loginProperties <%=@GSUpdate_lprop%>}

# List ID properties
#$AdminTask getIdMgrRepository {-id Tracfone_LDAP1}

# Save Changes
$AdminConfig save