# For tracing purposes:
#$AdminControl trace com.ibm.*=all
# Author: Raghavendra


# Chef to change these values based on ENV - START
set policyset "<%=@AppPolicySet_policyset%>"
set bindingname "<%=@AppPolicySet_bindingname%>"
set attachmenttype "<%=@AppPolicySet_attachmenttype%>"
set connecttimeout "<%=@AppPolicySet_connecttimeout%>"
set proxyhost "<%=@AppPolicySet_proxyhost%>"
set proxyport "<%=@AppPolicySet_proxyport%>"
set tokengeneratorusername "<%=@AppPolicySet_okengeneratorusername%>"
set callbackhandleruserid "<%=@AppPolicySet_callbackhandleruserid%>"
set callbackhandlerpassword "<%=@AppPolicySet_callbackhandlerpassword%>"
# Chef to change these values based on ENV - END


#Create TracFone Soap Services Policy set
$AdminTask createPolicySet {-policySet "<%=@AppPolicySet_policyset%>" -policySetType application}
$AdminConfig save

#Add HTTPTransport Policy Type to the policy set
$AdminTask addPolicyType {-policySet "<%=@AppPolicySet_policyset%>" -policyType HTTPTransport -enabled true}
$AdminConfig save

#Set connection timneout to 30 seconds for HTTP Transport
$AdminTask setPolicyType {-policyType HTTPTransport -policySet "<%=@AppPolicySet_policyset%>" -attributes {{connectTimeout <%=@AppPolicySet_connecttimeout%>}}}
$AdminConfig save

#Add WSSecurity Policy type to the poliy set
$AdminTask addPolicyType {-policySet "<%=@AppPolicySet_policyset%>" -policyType WSSecurity -enabled true}
$AdminConfig save

#Set Request token policy
$AdminTask setPolicyType { -policySet "<%=@AppPolicySet_policyset%>" -policyType WSSecurity -attributes {{ SupportingTokens.request:auth_token.UsernameToken.WssUsernameToken10 true}}}
$AdminConfig save

#Unselect the option 'Message level protection' 
$AdminTask setPolicyType { -policySet "<%=@AppPolicySet_policyset%>" -policyType WSSecurity -attributes {{SupportingTokens.request:auth_token.UsernameToken.WssUsernameToken10 true} {Wss11.RequireSignatureConfirmation false}} -replace true}
$AdminConfig save

#Configure the Services General Client Policy Set Bindings
$AdminTask setBinding {-policyType HTTPTransport -attachmentType <%=@AppPolicySet_attachmenttype%> -bindingScope domain -attributes {{outRequestProxy:port <%=@AppPolicySet_proxyport%>}  {domain global} {outRequestProxy:host <%=@AppPolicySet_proxyhost%> } {outRequestProxy:userid <%=@AppPolicySet_callbackhandleruserid%>} {outRequestProxy:password <%=@AppPolicySet_callbackhandlerpassword%>} } -bindingName "<%=@AppPolicySet_bindingname%>" -bindingLocation }
$AdminConfig save

#Setup WSSecurity 
$AdminTask setBinding {-policyType WSSecurity -attachmentType <%=@AppPolicySet_attachmenttype%> -bindingScope domain -attributes { {application.securityoutboundbindingconfig.tokengenerator_999.name <%=@AppPolicySet_okengeneratorusername%>} {application.securityoutboundbindingconfig.tokengenerator_999.classname com.ibm.ws.wssecurity.wssapi.token.impl.CommonTokenGenerator} {application.securityoutboundbindingconfig.tokengenerator_999.valuetype.localname http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken} {application.securityoutboundbindingconfig.tokengenerator_999.enforcetokenversion false} {domain global} {application.securityoutboundbindingconfig.tokengenerator_999.callbackhandler.classname com.ibm.websphere.wssecurity.callbackhandler.UNTGenerateCallbackHandler} {application.securityoutboundbindingconfig.tokengenerator_999.jaasconfig.configname system.wss.generate.unt} } -bindingName "<%=@AppPolicySet_bindingname%>" -bindingLocation }
$AdminConfig save

#Setup Callback handler
$AdminTask setBinding {-policyType WSSecurity -attachmentType <%=@AppPolicySet_attachmenttype%> -bindingScope domain -attributes { {application.securityoutboundbindingconfig.tokengenerator_0.callbackhandler.classname com.ibm.websphere.wssecurity.callbackhandler.UNTGenerateCallbackHandler} {application.securityoutboundbindingconfig.tokengenerator_0.callbackhandler.basicauth.userid <%=@AppPolicySet_callbackhandleruserid%>} {domain global} {application.securityoutboundbindingconfig.tokengenerator_0.callbackhandler.basicauth.password <%=@AppPolicySet_callbackhandlerpassword%> } } -bindingName "<%=@AppPolicySet_bindingname%>" -bindingLocation }
$AdminConfig save