#!/bin/bash

cp -f <%=@portal_profile_parent_path%>/PortalServer/filesForDmgr/filesForDmgr.zip /opt/CHEF/filesForDmgr;
chmod 777 /opt/CHEF/filesForDmgr/filesForDmgr.zip;
unzip -o /opt/CHEF/filesForDmgr/filesForDmgr.zip -d /opt/CHEF/filesForDmgr/;

cp -rf /opt/CHEF/filesForDmgr/bin/ProfileManagement/plugins/com.ibm.wp.dmgr.pmt* <%=@was_dmgr_install_path%>/bin/ProfileManagement/plugins;
cp -f /opt/CHEF/filesForDmgr/lib/* <%=@was_dmgr_install_path%>/lib;
cp -f /opt/CHEF/filesForDmgr/plugins/com.ibm.patch.was.plugin.jar <%=@was_dmgr_install_path%>/plugins;
cp -f /opt/CHEF/filesForDmgr/plugins/com.ibm.wp.was.plugin.jar <%=@was_dmgr_install_path%>/plugins;
cp -rf /opt/CHEF/filesForDmgr/profileTemplates/management.portal.augment <%=@was_dmgr_install_path%>/profileTemplates;
cp -rf /opt/CHEF/filesForDmgr/profiles/Dmgr01/config/.repository/metadata_wkplc.xml <%=@was_dmgr_install_path%>/profiles/Dmgr01/config/.repository
