#
# TRACFONE
# Creates Object Pool Managers (OPM), Custom Object Pool (COP) and their corresponding Custom Properties
#

# Chef to change these values based on ENV - START
set OPM1_Name "<%=@ObjPoolMgr1_name%>"
set OPM1_jndiName "<%=@ObjPoolMgr1_jndiName%>"
set OPM2_Name "<%=@ObjPoolMgr2_name%>"
set OPM2_jndiName "<%=@ObjPoolMgr2_jndiName%>"
set COP_ClassName "<%=@CustObjPool_ClassName%>"
set COP_ImplClassName "<%=@CustObjPool_ImplClassName%>"
set COP_CustProp1_name "<%=@CustObjPool_CustProp1_name%>"
set COP_CustProp1_value "<%=@CustObjPool_CustProp1_value%>"
set COP_CustProp2_name "<%=@CustObjPool_CustProp2_name%>"
set COP_CustProp2_value "<%=@CustObjPool_CustProp2_value%>"
set COP_CustProp3_name "<%=@CustObjPool_CustProp3_name%>"
set COP_CustProp3_value "<%=@CustObjPool_CustProp3_value%>"
set COP_CustProp4_name "<%=@CustObjPool_CustProp4_name%>"
set COP_CustProp4_value "<%=@CustObjPool_CustProp4_value%>"
set COP_CustProp5_name "<%=@CustObjPool_CustProp5_name%>"
set COP_CustProp5_value "<%=@CustObjPool_CustProp5_value%>"
set COP_CustProp6_name "<%=@CustObjPool_CustProp6_name%>"
set COP_CustProp6_value "<%=@CustObjPool_CustProp6_value%>"
set COP2_CustProp1_name "<%=@CustObjPool2_CustProp1_name%>"
set COP2_CustProp1_value "<%=@CustObjPool2_CustProp1_value%>"
set COP2_CustProp2_name "<%=@CustObjPool2_CustProp2_name%>"
set COP2_CustProp2_value "<%=@CustObjPool2_CustProp2_value%>"
set COP2_CustProp3_name "<%=@CustObjPool2_CustProp3_name%>"
set COP2_CustProp3_value "<%=@CustObjPool2_CustProp3_value%>"
set COP2_CustProp4_name "<%=@CustObjPool2_CustProp4_name%>"
set COP2_CustProp4_value "<%=@CustObjPool2_CustProp4_value%>"
set COP2_CustProp5_name "<%=@CustObjPool2_CustProp5_name%>"
set COP2_CustProp5_value "<%=@CustObjPool2_CustProp5_value%>"
# Chef to change these values based on ENV - END

# Set Cell
set CellName [$AdminControl getCell]

# Get Object Pool Provider ID at Cell Level
set OPProvider_ID [$AdminConfig getid /Cell:$CellName/ObjectPoolProvider:ObjectPoolProvider/]

# Set Object Pool Manager Attributes
set fullList_OPM1 "{name {${OPM1_Name}}} {jndiName {${OPM1_jndiName}}}"
set OPM1_Config [$AdminConfig create ObjectPoolManagerInfo $OPProvider_ID $fullList_OPM1]

set fullList_OPM2 "{name {${OPM2_Name}}} {jndiName {${OPM2_jndiName}}}"
set OPM2_Config [$AdminConfig create ObjectPoolManagerInfo $OPProvider_ID $fullList_OPM2]

# Setup Object ID for Custom Object Pools
set cellid [$AdminConfig list Cell]
set OPM_id [$AdminConfig list ObjectPoolManagerInfo $cellid]

set count 0
foreach opm $OPM_id { set OPM_ID$count "$opm" ; incr count}
puts $OPM_ID0
puts $OPM_ID1

# Create Custom Object Pool
set fullList_COP "{poolClassName {${COP_ClassName}}} {poolImplClassName {${COP_ImplClassName}}}"
set COP1_config [$AdminConfig create ObjectPool $OPM_ID0 $fullList_COP]
set COP2_config [$AdminConfig create ObjectPool $OPM_ID1 $fullList_COP]
$AdminConfig save

# Create Custom Property for Custom Object Pool "CBO Http Connection Pool Manager"
set COP_id [$AdminConfig list ObjectPool $OPM_ID0]
set fullList_COP_CustProp1 "{name {${COP_CustProp1_name}}} {value {${COP_CustProp1_value}}}"
set COP_CustProp1_config [$AdminConfig create Property $COP_id $fullList_COP_CustProp1]

set fullList_COP_CustProp2 "{name {${COP_CustProp2_name}}} {value {${COP_CustProp2_value}}}"
set COP_CustProp2_config [$AdminConfig create Property $COP_id $fullList_COP_CustProp2]

set fullList_COP_CustProp3 "{name {${COP_CustProp3_name}}} {value {${COP_CustProp3_value}}}"
set COP_CustProp3_config [$AdminConfig create Property $COP_id $fullList_COP_CustProp3]

set fullList_COP_CustProp4 "{name {${COP_CustProp4_name}}} {value {${COP_CustProp4_value}}}"
set COP_CustProp4_config [$AdminConfig create Property $COP_id $fullList_COP_CustProp4]

set fullList_COP_CustProp5 "{name {${COP_CustProp5_name}}} {value {${COP_CustProp5_value}}}"
set COP_CustProp5_config [$AdminConfig create Property $COP_id $fullList_COP_CustProp5]

set fullList_COP_CustProp6 "{name {${COP_CustProp6_name}}} {value {${COP_CustProp6_value}}}"
set COP_CustProp6_config [$AdminConfig create Property $COP_id $fullList_COP_CustProp6]

# Create Custom Property for Custom Object Pool "NuLeefHttpPoolManager"
set COP2_id [$AdminConfig list ObjectPool $OPM_ID1]

set fullList_COP2_CustProp1 "{name {${COP2_CustProp1_name}}} {value {${COP2_CustProp1_value}}}"
set COP2_CustProp1_config [$AdminConfig create Property $COP2_id $fullList_COP2_CustProp1]

set fullList_COP2_CustProp2 "{name {${COP2_CustProp2_name}}} {value {${COP2_CustProp2_value}}}"
set COP2_CustProp2_config [$AdminConfig create Property $COP2_id $fullList_COP2_CustProp2]

set fullList_COP2_CustProp3 "{name {${COP2_CustProp3_name}}} {value {${COP2_CustProp3_value}}}"
set COP2_CustProp3_config [$AdminConfig create Property $COP2_id $fullList_COP2_CustProp3]

set fullList_COP2_CustProp4 "{name {${COP2_CustProp4_name}}} {value {${COP2_CustProp4_value}}}"
set COP2_CustProp4_config [$AdminConfig create Property $COP2_id $fullList_COP2_CustProp4]

set fullList_COP2_CustProp5 "{name {${COP2_CustProp5_name}}} {value {${COP2_CustProp5_value}}}"
set COP2_CustProp5_config [$AdminConfig create Property $COP2_id $fullList_COP2_CustProp5]


# Save changes
$AdminConfig save
