#
# TRACFONE
# Resource Environment Provider Custom Property
#

set cluster "<%=@StraightTalk_Cluster%>"

set CellName [$AdminControl getCell]

# Resource Environment Provider WP_AuthenticationService
set REP1_id [$AdminConfig getid /Cell:$CellName/ServerCluster:$cluster/ResourceEnvironmentProvider:WP\ AuthenticationService/]

set name [list name sessionvalidation.filterchain]
set value [list value "com.tracfone.portal.LocaleParamFilter;com.tracfone.portal.TeaLeafCookieFilter"]
set desc [list description "com.tracfone.portal.LocaleParamFilter;com.tracfone.portal.TeaLeafCookieFilter"]
set rpAttrs [list $name $value $desc]
set propSet [$AdminConfig showAttribute $REP1_id propertySet]
$AdminConfig create J2EEResourceProperty $propSet $rpAttrs

set name [list name logout.implicit.filterchain]
set value [list value "com.tracfone.portal.filters.logout.TNSCookieInvalidatorLogoutFilter;com.tracfone.portal.filters.logout.CacheInvalidatingLogoutFilter"]
set desc [list description "com.tracfone.portal.filters.logout.TNSCookieInvalidatorLogoutFilter;com.tracfone.portal.filters.logout.CacheInvalidatingLogoutFilter"]
set rpAttrs [list $name $value $desc]
set propSet [$AdminConfig showAttribute $REP1_id propertySet]
$AdminConfig create J2EEResourceProperty $propSet $rpAttrs

set name [list name logout.explicit.filterchain]
set value [list value "com.tracfone.portal.filters.logout.TNSCookieInvalidatorLogoutFilter;com.tracfone.portal.filters.logout.CacheInvalidatingLogoutFilter"]
set desc [list description "com.tracfone.portal.filters.logout.TNSCookieInvalidatorLogoutFilter;com.tracfone.portal.filters.logout.CacheInvalidatingLogoutFilter"]
set rpAttrs [list $name $value $desc]
set propSet [$AdminConfig showAttribute $REP1_id propertySet]
$AdminConfig create J2EEResourceProperty $propSet $rpAttrs

set name [list name filterchain.properties.com.tracfone.portal.SSLSessionValidator.sslRequiredProperty]
set value [list value SSLRequired]
set desc [list description SSLRequired]
set rpAttrs [list $name $value $desc]
set propSet [$AdminConfig showAttribute $REP1_id propertySet]
$AdminConfig create J2EEResourceProperty $propSet $rpAttrs

set name [list name filterchain.properties.com.tracfone.portal.SSLSessionValidator.secureCookiePath]
set value [list value /]
set desc [list description /]
set rpAttrs [list $name $value $desc]
set propSet [$AdminConfig showAttribute $REP1_id propertySet]
$AdminConfig create J2EEResourceProperty $propSet $rpAttrs

set name [list name filterchain.properties.com.tracfone.portal.SSLSessionValidator.secureCookieName]
set value [list value com.tracfone.SSL]
set desc [list description com.tracfone.SSL]
set rpAttrs [list $name $value $desc]
set propSet [$AdminConfig showAttribute $REP1_id propertySet]
$AdminConfig create J2EEResourceProperty $propSet $rpAttrs

set name [list name filterchain.properties.com.tracfone.portal.TeaLeafCookieFilter.teleafCookieDomain]
set value [list value .straighttalk.com]
set desc [list description .straighttalk.com]
set rpAttrs [list $name $value $desc]
set propSet [$AdminConfig showAttribute $REP1_id propertySet]
$AdminConfig create J2EEResourceProperty $propSet $rpAttrs

# Resource Environment Provider WP_ConfigService
set REP2_id [$AdminConfig getid /Cell:$CellName/ServerCluster:$cluster/ResourceEnvironmentProvider:WP\ ConfigService/]

set name [list name timeout.resume.session]
set value [list value false]
set desc [list description false]
set rpAttrs [list $name $value $desc]
set propSet [$AdminConfig showAttribute $REP2_id propertySet]
$AdminConfig create J2EEResourceProperty $propSet $rpAttrs

set name [list name uri.home.substitution]
set value [list value true]
set desc [list description true]
set rpAttrs [list $name $value $desc]
set propSet [$AdminConfig showAttribute $REP2_id propertySet]
$AdminConfig create J2EEResourceProperty $propSet $rpAttrs

set name [list name com.ibm.wps.resolver.servlet.AbstractServlet.enableGZIP]
set value [list value false]
set desc [list description false]
set rpAttrs [list $name $value $desc]
set propSet [$AdminConfig showAttribute $REP2_id propertySet]
$AdminConfig create J2EEResourceProperty $propSet $rpAttrs

set name [list name content.targeting.extension.enabled]
set value [list value true]
set desc [list description "Enables Content Targeting Extensions"]
set rpAttrs [list $name $value $desc]
set propSet [$AdminConfig showAttribute $REP2_id propertySet]
$AdminConfig create J2EEResourceProperty $propSet $rpAttrs

set name [list name friendly.pathinfo.enabled]
set value [list value false]
set desc [list description false]
set rpAttrs [list $name $value $desc]
set propSet [$AdminConfig showAttribute $REP2_id propertySet]
$AdminConfig create J2EEResourceProperty $propSet $rpAttrs

set name [list name friendly.pathinfo.invalid]
set value [list value true]
set desc [list description true]
set rpAttrs [list $name $value $desc]
set propSet [$AdminConfig showAttribute $REP2_id propertySet]
$AdminConfig create J2EEResourceProperty $propSet $rpAttrs

set name [list name friendly.redirect.enabled]
set value [list value true]
set desc [list description true]
set rpAttrs [list $name $value $desc]
set propSet [$AdminConfig showAttribute $REP2_id propertySet]
$AdminConfig create J2EEResourceProperty $propSet $rpAttrs

set name [list name state.decoding.fallback]
set value [list value false]
set desc [list description false]
set rpAttrs [list $name $value $desc]
set propSet [$AdminConfig showAttribute $REP2_id propertySet]
$AdminConfig create J2EEResourceProperty $propSet $rpAttrs

set name [list name wps.mappingurl.invalid]
set value [list value true]
set desc [list description true]
set rpAttrs [list $name $value $desc]
set propSet [$AdminConfig showAttribute $REP2_id propertySet]
$AdminConfig create J2EEResourceProperty $propSet $rpAttrs

# Resource Environment Provider WP_NavigatorService
set REP3_id [$AdminConfig getid /Cell:$CellName/ServerCluster:$cluster/ResourceEnvironmentProvider:WP\ NavigatorService/]

set name [list name public.session]
set value [list value true]
set desc [list description true]
set rpAttrs [list $name $value $desc]
set propSet [$AdminConfig showAttribute $REP3_id propertySet]
$AdminConfig create J2EEResourceProperty $propSet $rpAttrs

# Resource Environment Provider WP_StateManagerService
set REP4_id [$AdminConfig getid /Cell:$CellName/ServerCluster:$cluster/ResourceEnvironmentProvider:WP\ StateManagerService/]

set name [list name preprocessors]
set value [list value com.ibm.wps.state.preprocessors.locale.CookieSupportedLanguagePreProcessor,com.ibm.wps.state.preprocessors.urlmapping.URLMappingPreProcessor,com.ibm.wps.resolver.friendly.preprocessors.FriendlyPreProcessor,com.ibm.wps.resolver.portal.ResolvedPreprocessor,com.ibm.wps.state.preprocessors.selection.StandardPortalSelectionImpl,com.ibm.wps.state.preprocessors.selection.FragmentSelectionImpl,com.ibm.wps.state.preprocessors.selection.ResourceSelectionImpl,com.ibm.wps.state.preprocessors.eclipse.ExtensionPreProcessor,com.ibm.wps.state.preprocessors.portlet.RequestParameterMerger]
set desc [list description com.ibm.wps.state.preprocessors.locale.CookieSupportedLanguagePreProcessor,com.ibm.wps.state.preprocessors.urlmapping.URLMappingPreProcessor,com.ibm.wps.resolver.friendly.preprocessors.FriendlyPreProcessor,com.ibm.wps.resolver.portal.ResolvedPreprocessor,com.ibm.wps.state.preprocessors.selection.StandardPortalSelectionImpl,com.ibm.wps.state.preprocessors.selection.FragmentSelectionImpl,com.ibm.wps.state.preprocessors.selection.ResourceSelectionImpl,com.ibm.wps.state.preprocessors.eclipse.ExtensionPreProcessor,com.ibm.wps.state.preprocessors.portlet.RequestParameterMerger]
set rpAttrs [list $name $value $desc]
set propSet [$AdminConfig create J2EEResourcePropertySet $REP4_id {}]
$AdminConfig create J2EEResourceProperty $propSet $rpAttrs

set name [list name com.ibm.wps.state.preprocessors.locale.CookieSupportedLanguagePreProcessor.cookie.maxage]
set value [list value -1]
set desc [list description -1]
set rpAttrs [list $name $value $desc]
set propSet [$AdminConfig showAttribute $REP4_id propertySet]
$AdminConfig create J2EEResourceProperty $propSet $rpAttrs

# Save changes
$AdminConfig save