# 
# TRACFONE
# Create JVM Custom Properties, Change min/max heap sizes
#

# To strip out the name of the JVM from the displayed JVM info
proc getName {objectid} {
   set endIndex [expr [string first "(" $objectid] - 1]
   return [string range $objectid 0 $endIndex]
}

# Chef to change these values based on ENV - START
set cpname "<%=@jvm_CustProp_name%>"
set cpval "<%=@jvm_CustProp_value%>"
# Chef to change these values based on ENV - END

# Modiying the properties
set cells [$AdminConfig list Cell]
foreach cell $cells {
        set nodes [$AdminConfig list Node $cell]
        foreach node $nodes {
                set servs [$AdminConfig list Server $node]
                foreach server $servs {
                        set serverName [getName $server]
                        if {[string compare $serverName dmgr] == 0 | [string compare $serverName nodeagent] == 0 | [string compare $serverName STWeb01] == 0} {
                        } else {
                                set jvm [$AdminConfig list JavaVirtualMachine $server]
								set attrs [subst {{initialHeapSize <%=@jvm_minheap%>}{maximumHeapSize <%=@jvm_maxheap%>}} ]
								$AdminConfig modify $jvm $attrs
								
                                set customProps1 "{{name <%=@jvm_CustProp_name%>} {value <%=@jvm_CustProp_value%>}}"
								$AdminConfig modify $jvm [subst {{systemProperties {$customProps1}}}]
								
								set customProps2 "{{name <%=@jvm_CustProp2_name%>} {value <%=@jvm_CustProp2_value%>}}"
								$AdminConfig modify $jvm [subst {{systemProperties {$customProps2}}}]
								
								set customProps3 "{{name <%=@jvm_CustProp3_name%>} {value <%=@jvm_CustProp3_value%>}}"
								$AdminConfig modify $jvm [subst {{systemProperties {$customProps3}}}]
								
								set customProps4 "{{name <%=@jvm_CustProp4_name%>} {value <%=@jvm_CustProp4_value%>}}"
								$AdminConfig modify $jvm [subst {{systemProperties {$customProps4}}}]
								
								set customProps5 "{{name <%=@jvm_CustProp5_name%>} {value <%=@jvm_CustProp5_value%>}}"
								$AdminConfig modify $jvm [subst {{systemProperties {$customProps5}}}]
								}
                }
        }
}

# Save changes
$AdminConfig save
