# For tracing purposes:
# $AdminControl trace com.ibm.*=all
# Author: Raghavendra

set clustername "<%=@StraightTalk_Cluster%>"

set cluster [$AdminConfig getid /ServerCluster:$clustername/]

# Create shared library resources
set name [list name TracFonePortletLib]
set cp [list classPath {${USER_INSTALL_ROOT}/tracfone_portlet_lib}]
set rpAttrs [list $name $cp]
set library [$AdminConfig create Library $cluster $rpAttrs]
$AdminConfig save

set name [list name TracFoneServerLib]
set cp [list classPath {${USER_INSTALL_ROOT}/tracfone_server_lib}]
set rpAttrs [list $name $cp]
set library [$AdminConfig create Library $cluster $rpAttrs]
$AdminConfig save

set name [list name TracFoneServicesLib]
set cp [list classPath {${USER_INSTALL_ROOT}/tracfone_services_lib}]
set rpAttrs [list $name $cp]
set library [$AdminConfig create Library $cluster $rpAttrs]
$AdminConfig save

# Map TracFoneServerLib to Server Classloader
set memberlist [$AdminConfig showAttribute $cluster members]
set members [lindex $memberlist 0]
foreach member $members {
	set serverName [$AdminConfig showAttribute $member memberName]
	set server [$AdminConfig getid /Server:$serverName/]

	#set classLoad [$AdminConfig showAttribute $server classloaders]
	set classLoad [$AdminConfig list Classloader $server]
	set classLoader1 [lindex $classLoad 0]

	$AdminConfig create LibraryRef $classLoader1 {{libraryName TracFoneServerLib}}

	$AdminConfig save
}