# 
# TRACFONE
# Create Web Container Custom Property
#

# To strip out the name of the JVM from the displayed JVM info
proc getName {objectid} {
   set endIndex [expr [string first "(" $objectid] - 1]
   return [string range $objectid 0 $endIndex]
}

# Chef to change these values based on ENV - START
set propertyName "<%=@WebContainerCustomProp_name%>"
set propertyValue "<%=@WebContainerCustomProp_value%>"
set propertyName2 "<%=@WebContainerCustomProp_name_2%>"
set propertyValue2 "<%=@WebContainerCustomProp_value_2%>"
# Chef to change these values based on ENV - END

set a1 [list name $propertyName]
set a2 [list value $propertyValue]
set attrs [list $a1 $a2]
set a21 [list name $propertyName2]
set a22 [list value $propertyValue2]
set attrs2 [list $a21 $a22]

# Modiying the properties
set cells [$AdminConfig list Cell]
foreach cell $cells {
        set nodes [$AdminConfig list Node $cell]
        foreach node $nodes {
                set servs [$AdminConfig list Server $node]
                foreach server $servs {
                        set serverName [getName $server]
                        if {[string compare $serverName dmgr] == 0 | [string compare $serverName nodeagent] == 0 | [string compare $serverName STWeb01] == 0} {
                        } else {
                                puts "Server: $server"
								set webcontainer [$AdminConfig list WebContainer $server]
								$AdminConfig create Property $webcontainer $attrs
								$AdminConfig create Property $webcontainer $attrs2
                        }
                }
        }
}

# Save changes
$AdminConfig save
