#
# TRACFONE
# Create Virtual Portals
# Updated: For now, it's only adding Multi Language Support after Virtual Portals are created manually.
#

CFGENG_PATH='/opt/IBM/Portal/WebSphere1/ConfigEngine'

# Disable Managed Pages
$CFGENG_PATH/ConfigEngine.sh disable-managed-pages -DPortalAdminPwd=<%=@ldap_portal_admin_password%> -DWasPassword=<%=@ldap_was_admin_password%>

if [ $? -ne 0 ];then exit 1; fi

# Create Virtual Portal
#$CFGENG_PATH/ConfigEngine.sh create-virtual-portal -DVirtualPortalTitle=StraightTalk_Virtual_Portal -DVirtualPortalHostName=site.straighttalk.com -DVirtualPortalContext=straighttalk-vp -DPortalAdminPwd=<%=@ldap_portal_admin_password%> -DWasPassword=<%=@ldap_was_admin_password%>

#if [ $? -ne 0 ];then exit 1; fi

#$CFGENG_PATH/ConfigEngine.sh create-virtual-portal -DVirtualPortalTitle=WalmartStraightTalkKiosk -DVirtualPortalHostName=sitewalmart.straighttalk.com -DVirtualPortalContext=walmartStraighttalk-vp -DPortalAdminPwd=<%=@ldap_portal_admin_password%> -DWasPassword=<%=@ldap_was_admin_password%>

#if [ $? -ne 0 ];then exit 1; fi

$CFGENG_PATH/ConfigEngine.sh register-wcm-mls -DPortalAdminPwd=<%=@ldap_portal_admin_password%>

if [ $? -ne 0 ];then exit 1; fi

$CFGENG_PATH/ConfigEngine.sh deploy-wcm-mls -DPortalAdminPwd=<%=@ldap_portal_admin_password%> -DWasPassword=<%=@ldap_was_admin_password%>

if [ $? -ne 0 ];then exit 1; fi

$CFGENG_PATH/ConfigEngine.sh import-wcm-mls-data -DVirtualPortalContext=straighttalk-vp -DPortalAdminPwd=<%=@ldap_portal_admin_password%>

if [ $? -ne 0 ];then exit 1; fi

$CFGENG_PATH/ConfigEngine.sh import-wcm-mls-data -DVirtualPortalContext=walmartStraighttalk-vp -DPortalAdminPwd=<%=@ldap_portal_admin_password%>

if [ $? -ne 0 ];then exit 1; fi