*-----------------------------------------------------
* Generated response file used by the DB2 Setup wizard
* generation time: 8/18/16 1:36 PM
*-----------------------------------------------------
*  Product Installation
LIC_AGREEMENT       = ACCEPT
PROD       = ENTERPRISE_SERVER_EDITION
FILE       = <%=@db2_install_path%>
INSTALL_TYPE       = CUSTOM
COMP       = DB2_UPDATE_SERVICE
COMP       = COMMUNICATION_SUPPORT_TCPIP
COMP       = JDK
COMP       = JAVA_SUPPORT
COMP       = FIRST_STEPS
COMP       = REPL_CLIENT
COMP       = BASE_DB2_ENGINE
COMP       = LDAP_EXPLOITATION
COMP       = INSTANCE_SETUP_SUPPORT
COMP       = DB2_SAMPLE_DATABASE
COMP       = SQL_PROCEDURES
COMP       = DB2_DATA_SOURCE_SUPPORT
COMP       = BASE_CLIENT
COMP       = CONNECT_SUPPORT
*-----------------------------------------------
*  Das properties
*-----------------------------------------------
*DAS_CONTACT_LIST       = LOCAL
*  DAS user
*DAS_USERNAME       = dasusr1
*DAS_GROUP_NAME       = dasadm1
*DAS_HOME_DIRECTORY       = /home/dasusr1
*DAS_PASSWORD       = ABC123
*   ENCRYPTED       = DAS_PASSWORD
* ----------------------------------------------
*  Instance properties
* ----------------------------------------------
INSTANCE       = inst1
inst1.TYPE       = ese
*  Instance-owning user
inst1.NAME       = <%=@db2inst1_user%>
inst1.GROUP_NAME       = <%=@db2inst1_group%>
inst1.HOME_DIRECTORY       = <%=@db2inst1_home%>
inst1.PASSWORD       = <%=@db2inst1_password%>
*   ENCRYPTED       = inst1.PASSWORD
inst1.AUTOSTART       = YES
inst1.SVCENAME       = db2c_db2inst1
inst1.PORT_NUMBER       = 50000
inst1.FCM_PORT_NUMBER       = 60000
inst1.MAX_LOGICAL_NODES       = 4
inst1.CONFIGURE_TEXT_SEARCH       = NO
*  Fenced user
inst1.FENCED_USERNAME       = <%=@db2fence1_user%>
inst1.FENCED_GROUP_NAME       = <%=@db2fence1_group%>
inst1.FENCED_HOME_DIRECTORY       = <%=@db2fence1_home%>
inst1.FENCED_PASSWORD       = <%=@db2fence1_password%>
*   ENCRYPTED       = inst1.FENCED_PASSWORD
*-----------------------------------------------
*  Installed Languages
*-----------------------------------------------
LANG       = EN
*-----------------------------------------------
*  SA MP Base Component
*-----------------------------------------------
INSTALL_TSAMP = NO
INSTALL_ITMA = NO
