. <%=@db2inst1_home%>/sqllib/db2profile
DB2INST=<%=@db2inst1_user%>

# Set up the environment
db2set DB2COMM=TCPIP
db2set DB2_EVALUNCOMMITTED=YES
db2set DB2_INLIST_TO_NLJN=YES
db2 "UPDATE DBM CFG USING query_heap_sz 32768"
db2 "UPDATE DBM CFG USING sheapthres 0"
db2set DB2_ASYNC_IO_MAXFILOP=2048
db2set DB2_UNION_OPTIMIZATION="MAX_JOINS_IN_UNION=30"
db2set DB2_RR_TO_RS=yes
db2set DB2_ASYNC_IO_MAXFILOP=512
db2 update dbm cfg using DIAGSIZE 512

db2 update dbm cfg using svcename DB2_$DB2INST

for db in <%=@feedback_DbName%> <%=@jcr_DbName%> <%=@community_DbName%> <%=@release_DbName%> <%=@likeminds_DbName%> <%=@customization_DbName%>
do
db2 -v "CREATE DB $db using codeset UTF-8 territory us PAGESIZE 8192"
db2 -v "UPDATE DB CFG FOR $db USING applheapsz 4096"
db2 -v "UPDATE DB CFG FOR $db USING app_ctl_heap_sz 1024"
db2 -v "UPDATE DB CFG FOR $db USING stmtheap 32768"
db2 -v "UPDATE DB CFG FOR $db USING dbheap 2400"
db2 -v "UPDATE DB CFG FOR $db USING locklist 1000"
db2 -v "UPDATE DB CFG FOR $db USING logfilsiz 4000"
db2 -v "UPDATE DB CFG FOR $db USING logprimary 12"
db2 -v "UPDATE DB CFG FOR $db USING logsecond 20"
db2 -v "UPDATE DB CFG FOR $db USING logbufsz 1000"
db2 -v "UPDATE DB CFG FOR $db USING avg_appls 5"
db2 -v "UPDATE DB CFG FOR $db USING locktimeout 30"
db2 -v "UPDATE DB CFG FOR $db using AUTO_MAINT off"
done

db2 "CONNECT TO <%=@jcr_DbName%>"
db2 "CREATE BUFFERPOOL ICMLSFREQBP4 SIZE 1000 PAGESIZE 4 K"
db2 "CREATE BUFFERPOOL ICMLSVOLATILEBP4 SIZE 16000 PAGESIZE 4 K"
db2 "CREATE BUFFERPOOL ICMLSMAINBP32 SIZE 16000 PAGESIZE 32 K"
db2 "CREATE BUFFERPOOL CMBMAIN4 SIZE 1000 PAGESIZE 4 K"
db2 "alter bufferpool icmlsfreqbp4 size 1000 automatic"
db2 "alter bufferpool icmlsvolatilebp4 size 16000 automatic"
db2 "alter bufferpool icmlsmainbp32 size 16000 automatic"
db2 "alter bufferpool cmbmain4 size 1000 automatic"
db2 "CREATE REGULAR TABLESPACE ICMLFQ32 PAGESIZE 32 K MANAGED BY SYSTEM USING ('ICMLFQ32') BUFFERPOOL ICMLSMAINBP32"
db2 "CREATE REGULAR TABLESPACE ICMLNF32 PAGESIZE 32 K MANAGED BY SYSTEM USING ('ICMLNF32') BUFFERPOOL ICMLSMAINBP32"
db2 "CREATE REGULAR TABLESPACE ICMVFQ04 PAGESIZE 4 K MANAGED BY SYSTEM USING ('ICMVFQ04') BUFFERPOOL ICMLSVOLATILEBP4"
db2 "CREATE REGULAR TABLESPACE ICMSFQ04 PAGESIZE 4 K MANAGED BY SYSTEM USING ('ICMSFQ04') BUFFERPOOL ICMLSFREQBP4"
db2 "CREATE REGULAR TABLESPACE CMBINV04 PAGESIZE 4 K MANAGED BY SYSTEM USING ('CMBINV04') BUFFERPOOL CMBMAIN4"
db2 "CREATE SYSTEM TEMPORARY TABLESPACE ICMLSSYSTSPACE32 PAGESIZE 32 K MANAGED BY SYSTEM USING ('icmlssystspace32') BUFFERPOOL ICMLSMAINBP32"
db2 "CREATE SYSTEM TEMPORARY TABLESPACE ICMLSSYSTSPACE4 PAGESIZE 4 K MANAGED BY SYSTEM USING ('icmlssystspace4') BUFFERPOOL ICMLSVOLATILEBP4"
db2 "CREATE USER TEMPORARY TABLESPACE ICMLSUSRTSPACE4 PAGESIZE 4 K MANAGED BY SYSTEM USING ('icmlsusrtspace4') BUFFERPOOL ICMLSVOLATILEBP4"
db2 "UPDATE DB CFG FOR <%=@jcr_DbName%> USING DFT_QUERYOPT 2"
db2 "UPDATE DB CFG FOR <%=@jcr_DbName%> USING PCKCACHESZ 16384"
db2 update db cfg for <%=@jcr_DbName%> using MAXFILOP 512
db2 update db cfg for <%=@jcr_DbName%> using num_iocleaners 11
db2 update db cfg for <%=@jcr_DbName%> using num_ioservers 11
db2 update db cfg for <%=@jcr_DbName%> using dbheap automatic
db2 update db cfg for <%=@jcr_DbName%> using locklist automatic
db2 update db cfg for <%=@jcr_DbName%> using maxappls automatic
db2 update db cfg for <%=@jcr_DbName%> using stmtheap automatic
db2 alter bufferpool ibmdefaultbp size automatic
db2 alter bufferpool icmlsfreqbp4 size automatic
db2 alter bufferpool icmlsvolatilebp4 size automatic
db2 alter bufferpool icmlsmainbp32 size automatic
db2 alter bufferpool cmbmain4 size automatic
db2 update db cfg using LOGFILSIZ 13107
db2 update db cfg using LOGPRIMARY 100
db2 update db cfg using LOGSECOND 50
db2 "TERMINATE"

mkdir /db2data/$DB2INST/archived_logs
mkdir /db2data/$DB2INST/db2backups
mkdir /db2data/$DB2INST/db2backups/logs
mkdir /db2data/$DB2INST/db2backups/backups

for db in <%=@feedback_DbName%> <%=@jcr_DbName%> <%=@community_DbName%> <%=@release_DbName%> <%=@likeminds_DbName%> <%=@customization_DbName%>
do
db2 update db cfg for $db using LOGARCHMETH1 DISK:/db2data/$DB2INST/archived_logs
db2 update db cfg for $db using NUM_DB_BACKUPS 1
db2 update db cfg for $db using rec_his_retentn  2
db2 update db cfg for $db using AUTO_DEL_REC_OBJ ON
done

for db in <%=@feedback_DbName%> <%=@jcr_DbName%> <%=@community_DbName%> <%=@release_DbName%> <%=@likeminds_DbName%> <%=@customization_DbName%>
do
db2 backup db $db to  /dev/null
done

for db in <%=@feedback_DbName%> <%=@jcr_DbName%> <%=@community_DbName%> <%=@release_DbName%> <%=@likeminds_DbName%> <%=@customization_DbName%>
do
db2 -v deactivate db $db
done

for db in <%=@feedback_DbName%> <%=@jcr_DbName%> <%=@community_DbName%> <%=@release_DbName%> <%=@likeminds_DbName%> <%=@customization_DbName%>
do
db2 -v activate db $db
done

# Create trigger file
touch /opt/CHEF/portaldbcrt.done
