#
# TRACFONE
# Details Resource Environment Provider (REP), REP Referencables (REPR), Resource Environment Entries (REE)
#


set cluster "<%=@StraightTalk_Cluster%>"
set REP1_name "<%=@ResourceEnvProvider1_name%>"
set REP2_name "<%=@ResourceEnvProvider2_name%>"
set REPR_FCName "<%=@ResourceEnvProviderReferencable_FCName%>"
set REPR_CName "<%=@ResourceEnvProviderReferencable_CName%>"


set CellName [$AdminControl getCell]
set CLUS_id [$AdminConfig getid /Cell:$CellName/ServerCluster:$cluster/]

# Create Resource Environment Providers (REP)
set rpAttr "{name {${REP1_name}}}"
$AdminConfig create ResourceEnvironmentProvider $CLUS_id $rpAttr
set rpAttr "{name {${REP2_name}}}"
$AdminConfig create ResourceEnvironmentProvider $CLUS_id $rpAttr

# Create Resource Environment Provider Referencables (REPR)
set REP1_id [$AdminConfig getid /Cell:$CellName/ServerCluster:$cluster/ResourceEnvironmentProvider:$REP1_name/]
set REP2_id [$AdminConfig getid /Cell:$CellName/ServerCluster:$cluster/ResourceEnvironmentProvider:$REP2_name/]
set rpAttr "{factoryClassname {${REPR_FCName}}} {classname {${REPR_CName}}}"
$AdminConfig create Referenceable $REP1_id $rpAttr
set rpAttr "{factoryClassname {${REPR_FCName}}} {classname {${REPR_CName}}}"
$AdminConfig create Referenceable $REP2_id $rpAttr

# Create Resource Environment Entries (REE)
set rpAttr "{name all_sites} {jndiName rep/site/details/all_sites}"
$AdminConfig create ResourceEnvEntry $REP1_id $rpAttr
set rpAttr "{name <%=@env_name%>.straighttalk.com} {jndiName rep/site/details/site.straighttalk.com}"
$AdminConfig create ResourceEnvEntry $REP1_id $rpAttr
set rpAttr "{name <%=@env_name%>walmart.straighttalk.com} {jndiName rep/site/details/sitewalmart.straighttalk.com}"
$AdminConfig create ResourceEnvEntry $REP1_id $rpAttr
set rpAttr "{name <%=@env_name%>.securecashcard.com} {jndiName rep/site/details/site.securecashcard.com}"
$AdminConfig create ResourceEnvEntry $REP1_id $rpAttr
set rpAttr "{name <%=node['fqdn']%>} {jndiName rep/site/details/<%=node['fqdn']%>}"
$AdminConfig create ResourceEnvEntry $REP1_id $rpAttr
set rpAttr "{name <%=@env_name%>.straighttalk.com} {jndiName rep/mapquest/details/site.straighttalk.com}"
$AdminConfig create ResourceEnvEntry $REP2_id $rpAttr

# Save changes
$AdminConfig save

# Create Custom Property for REE
set REE1_REP1_id [$AdminConfig getid /Cell:$CellName/ServerCluster:$cluster/ResourceEnvironmentProvider:TF_SiteDetailsProvider/ResourceEnvEntry:all_sites/]
set propSet [$AdminConfig create J2EEResourcePropertySet $REE1_REP1_id {}]
set rpAttr "{name SCRIPT_STAGING} {value true}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name STAGING_ENABLED} {value true}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name COVERAGE_MAP_PROVIDER_URL} {value https://tracfone.cellmaps.com/?}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name TLS_WCM_LIBRARY} {value {StraightTalk Design}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name TLS_BROWSER_VERSIONS} {value {Chrome=30|Firefox=24|Internet Explorer=10|Microsoft Edge=11|Safari=7|Safari_mobile=6|Opera=17|Android=4.1|Windows Phone=8.1}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name TLS_BROWSER_UPGRADE_URLS} {value {Chrome=https://support.google.com/chrome/answer/95414?hl=en|Internet Explorer=http://windows.microsoft.com/en-us/internet-explorer/download-ie|Firefox=https://support.mozilla.org/en-US/kb/update-firefox-latest-version|Opera=http://www.opera.com/computer|Safari=https://support.apple.com/en-us/HT204416|Chrome_mobile=https://support.google.com/chrome/answer/95414?hl=en|Internet Explorer_mobile=http://www.windowsphone.com/en-us/how-to/wp8/update-central|Firefox_mobile=https://www.mozilla.org/en-US/firefox/android/|Opera_mobile=http://www.opera.com/mobile|Safari_mobile=https://support.apple.com/en-us/HT204204}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name RETURNING_USER_COOKIE_VALUE} {value returningUserCookieValue}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name RETURNING_USER_COOKIE_NAME} {value returningUserCookie}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name RETURNING_USER_COOKIE_EXPIRY_TIME} {value 86400000}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set REE2_REP1_id [$AdminConfig getid /Cell:$CellName/ServerCluster:$cluster/ResourceEnvironmentProvider:TF_SiteDetailsProvider/ResourceEnvEntry:<%=@env_name%>.straighttalk.com/]
set propSet [$AdminConfig create J2EEResourcePropertySet $REE2_REP1_id {}]
set rpAttr "{name WCM_BRAND_NAME} {value StraightTalk}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name TNS_BASE_URL} {value https://tst.tracnsave.straighttalk.com}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name TNS_RESPONSE_ENCODING} {value URLBASE64}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name TNS_COOKIE_DOMAIN} {value .straighttalk.com}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name TNS_COOKIE_MAX_AGE} {value 18000}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name TNS_VENDOR_ID} {value DBG}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name TNS_APP_ID} {value TNS}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name TNS_ENCRYPT_METHOD} {value PGP}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name TNS_ENCRYPT_STD} {value PGPSTD}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name SUPPORTED_LOCALES} {value EN,ES}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name SOURCE_SYSTEM} {value WEB}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name SHOW_EMPTY_SCRIPT_IDS} {value false}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name SHOP_STRAIGHT_TALK_BASE_URL} {value http://www-dev.shopstraighttalk.com/bpdirect/straighttalk/Start.do?action=view}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name SCRIPT_STAGING_IMG_PATH} {value /wps/contenthandler/dav/fs-type1/themes/ST_Refresh_ModularTheme/css/images/plus.gif}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name SCRIPT_STAGING_COOKIE_NAME} {value staging_mode}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name SCRIPT_STAGING} {value true}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name PARENT_BASE_DN_OVERRIDE} {value ou=users,dc=tracfone,dc=com}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MOTRICITY_URL} {value http://dsweb.straighttalk.com}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MOTRICITY_SHARED_SECRET} {value YourMotricityProvidedSecretHere}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MOTRICITY_COOKIE_DOMAIN} {value .straighttalk.com}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name GLOBAL_SCRIPT_VALUES} {value {company_name=Straight Talk;company_website=www.straighttalk.com;toll_free_number=1-877-430-2355}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name FLOW_NAMES} {value {ACTIVATION=ACTIVATION;ACTIVATION_ERROR_FLOW=STRAIGHT_ACTIVATION;BRAND_ACTIVATION=STRAIGHT_ACTIVATION;REACTIVATION=REACTIVATION;PORT_IN=PORT_IN;PHONE_UPGRADE=STRAIGHT_PHONE_UPGRADE;MIN_AND_PIN_REFILL=STRAIGHT_REDEMPTION;ADD_NOW=ADD_NOW;ADD_TO_QUEUE=ADD_TO_QUEUE;BUY_SERVICE_PLAN=BUY_SERVICE_PLAN;ENROLL_IN_AUTO_REFILL=ENROLL_IN_AUTO_REFILL;ADD_SERVICE_PLAN_NOW=ADD_SERVICE_PLAN_NOW;ACTIVATION_ONE_STEP=ACTIVATION_ONE_STEP;BALANCE_INQUIRY=BALANCE_INQUIRY;BRIGHT_POINT=STRAIGHT_BRIGHT_POINT;MOBILE_WEB=STRAIGHT_RINGTONES;FORGOT_USERNAME=FORGOT_USERNAME;REDEMPTION=STRAIGHT_REDEMPTION;BUY_ILD_PLAN=BUY_ILD_PLAN;BYOP_APN=BYOP_APN}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name DEFAULT_LOCALE} {value EN}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name BRAND_NAME} {value STRAIGHT_TALK}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name AGENT} {value CBO}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name WCS_REWARDS_STORE_ID} {value 10154}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name WCS_REWARDS_SIGNUP_URL} {value https://<%=@env_name%>shop.straighttalk.com/webapp/wcs/stores/servlet/LRPEnroll}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name WCS_REWARDS_REDEEM_URL} {value https://<%=@env_name%>shop.straighttalk.com/webapp/wcs/stores/servlet/en/straighttalk/loyalty-rewards-plans}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name WCS_REWARDS_INFO_URL} {value https://tracfone.augeocms.com/home/about}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name WCS_REWARDS_ENROLMENT_URL} {value https://<%=@env_name%>shop.straighttalk.com/webapp/wcs/stores/servlet/en/straighttalk/loyalty-rewards}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name WCS_REWARDS_BASE_URL} {value https://<%=@env_name%>shop.straighttalk.com/webapp/wcs/stores/servlet/}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name WCS_LOGOFF_CMD_URL} {value https://<%=@env_name%>shop.straighttalk.com/shop/Logoff?catalogId=10001&URL=}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name VERIZON_TABLET_STD_SIM_URI} {value {&gotoPhonelist=true&market=CDMAV&productFamily=CDMA%20BYOP&siteType=TR&url=PhoneDetails.do**action=view*productVariantExtensionId=35931228}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name VERIZON_TABLET_NANO_SIM_URI} {value {&gotoPhonelist=true&market=CDMAV&productFamily=CDMA%20BYOP&siteType=TR&url=PhoneDetails.do**action=view*productVariantExtensionId=35931228}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name VERIZON_TABLET_MICRO_SIM_URI} {value {&gotoPhonelist=true&market=CDMAV&productFamily=CDMA%20BYOP&siteType=TR&url=PhoneDetails.do**action=view*productVariantExtensionId=35931228}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name VERIZON_TABLET_DUAL_SIM_URI} {value {&gotoPhonelist=true&market=CDMAV&productFamily=CDMA%20BYOP&siteType=TR&url=PhoneDetails.do**action=view*productVariantExtensionId=35931228}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name VERIZON_PHONE_STD_SIM_URI} {value {&gotoPhonelist=true&market=CDMAV&productFamily=CDMA%20BYOP&siteType=TR&url=PhoneDetails.do**action=view*productVariantExtensionId=35931228}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name VERIZON_PHONE_NANO_SIM_URI} {value {&gotoPhonelist=true&market=CDMAV&productFamily=CDMA%20BYOP&siteType=TR&url=PhoneDetails.do**action=view*productVariantExtensionId=35931228}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name VERIZON_PHONE_MICRO_SIM_URI} {value {&gotoPhonelist=true&market=CDMAV&productFamily=CDMA%20BYOP&siteType=TR&url=PhoneDetails.do**action=view*productVariantExtensionId=35931228}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name VERIZON_PHONE_DUAL_SIM_URI} {value {&gotoPhonelist=true&market=CDMAV&productFamily=CDMA%20BYOP&siteType=TR&url=PhoneDetails.do**action=view*productVariantExtensionId=35931228}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name TNS_COOKIE_NAME} {value TracNSave_XWebObjid}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name TMOBILE_TABLET_STD_SIM_URI} {value {&siteType=TR&gotoPhonelist=true&productFamily=simcards&market=SIMTGSM5&locale=en&lang=EN}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name TMOBILE_TABLET_NANO_SIM_URI} {value {&siteType=TR&gotoPhonelist=true&productFamily=simcards&market=SIMTGSM5&locale=en&lang=EN}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name TMOBILE_TABLET_MICRO_SIM_URI} {value {&siteType=TR&gotoPhonelist=true&productFamily=simcards&market=SIMTGSM5&locale=en&lang=EN}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name TMOBILE_PHONE_STD_SIM_URI} {value {&gotoPhonelist=true&market=GSM5&productFamily=simcards&siteType=TR&url=PhoneDetails.do**action=view*productVariantExtensionId=17639196&_ga=1.255938507.1387249149.1466016733}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name TMOBILE_PHONE_NANO_SIM_URI} {value {&gotoPhonelist=true&market=GSM5&productFamily=simcards&siteType=TR&url=PhoneDetails.do**action=view*productVariantExtensionId=48186755}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name TMOBILE_PHONE_MICRO_SIM_URI} {value {&gotoPhonelist=true&market=GSM5&productFamily=simcards&siteType=TR&url=PhoneDetails.do**action=view*productVariantExtensionId=23714751}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name TMOBILE_TABLET_STD_SIM_URI} {value {&siteType=TR&gotoPhonelist=true&productFamily=simcards&market=SIMTGSM5&locale=en&lang=EN}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name SHOP_BRIGHT_POINT_URL_CARRIER} {value http://www.shopstraighttalk.com/bpdirect/straighttalk/Start.do?action=view}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name SHOP_BRIGHT_POINT_URL} {value http://www-dev.shopstraighttalk.com/bpdirect/straighttalk/Start.do?action=view}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name SHARE_INTEREST_BUTTON_ENABLED} {value false}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name SERVICE_PLANS_WCM_URL_ES} {value https://<%=@env_name%>.straighttalk.com/wps/wcm/connect/StraightTalk%20ES/Shop/Service+Plans/serviceplans?subtype=application/json&devicetype=StraightTalk%20Design/DeviceTypes/}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name SERVICE_PLANS_WCM_URL_EN} {value https://<%=@env_name%>.straighttalk.com/wps/wcm/connect/StraightTalk/Shop/Service+Plans/serviceplans?subtype=application/json&devicetype=StraightTalk%20Design/DeviceTypes/}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name RECAPTCHA_PUBLIC_KEY_STRAIGHTTALK} {value 6LdP3fMSAAAAAAbXSXaZNe3j57jXL7bUwcmGLpCc}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name RECAPTCHA_PRIVATE_KEY_STRAIGHTTALK} {value 6LdP3fMSAAAAAIqlOZLHKRQAUyNbis3SZYInfF8y}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name QAS_ADDRESS_VALIDATION_USER} {value 8c0d040703027e57cb45c57ebb4c60c92e97d963823f84e845a979c9da4332de300f0e16ed259512098a6fa1d5e5c6b564e7a6048110380dd4f6dafec19207}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name QAS_ADDRESS_VALIDATION_URL} {value http://sit1esbout.tracfone.com/ProOnDemand/V3/ProOnDemandService.asmx?WSDL}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name QAS_ADDRESS_VALIDATION_PASSWORD} {value 8c0d040703026b1fed948d35248860c92da13538fc7b20d9882dfa328fc49c52f873479c91e3c601ebb8afd4f9c486af76ee6f957cb1e971f6e6befbdf44}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name PROCESS_REWARDS} {value true}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name ORG_ID} {value 1snn5n9w}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name OL_ENABLED_PG_LIST} {value {tracfone.straighttalk.portal.activate.options.phone,tracfone.straighttalk.portal.activate.options.homephone,tracfone.straighttalk.portal.activate.options.hotspot,tracfone.straighttalk.portal.activate.options.homealert,tracfone.straighttalk.portal.activate.options.carconnection,tracfone.straighttalk.portal.activate.selectplan.anonymous,tracfone.straighttalk.portal.activate.selectplan.authenticated,tracfone.straighttalk.portal.activate.createaccount.sp,tracfone.straighttalk.portal.activate.checkout,tracfone.straighttalk.portal.activate.createaccount.port,tracfone.straighttalk.portal.activate.createaccount.pin,tracfone.straighttalk.portal.activate.login.upgrade}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name OL_ENABLED} {value true}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MYACCOUNT_APP_ANDROID_URL} {value https://play.google.com/store/apps/details?id=com.tracfone.straighttalk.myaccount}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name GSM_SHOP_BRIGHT_POINT_URL} {value http://www.shopstraighttalk.com/bpdirect/straighttalk/PhoneDetails.do?action=view}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name FACEBOOK_ENABLED} {value true}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name FACEBOOK_APP_ID} {value 336218879880446}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name DeviceFingerPrintFlag} {value true}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name DEFAULT_BUY_SIM_URL} {value  http://www-dev.shopstraighttalk.com/bpdirect/straighttalk/Start.do?action=view&gotoPhonelist=true&market=CDMAV&productFamily=CDMA%20BYOP&siteType=TR&url=PhoneDetails.do**action=view*productVariantExtensionId=35931228}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name BRAND_TEXT} {value {Straight Talk}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name BALANCE_INQUIRY_REQUEST_TIME_DELAY} {value 13}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name BALANCE_INQUIRY_REQUEST_INITIAL_DELAY} {value 0}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name BALANCE_INQUIRY_PROCESS_TIME_OUT} {value 60}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name BALANCE_INQUIRY_NO_OF_INVOCATIONS} {value 5}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name BALANCE_INQUIRY_DATA_UNITS_TYPE} {value MB}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name AUGEO_LOYALTY_USER_LANDING_PAGE} {value https://tracfone.augeocms.com/home/dashboard}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name AUGEO_LOYALTY_GUEST_LANDING_PAGE} {value https://tracfone.augeocms.com}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name ATT_TABLET_STD_SIM_URI} {value {&siteType=TR&gotoPhonelist=true&productFamily=simcards&market=SIMTGSM4&locale=en&lang=EN}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name ATT_TABLET_NANO_SIM_URI} {value {&siteType=TR&gotoPhonelist=true&productFamily=simcards&market=SIMTGSM4&locale=en&lang=EN}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name ATT_TABLET_MICRO_SIM_URI} {value {&siteType=TR&gotoPhonelist=true&productFamily=simcards&market=SIMTGSM4&locale=en&lang=EN}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name ATT_PHONE_STD_SIM_URI} {value {&gotoPhonelist=true&market=GSM4&productFamily=simcards&siteType=TR&url=PhoneDetails.do**action=view*productVariantExtensionId=13837697&_ga=1.260189389.1387249149.1466016733}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name ATT_PHONE_NANO_SIM_URI} {value { &gotoPhonelist=true&market=GSM4&productFamily=simcards&siteType=TR&url=PhoneDetails.do**action=view*productVariantExtensionId=28566468&_ga=1.33574753.1387249149.1466016733}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name ATT_PHONE_MICRO_SIM_URI} {value { &gotoPhonelist=true&market=GSM4&productFamily=simcards&siteType=TR&url=PhoneDetails.do**action=view*productVariantExtensionId=17638350&_ga=1.269026225.1387249149.1466016733}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name SHOP_IBM_COMMERCE_URL} {value http://<%=@env_name%>shop.straighttalk.com/shop/en/straighttalk}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

# Save changes
$AdminConfig save

set REE3_REP1_id [$AdminConfig getid /Cell:$CellName/ServerCluster:$cluster/ResourceEnvironmentProvider:TF_SiteDetailsProvider/ResourceEnvEntry:<%=@env_name%>walmart.straighttalk.com/]
set propSet [$AdminConfig create J2EEResourcePropertySet $REE3_REP1_id {}]
set rpAttr "{name SOURCE_SYSTEM} {value WEB}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name BRAND_NAME} {value STRAIGHT_TALK}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name PARENT_BASE_DN_OVERRIDE} {value ou=sit2users,dc=tracfone,dc=com}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name GLOBAL_SCRIPT_VALUES} {value {company_name=Straight Talk;company_website=www.straighttalk.com;toll_free_number=1-877-430-2355;}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name AGENT} {value CBO}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name SUPPORTED_LOCALES} {value EN,ES}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name DEFAULT_LOCALE} {value EN}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name FLOW_NAMES} {value {ACTIVATION=ACTIVATION;ACTIVATION_ERROR_FLOW=STRAIGHT_ACTIVATION;BRAND_ACTIVATION=STRAIGHT_ACTIVATION;REACTIVATION=REACTIVATION;PORT_IN=PORT_IN;PHONE_UPGRADE=STRAIGHT_PHONE_UPGRADE;MIN_AND_PIN_REFILL=STRAIGHT_REDEMPTION;ADD_NOW=ADD_NOW;ADD_TO_QUEUE=ADD_TO_QUEUE;BUY_SERVICE_PLAN=BUY_SERVICE_PLAN;ENROLL_IN_AUTO_REFILL=ENROLL_IN_AUTO_REFILL;ADD_SERVICE_PLAN_NOW=ADD_SERVICE_PLAN_NOW;ACTIVATION_ONE_STEP=ACTIVATION_ONE_STEP;BALANCE_INQUIRY=BALANCE_INQUIRY;BRIGHT_POINT=STRAIGHT_BRIGHT_POINT;MOBILE_WEB=STRAIGHT_RINGTONES;FORGOT_USERNAME=FORGOT_USERNAME;REDEMPTION=STRAIGHT_REDEMPTION;BUY_ILD_PLAN=BUY_ILD_PLAN;BYOP_APN=BYOP_APN}}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name WCM_BRAND_NAME} {value StraightTalk}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name SCRIPT_STAGING} {value true}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name SCRIPT_STAGING_COOKIE_NAME} {value staging_mode}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name SCRIPT_STAGING_IMG_PATH} {value /wps/contenthandler/dav/fs-type1/themes/ST_Walmart_Theme/css/images/plus.gif}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set REE4_REP1_id [$AdminConfig getid /Cell:$CellName/ServerCluster:$cluster/ResourceEnvironmentProvider:TF_SiteDetailsProvider/ResourceEnvEntry:<%=@env_name%>.securecashcard.com/]
set propSet [$AdminConfig create J2EEResourcePropertySet $REE4_REP1_id {}]
set rpAttr "{name SOURCE_SYSTEM} {value WEB}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name FIS_SITE} {value https://prepaid.securecashcard.com/index.cfm}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name BRAND_NAME} {value STRAIGHT_TALK}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

# Save changes
$AdminConfig save

set REE1_REP2_id [$AdminConfig getid /Cell:$CellName/ServerCluster:$cluster/ResourceEnvironmentProvider:TF_MapQuestDetailsProvider/ResourceEnvEntry:<%=@env_name%>.straighttalk.com/]
set propSet [$AdminConfig create J2EEResourcePropertySet $REE1_REP2_id {}]
set rpAttr "{name MQ_SPATIAL_SERVER_PORT} {value 80}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MQ_SPATIAL_SERVER_PATH} {value mq}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MQ_SPATIAL_SERVER_PASSWORD} {value xW7jw9Pk}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MQ_SPATIAL_SERVER_NAME} {value spatial.access.mapquest.com}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MQ_SPATIAL_SERVER_CLIENT_ID} {value 36750}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MQ_ROUTE_SERVER_NAME} {value route.access.mapquest.com}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MQ_ROUTE_SERVER_PORT} {value 80}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MQ_ROUTE_SERVER_PATH} {value mq}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MQ_ROUTE_SERVER_PASSWORD} {value xW7jw9Pk}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MQ_ROUTE_SERVER_CLIENT_ID} {value 36750}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MQ_MAP_SERVER_NAME} {value map.access.mapquest.com}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MQ_MAP_SERVER_PORT} {value 80}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MQ_MAP_SERVER_PATH} {value mq}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MQ_MAP_SERVER_PASSWORD} {value xW7jw9Pk}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MQ_MAP_SERVER_CLIENT_ID} {value 36750}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MQ_GEOCODE_SERVER_NAME} {value geocode.access.mapquest.com}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MQ_GEOCODE_SERVER_PORT} {value 80}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MQ_GEOCODE_SERVER_PATH} {value mq}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MQ_GEOCODE_SERVER_PASSWORD} {value xW7jw9Pk}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MQ_GEOCODE_SERVER_CLIENT_ID} {value 36750}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

set rpAttr "{name MQ_DATABASE_POOL_NAME} {value MQA.MQ_36750_MQ_36750_ST}"
$AdminConfig create J2EEResourceProperty $propSet $rpAttr

# Save changes
$AdminConfig save
