#
# TRACFONE
# Export Import Pages
#

XMLACC_PATH='/opt/IBM/Portal/WebSphere1/PortalServer/bin'
CFGENG_PATH='/opt/IBM/Portal/WebSphere1/ConfigEngine'

$XMLACC_PATH/xmlaccess.sh -user <%=@ldap_portal_admin_user%> -password <%=@ldap_portal_admin_password%> -url http://<%=node['fqdn']%>:10039/wps/config/straighttalk-vp -in <%=@portlets_path%>/pagemodels/PageModel_Export_ST.xml

if [ $? -ne 0 ];then exit 1; fi

#$XMLACC_PATH/xmlaccess.sh -user <%=@ldap_portal_admin_user%> -password <%=@ldap_portal_admin_password%> -url http://<%=node['fqdn']%>:10039/wps/config/straighttalk-vp -in <%=@portlets_path%>/pagemodels/pageExport_Application.xml
#if [ $? -ne 0 ];then exit 1; fi

#$XMLACC_PATH/xmlaccess.sh -user <%=@ldap_portal_admin_user%> -password <%=@ldap_portal_admin_password%> -url http://<%=node['fqdn']%>:10039/wps/config/straighttalk-vp -in <%=@portlets_path%>/pagemodels/pageExport_Admin.xml
#if [ $? -ne 0 ];then exit 1; fi

$XMLACC_PATH/xmlaccess.sh -user <%=@ldap_portal_admin_user%> -password <%=@ldap_portal_admin_password%> -url http://<%=node['fqdn']%>:10039/wps/config/walmartStraighttalk-vp -in <%=@portlets_path%>/pagemodels/PageModel_Export_WM.xml

if [ $? -ne 0 ];then exit 1; fi

# Disable Managed Pages (Added to Create Virtual Portal Script)
#$CFGENG_PATH/ConfigEngine.sh disable-managed-pages -DPortalAdminPwd=<%=@ldap_portal_admin_password%> -DWasPassword=<%=@ldap_was_admin_password%>