#
# TRACFONE
# Add Certificate for LDAP
#
# Chef to change these values based on ENV - START

# Set Cell
cellName = AdminControl.getCell()+"01"
# Add certificate
hostName = "<%=@node['fqdn']%>"
nodeName = hostName+'Node'



AdminControl.invoke('WebSphere:name=PluginCfgGenerator,process=dmgr,platform=common,node=<%=@was_sit_node_name%>,version=8.5.5.2,type=PluginCfgGenerator,mbeanIdentifier=PluginCfgGenerator,cell=<%=@was_sit_cell_name%>,spec=1.0', 'generate', '[<%=@was_dmgr_install_path%>/profiles/<%=@was_dmgr_profile_name%>/config <%=@was_sit_cell_name%> <%=@webserver_node_name%> <%=@webServerDefinition%> false]', '[java.lang.String java.lang.String java.lang.String java.lang.String java.lang.Boolean]')



# Save changes
AdminConfig.save()
