# For tracing purposes:
# $AdminControl trace com.ibm.*=all
# EAR file should be copied to /home/wasadmin
#

# Chef to change these values based on ENV - START
set cluster "<%=@StraightTalk_Cluster%>"
set CellName "<%=@ST_CellName%>"
set earfile "<%=@EAR_repository_path%>/TracFoneSoapServicesEAR.ear"
set appName "TracFoneSoapServicesEAR"

# Chef to change these values based on ENV - END

# Install the EAR
$AdminApp install $earfile {-appname TracFoneSoapServicesEAR -BindJndiForEJBNonMessageBinding {{ TracFoneSoapServices CoverageCheckService TracFoneSoapServices.jar,META-INF/ejb-jar.xml ejb/CoverageCheckService "" "" } { TracFoneSoapServices BYOPServices TracFoneSoapServices.jar,META-INF/ejb-jar.xml ejb/BYOPServices "" "" }{ TracFoneSoapServices PhoneServices TracFoneSoapServices.jar,META-INF/ejb-jar.xml ejb/PhoneServices "" "" }{ TracFoneSoapServices PortAutomationServices TracFoneSoapServices.jar,META-INF/ejb-jar.xml ejb/PortAutomationServices "" "" }{ TracFoneSoapServices PurchaseServices TracFoneSoapServices.jar,META-INF/ejb-jar.xml ejb/PurchaseServices "" "" }{ TracFoneSoapServices VASServices TracFoneSoapServices.jar,META-INF/ejb-jar.xml ejb/VASServices "" "" }{ TracFoneSoapServices EventManagementServices TracFoneSoapServices.jar,META-INF/ejb-jar.xml ejb/EventManagementServices "" "" }{ TracFoneSoapServices SecureCashService TracFoneSoapServices.jar,META-INF/ejb-jar.xml ejb/SecureCashService "" "" }{ TracFoneSoapServices PhoneSettingsServices TracFoneSoapServices.jar,META-INF/ejb-jar.xml ejb/PhoneSettingsServices "" "" }{ TracFoneSoapServices PlanInfoServices TracFoneSoapServices.jar,META-INF/ejb-jar.xml ejb/PlanInfoServices "" "" }{ TracFoneSoapServices PaymentMethodServices TracFoneSoapServices.jar,META-INF/ejb-jar.xml ejb/PaymentMethodServices "" "" }{ TracFoneSoapServices CryptoServices TracFoneSoapServices.jar,META-INF/ejb-jar.xml ejb/CryptoServices "" "" }{ TracFoneSoapServices SocialMediaService TracFoneSoapServices.jar,META-INF/ejb-jar.xml ejb/SocialMediaService "" "" }{ TracFoneSoapServices ResetVoicemailPasswordService TracFoneSoapServices.jar,META-INF/ejb-jar.xml ejb/ResetVoicemailPasswordService "" "" }{ TracFoneSoapServices PhoneUpgradeServices TracFoneSoapServices.jar,META-INF/ejb-jar.xml ejb/PhoneUpgradeServices "" "" }{ TracFoneSoapServices UrbanPropertyAddressService TracFoneSoapServices.jar,META-INF/ejb-jar.xml ejb/UrbanPropertyAddressService "" "" }{ TracFoneSoapServices ILDServices TracFoneSoapServices.jar,META-INF/ejb-jar.xml ejb/ILDServices "" "" }{ TracFoneSoapServices CheckActivationScenarioServices TracFoneSoapServices.jar,META-INF/ejb-jar.xml ejb/CheckActivationScenarioServices "" "" }{ TracFoneSoapServices InventoryManagementServices TracFoneSoapServices.jar,META-INF/ejb-jar.xml ejb/InventoryManagementServices "" "" }{ TracFoneSoapServices ServiceQualificationService TracFoneSoapServices.jar,META-INF/ejb-jar.xml ejb/ServiceQualificationService "" "" }{ TracFoneSoapServices BalanceInquiryService TracFoneSoapServices.jar,META-INF/ejb-jar.xml ejb/BalanceInquiryService "" "" }{ TracFoneSoapServices OAuthAccountServices TracFoneSoapServices.jar,META-INF/ejb-jar.xml ejb/OAuthAccountServices "" "" }} -MapModulesToServers {{ TracFoneSoapServices TracFoneSoapServices.jar,META-INF/ejb-jar.xml WebSphere:cell=<%=@ST_CellName%>,cluster=<%=@StraightTalk_Cluster%> }} -MapSharedLibForMod {{ TracFoneSoapServicesEAR META-INF/application.xml TracFoneServicesLib }}}

# Save changes
$AdminConfig save

# Check application status and start it up
set result [$AdminApp isAppReady TracFoneSoapServicesEAR]
while {$result == "false"} {
   ### Wait 15 seconds before checking again
   after 15000
   set result [$AdminApp isAppReady TracFoneSoapServicesEAR]
}
puts "Starting application..."
set appManager [$AdminControl queryNames cell=<%=@ST_CellName%>,node=<%=node['fqdn']%>Node,type=ApplicationManager,process=WebSphere_Portal,*]
$AdminControl invoke $appManager startApplication TracFoneSoapServicesEAR

# Change Class Loader Settings
set dep [$AdminConfig getid /Deployment:TracFoneSoapServicesEAR/]
set depObject [$AdminConfig showAttribute $dep deployedObject]
# Class Loader Order
set classldr [$AdminConfig showAttribute $depObject classloader]
$AdminConfig modify $classldr {{mode PARENT_LAST}}

# WAR Class Loader Policy
$AdminConfig modify $depObject {{warClassLoaderPolicy SINGLE}}
$AdminConfig save


