#
# Install Portlets
# TRACFONE
#

XMLACC_PATH='/opt/IBM/Portal/WebSphere1/PortalServer/bin'
WSADMIN_PATH='/opt/IBM/Portal/WebSphere1/wp_profile/bin'
CFGENG_PATH='/opt/IBM/Portal/WebSphere1/ConfigEngine'
WPS_URL='http://<%=node['fqdn']%>:10039/wps/config'
OUTFILE='<%=@portlets_path%>/portlets/STUpdatePortlet.xml.txt'
USER=<%=@ldap_portal_admin_user%>
PASSWD=<%=@ldap_portal_admin_password%>
DATA_PATH=<%=@portlets_path%>

# Install Portlets
$XMLACC_PATH/xmlaccess.sh -in $DATA_PATH/portlets/DeployPortlet.xml -user $USER -password $PASSWD -url $WPS_URL -out $OUTFILE

if [ $? -ne 0 ];then exit 1; fi

# Map Portlets to Shared Libraries
$WSADMIN_PATH/wsadmin.sh -lang jython -username <%=@ldap_was_admin_user%> -password <%=@ldap_was_admin_password%> -f $DATA_PATH/portlets/scripts/edit_app_libraries.py

if [ $? -ne 0 ];then exit 1; fi

# Activate Portlets
$CFGENG_PATH/ConfigEngine.sh activate-portlets -DPortalAdminPwd=<%=@ldap_portal_admin_password%>

if [ $? -ne 0 ];then exit 1; fi


