# For tracing purposes:
# $AdminControl trace com.ibm.*=all
# EAR file should be copied to /home/wasadmin
# 

# Chef to change these values based on ENV - START
set cluster "<%=@StraightTalk_Cluster%>"
set CellName "<%=@ST_CellName%>"
set warfile "<%=@EAR_repository_path%>/TracFoneTealeafProcessor.ear"
set applicationname "TracFoneTeaLeafProcessor"
# Chef to change these values based on ENV - END

# Install the war file
$AdminApp install $warfile {-appname TracFoneTeaLeafProcessor -MapModulesToServers {{ TracFoneTealeafProcessor TracFoneTealeafProcessor.war,WEB-INF/web.xml WebSphere:cell=<%=@ST_CellName%>,cluster=<%=@StraightTalk_Cluster%> }} -CtxRootForWebMod {{ TracFoneTealeafProcessor TracFoneTealeafProcessor.war,WEB-INF/web.xml /tealeaf }}}

# Save changes
$AdminConfig save

# Check application status and start it up
set result [$AdminApp isAppReady TracFoneTeaLeafProcessor]
while {$result == "false"} {
   ### Wait 15 seconds before checking again
   after 15000
   set result [$AdminApp isAppReady TracFoneTeaLeafProcessor]
}
puts "Starting application..."
set appManager [$AdminControl queryNames cell=<%=@ST_CellName%>,node=<%=node['fqdn']%>Node,type=ApplicationManager,process=WebSphere_Portal,*]
$AdminControl invoke $appManager startApplication TracFoneTeaLeafProcessor
