# For tracing purposes:
# $AdminControl trace com.ibm.*=all
# EAR file should be copied to /home/wasadmin
#

# Chef to change these values based on ENV - START
set cluster "<%=@StraightTalk_Cluster%>"
set CellName "<%=@ST_CellName%>"
set warfilepath "<%=@EAR_repository_path%>/TracFonePortalGlobalFilters.war"
set applicationname "TracFonePortalGlobalFilters"
# Chef to change these values based on ENV - END

# Install the war file
$AdminApp install $warfilepath {-appname TracFonePortalGlobalFilters -MapModulesToServers {{ TracFonePortalGlobalFilters TracFonePortalGlobalFilters.war,WEB-INF/web.xml WebSphere:cell=<%=@ST_CellName%>,cluster=<%=@StraightTalk_Cluster%> }} -CtxRootForWebMod {{ TracFonePortalGlobalFilters TracFonePortalGlobalFilters.war,WEB-INF/web.xml /globalportalfilters }}}

# Save changes
$AdminConfig save

# Check application status and start it up
set result [$AdminApp isAppReady TracFonePortalGlobalFilters]
while {$result == "false"} {
   ### Wait 15 seconds before checking again
   after 15000
   set result [$AdminApp isAppReady TracFonePortalGlobalFilters]
}
puts "Starting application..."
set appManager [$AdminControl queryNames cell=<%=@ST_CellName%>,node=<%=node['fqdn']%>Node,type=ApplicationManager,process=WebSphere_Portal,*]
$AdminControl invoke $appManager startApplication TracFonePortalGlobalFilters
