#
# TRACFONE
# Installs Stratigh Talk theme
# Theme war file should be copied to /home/wasadmin
#
import time

# Install ST theme
AdminApp.install('<%=@portlets_path%>/themes/ST_Refresh_RWD_Theme.war', '[ -nopreCompileJSPs -distributeApp -nouseMetaDataFromBinary -nodeployejb -appname ST_Refresh_RWD_Theme -createMBeansForResources -noreloadEnabled -nodeployws -validateinstall warn -noprocessEmbeddedConfig -filepermission .*\.dll=755#.*\.so=755#.*\.a=755#.*\.sl=755 -noallowDispatchRemoteInclude -noallowServiceRemoteInclude -asyncRequestDispatchType DISABLED -nouseAutoLink -noenableClientModule -clientMode isolated -novalidateSchema -contextroot /wps/straighttalkrwd -MapModulesToServers [[ StraightTalkRefreshRWDTheme ST_Refresh_RWD_Theme.war,WEB-INF/web.xml WebSphere:cell=<%=@ST_CellName%>,cluster=<%=@StraightTalk_Cluster%> ]] -CtxRootForWebMod [[ StraightTalkRefreshRWDTheme ST_Refresh_RWD_Theme.war,WEB-INF/web.xml /wps/straighttalkrwd ]]]' )

# Save changes
AdminConfig.save()

# Check application status and start it up
result = AdminApp.isAppReady('ST_Refresh_RWD_Theme')
while (result == "false"):
   ### Wait 15 seconds before checking again
   time.sleep(15)
   result = AdminApp.isAppReady('ST_Refresh_RWD_Theme')
print("Starting application...")
appManager = AdminControl.queryNames('cell=<%=@ST_CellName%>,node=<%=node['fqdn']%>Node,type=ApplicationManager,process=WebSphere_Portal,*')
print appManager
AdminControl.invoke(appManager, 'startApplication', 'ST_Refresh_RWD_Theme')
