#
# TRACFONE
# Installs Stratigh Talk theme
#

WSADMIN_PATH='<%=@wsadmin_home%>'
CFGENG_PATH='/opt/IBM/Portal/WebSphere1/ConfigEngine'
XMLACC_PATH='/opt/IBM/Portal/WebSphere1/PortalServer/bin'

# Install ST theme
$WSADMIN_PATH/bin/wsadmin.sh -lang jython -username <%=@was_user%> -password <%=@ldap_was_admin_password%> -f /opt/CHEF/scripts/InstallThemesStraightTalk.py

if [ $? -ne 0 ];then exit 1; fi

# Install ST_Walmart theme
$WSADMIN_PATH/bin/wsadmin.sh -lang jython -username <%=@was_user%> -password <%=@ldap_was_admin_password%> -f /opt/CHEF/scripts/InstallThemeSTWalmart.py

if [ $? -ne 0 ];then exit 1; fi

# Install Static Components
$CFGENG_PATH/ConfigEngine.sh webdav-deploy-zip-file -DTargetURI=dav:fs-type1/themes/ST_Refresh_RWD_ModularTheme -DZipFilePath=<%=@portlets_path%>/themes/ST_Refresh_RWD_ModularTheme.zip -DUpdateMode=merge -DWasPassword=<%=@ldap_was_admin_password%> -DPortalAdminPwd=<%=@ldap_portal_admin_password%>

if [ $? -ne 0 ];then exit 1; fi

$CFGENG_PATH/ConfigEngine.sh webdav-deploy-zip-file -DTargetURI=dav:fs-type1/themes/ST_BlankTheme -DZipFilePath=<%=@portlets_path%>/themes/ST_BlankTheme.zip -DUpdateMode=merge -DWasPassword=<%=@ldap_was_admin_password%> -DPortalAdminPwd=<%=@ldap_portal_admin_password%>

if [ $? -ne 0 ];then exit 1; fi

$CFGENG_PATH/ConfigEngine.sh webdav-deploy-zip-file -DTargetURI=dav:fs-type1/themes/ST_Walmart_Theme -DZipFilePath=<%=@portlets_path%>/themes/ST_Walmart_Theme.zip -DUpdateMode=merge -DWasPassword=<%=@ldap_was_admin_password%> -DPortalAdminPwd=<%=@ldap_portal_admin_password%>

if [ $? -ne 0 ];then exit 1; fi

$XMLACC_PATH/xmlaccess.sh -user wasadmin -password <%=@ldap_was_admin_password%> -url http://<%=node['fqdn']%>:10039/wps/config -in <%=@portlets_path%>/themes/ExportThemesAndSkins_<%=@env_name.upcase%>.xml -out <%=@portlets_path%>/registerThemeResults.xml

if [ $? -ne 0 ];then exit 1; fi
