#
# TRACFONE
# Installs Stratigh Talk theme
# Theme war file should be copied to /home/wasadmin
#

import time

# Install TracFoneWCMCustom.war
AdminApp.install('<%=@EAR_repository_path%>/TracFoneWCMCustom.war', '[ -nopreCompileJSPs -distributeApp -nouseMetaDataFromBinary -nodeployejb -appname TracFoneWCMCustom -createMBeansForResources -noreloadEnabled -nodeployws -validateinstall warn -noprocessEmbeddedConfig -filepermission .*\.dll=755#.*\.so=755#.*\.a=755#.*\.sl=755 -noallowDispatchRemoteInclude -noallowServiceRemoteInclude -asyncRequestDispatchType DISABLED -nouseAutoLink -noenableClientModule -clientMode isolated -novalidateSchema -contextroot TracFoneWCMCustom -MapModulesToServers [[ TracFoneWCMCustom TracFoneWCMCustom.war,WEB-INF/web.xml WebSphere:cell=<%=@ST_CellName%>,cluster=<%=@StraightTalk_Cluster%> ]]]' )

AdminConfig.save()

# Check application status and start it up
result = AdminApp.isAppReady('TracFoneWCMCustom')
while (result == "false"):
   ### Wait 15 seconds before checking again
   time.sleep(15)
   result = AdminApp.isAppReady('TracFoneWCMCustom')
print("Starting application...")
appManager = AdminControl.queryNames('cell=<%=@ST_CellName%>,node=<%=node['fqdn']%>Node,type=ApplicationManager,process=WebSphere_Portal,*')
print appManager
AdminControl.invoke(appManager, 'startApplication', 'TracFoneWCMCustom')

# Install TracFoneTelcoServicesEAR.ear
AdminApp.install('<%=@EAR_repository_path%>/TracFoneTelcoServicesEAR.ear', '[ -nopreCompileJSPs -distributeApp -nouseMetaDataFromBinary -nodeployejb -appname TracFoneTelcoServicesEAR -createMBeansForResources -noreloadEnabled -nodeployws -validateinstall warn -noprocessEmbeddedConfig -filepermission .*\.dll=755#.*\.so=755#.*\.a=755#.*\.sl=755 -noallowDispatchRemoteInclude -noallowServiceRemoteInclude -asyncRequestDispatchType DISABLED -nouseAutoLink -noenableClientModule -clientMode isolated -novalidateSchema -BindJndiForEJBNonMessageBinding [[ TracFoneTelcoServices CustomerDetailsServices TracFoneTelcoServices.jar,META-INF/ejb-jar.xml ejb/CustomerDetailsServices "" "" ][ TracFoneTelcoServices CustomerSubscriberBalanceServices TracFoneTelcoServices.jar,META-INF/ejb-jar.xml ejb/CustomerSubscriberBalanceServices "" "" ][ TracFoneTelcoServices CustomerSubscriptionServices TracFoneTelcoServices.jar,META-INF/ejb-jar.xml ejb/CustomerSubscriptionServices "" "" ][ TracFoneTelcoServices ProductOfferingServices TracFoneTelcoServices.jar,META-INF/ejb-jar.xml ejb/ProductOfferingServices "" "" ][ TracFoneTelcoServices CustomerManagementServices TracFoneTelcoServices.jar,META-INF/ejb-jar.xml ejb/CustomerManagementServices "" "" ]] -MapModulesToServers [[ TracFoneTelcoServices TracFoneTelcoServices.jar,META-INF/ejb-jar.xml WebSphere:cell=<%=@ST_CellName%>,cluster=<%=@StraightTalk_Cluster%> ]]]' )

AdminConfig.save()

# Check application status and start it up
result = AdminApp.isAppReady('TracFoneTelcoServicesEAR')
while (result == "false"):
   ### Wait 15 seconds before checking again
   time.sleep(15)
   result = AdminApp.isAppReady('TracFoneTelcoServicesEAR')
#print("Starting application...")
#appManager = AdminControl.queryNames('cell=<%=@ST_CellName%>,node=<%=node['fqdn']%>Node,type=ApplicationManager,process=WebSphere_Portal,*')
#print appManager
#AdminControl.invoke(appManager, 'startApplication', 'TracFoneTelcoServicesEAR')

# Save changes
AdminConfig.save()

AdminApp.edit('TracFoneTelcoServicesEAR', '[ -MapSharedLibForMod [[ TracFoneTelcoServicesEAR META-INF/application.xml TracFoneServicesLib ]]]' )

AdminConfig.save()
