#
# TRACFONE
# Create Mail Session 
#

# Chef to change these values based on ENV - START
set cluster "<%=@StraightTalk_Cluster%>"
set MailSession_Name "<%=@MailSession_Name%>"
set MailSession_jndiName "<%=@MailSession_jndiName%>"
set MailSession_mailTransportHost "<%=@MailSession_mailTransportHost%>"
set MailSession_debug "<%=@MailSession_debug%>"
set MailSession_strict "<%=@MailSession_strict%>"
# Chef to change these values based on ENV - END


# Set Cell
set CellName [$AdminControl getCell]


# Get Mail Provider ID at Cluster Level
set MailProvider_ID [$AdminConfig getid /Cell:$CellName/ServerCluster:$cluster/MailProvider:/]


# Set Mail Session attributes at Cluster Level
set fullList_MailSession "{name {${MailSession_Name}}} {jndiName {${MailSession_jndiName}}} {mailTransportHost {${MailSession_mailTransportHost}}} {debug {${MailSession_debug}}} {strict {${MailSession_strict}}}"
set MailSession_ID [$AdminConfig create MailSession $MailProvider_ID $fullList_MailSession]


# Save changes
$AdminConfig save