#
# TRACFONE
# Create Object Cache Instances
#

set cluster "<%=@StraightTalk_Cluster%>"

set CellName [$AdminControl getCell]

# Create Object Cache Instance
set CP_id [$AdminConfig getid /Cell:$CellName/ServerCluster:$cluster/CacheProvider:/]
set rpAttr "{name StraightTalkUserCache} {jndiName services/cache/STRAIGHT_TALK/usercache} {cacheSize 2000} {defaultPriority 1} {disableDependencyId false} {flushToDiskOnStop false} {enableCacheReplication false} {diskCachePerformanceLevel BALANCED} {enableDiskOffload false} {diskCacheEntrySizeInMB 0} {replicationType NONE} {diskCacheSizeInGB 0} {useListenerContext false} {pushFrequency 1} {diskCacheCleanupFrequency 0} {diskCacheSizeInEntries 0}"
$AdminConfig create ObjectCacheInstance $CP_id $rpAttr

set rpAttr "{name ST_WEB_EN_Scripts_Cache} {jndiName services/cache/STRAIGHT_TALK/WEB/EN/scripts_cache} {cacheSize 5000} {defaultPriority 1} {disableDependencyId false} {flushToDiskOnStop false} {enableCacheReplication false} {diskCachePerformanceLevel BALANCED} {enableDiskOffload false} {diskCacheEntrySizeInMB 0} {replicationType NONE} {diskCacheSizeInGB 0} {useListenerContext false} {pushFrequency 1} {diskCacheCleanupFrequency 0} {diskCacheSizeInEntries 0}"
$AdminConfig create ObjectCacheInstance $CP_id $rpAttr

set rpAttr "{name ST_WEB_ES_Scripts_Cache} {jndiName services/cache/STRAIGHT_TALK/WEB/ES/scripts_cache} {cacheSize 5000} {defaultPriority 1} {disableDependencyId false} {flushToDiskOnStop false} {enableCacheReplication false} {diskCachePerformanceLevel BALANCED} {enableDiskOffload false} {diskCacheEntrySizeInMB 0} {replicationType NONE} {diskCacheSizeInGB 0} {useListenerContext false} {pushFrequency 1} {diskCacheCleanupFrequency 0} {diskCacheSizeInEntries 0}"
$AdminConfig create ObjectCacheInstance $CP_id $rpAttr

set rpAttr "{name GENERIC_EN_Scripts_Cache} {jndiName services/cache/GENERIC/WEB/EN/scripts_cache} {cacheSize 5000} {defaultPriority 1} {disableDependencyId false} {flushToDiskOnStop false} {enableCacheReplication false} {diskCachePerformanceLevel BALANCED} {enableDiskOffload false} {diskCacheEntrySizeInMB 0} {replicationType NONE} {diskCacheSizeInGB 0} {useListenerContext false} {pushFrequency 1} {diskCacheCleanupFrequency 0} {diskCacheSizeInEntries 0}"
$AdminConfig create ObjectCacheInstance $CP_id $rpAttr

set rpAttr "{name GENERIC_ES_Scripts_Cache} {jndiName services/cache/GENERIC/WEB/ES/scripts_cache} {cacheSize 5000} {defaultPriority 1} {disableDependencyId false} {flushToDiskOnStop false} {enableCacheReplication false} {diskCachePerformanceLevel BALANCED} {enableDiskOffload false} {diskCacheEntrySizeInMB 0} {replicationType NONE} {diskCacheSizeInGB 0} {useListenerContext false} {pushFrequency 1} {diskCacheCleanupFrequency 0} {diskCacheSizeInEntries 0}"
$AdminConfig create ObjectCacheInstance $CP_id $rpAttr

set rpAttr "{name ST_WMKIOSK_EN_Scripts_Cache} {jndiName services/cache/STRAIGHT_TALK/WMKIOSK/EN/scripts_cache} {cacheSize 5000} {defaultPriority 1} {disableDependencyId false} {flushToDiskOnStop false} {enableCacheReplication false} {diskCachePerformanceLevel BALANCED} {enableDiskOffload false} {diskCacheEntrySizeInMB 0} {replicationType NONE} {diskCacheSizeInGB 0} {useListenerContext false} {pushFrequency 1} {diskCacheCleanupFrequency 0} {diskCacheSizeInEntries 0}"
$AdminConfig create ObjectCacheInstance $CP_id $rpAttr

set rpAttr "{name ST_WMKIOSK_ES_Scripts_Cache} {jndiName services/cache/STRAIGHT_TALK/WMKIOSK/ES/scripts_cache} {cacheSize 5000} {defaultPriority 1} {disableDependencyId false} {flushToDiskOnStop false} {enableCacheReplication false} {diskCachePerformanceLevel BALANCED} {enableDiskOffload false} {diskCacheEntrySizeInMB 0} {replicationType NONE} {diskCacheSizeInGB 0} {useListenerContext false} {pushFrequency 1} {diskCacheCleanupFrequency 0} {diskCacheSizeInEntries 0}"
$AdminConfig create ObjectCacheInstance $CP_id $rpAttr

set rpAttr "{name SocialMediaCache} {jndiName services/cache/SocialMediaCache} {cacheSize 5000} {defaultPriority 1} {disableDependencyId false} {flushToDiskOnStop false} {enableCacheReplication false} {diskCachePerformanceLevel BALANCED} {enableDiskOffload false} {diskCacheEntrySizeInMB 0} {replicationType NONE} {diskCacheSizeInGB 0} {useListenerContext false} {pushFrequency 1} {diskCacheCleanupFrequency 0} {diskCacheSizeInEntries 0}"
$AdminConfig create ObjectCacheInstance $CP_id $rpAttr


# Save changes
$AdminConfig save