<?xml version="1.0" encoding="UTF-8"?>
<!--The "acceptLicense" attribute has been deprecated. Use "-acceptLicense" command line option to accept license agreements.-->
<agent-input clean='true' temporary='true' acceptLicense='true'>
<server>
<repository location='<%=@portal_repository_path%>/Setup/eimage'/>
</server>
<profile id='IBM WebSphere Portal Server V8' installLocation='<%=@portal_profile_parent_path%>/PortalServer'>
<data key='eclipseLocation' value='<%=@portal_profile_parent_path%>/PortalServer'/>
<data key='user.import.profile' value='false'/>
<data key='cic.selector.os' value='aix'/>
<data key='cic.selector.arch' value='ppc'/>
<data key='cic.selector.ws' value='motif'/>
<data key='cic.selector.nl' value='en'/>
<data key='user.profile.config.mode,com.ibm.websphere.PORTAL.SERVER.v80' value='advanced'/>
<data key='user.was.installLocation,com.ibm.websphere.PORTAL.SERVER.v80' value='<%=@was4portal_install_path%>'/>
<data key='user.was.forward.installLocation,com.ibm.websphere.PORTAL.SERVER.v80' value='<%=@was4portal_install_path%>'/>
<data key='user.wp.install.type,com.ibm.websphere.PORTAL.SERVER.v80' value='base'/>
<data key='user.iim.currentlocale,com.ibm.websphere.PORTAL.SERVER.v80' value='en'/>
<data key='user.wp.hostname,com.ibm.websphere.PORTAL.SERVER.v80' value='<%=@wp_hostname%>'/>
<data key='user.wp.cellname,com.ibm.websphere.PORTAL.SERVER.v80' value='<%=@wp_hostname%>Cell'/>
<data key='user.wp.nodename,com.ibm.websphere.PORTAL.SERVER.v80' value='<%=@wp_hostname%>Node'/>
<data key='user.wp.profilename,com.ibm.websphere.PORTAL.SERVER.v80' value='wp_profile'/>
<data key='user.wp.userid,com.ibm.websphere.PORTAL.SERVER.v80' value='wpadmin'/>
<data key='user.wp.custom.contextroot,com.ibm.websphere.PORTAL.SERVER.v80' value='wps'/>
<data key='user.wp.custom.defaulthome,com.ibm.websphere.PORTAL.SERVER.v80' value='portal'/>
<data key='user.wp.custom.personalhome,com.ibm.websphere.PORTAL.SERVER.v80' value='myportal'/>
<data key='user.wp.custom.templates.path,com.ibm.websphere.PORTAL.SERVER.v80' value='<%=@portal_profile_parent_path%>/wp_profile'/>
<data key='user.wp.portnumber,com.ibm.websphere.PORTAL.SERVER.v80' value='10000'/>
<data key='user.wp.password,com.ibm.websphere.PORTAL.SERVER.v80' value='8EFwlcpk3uc/FInuC2K64g=='/>
<data key='user.wp.admin.port,com.ibm.websphere.PORTAL.SERVER.v80' value='10000'/>
<data key='user.wp.portal.port,com.ibm.websphere.PORTAL.SERVER.v80' value='10025'/>
<data key='user.common.installPath,com.ibm.websphere.PORTAL.SERVER.v80' value='<%=@portal_profile_parent_path%>'/>
<data key='user.configengine.profileLocation,com.ibm.websphere.PORTAL.SERVER.v80' value='<%=@portal_profile_parent_path%>/wp_profile/ConfigEngine'/>
<data key='user.configengine.binaryLocation,com.ibm.websphere.PORTAL.SERVER.v80' value='<%=@portal_profile_parent_path%>/ConfigEngine'/>
<data key='user.configengine.forward.binaryLocation,com.ibm.websphere.PORTAL.SERVER.v80' value='<%=@portal_profile_parent_path%>/ConfigEngine'/>
<data key='user.wp.profilepath,com.ibm.websphere.PORTAL.SERVER.v80' value='<%=@portal_profile_parent_path%>/wp_profile'/>
<data key='user.wp.forward.profilepath,com.ibm.websphere.PORTAL.SERVER.v80' value='<%=@portal_profile_parent_path%>/wp_profile'/>
<data key='user.was.uninstall.selected,com.ibm.websphere.PORTAL.SERVER.v80' value='false'/>
</profile>
<install modify='false'>
<offering id='com.ibm.websphere.PORTAL.SERVER.v80' version='8.0.0.20120421_0828' profile='IBM WebSphere Portal Server V8' features='ce.install,portal.binary,portal.profile' installFixes='none'/>
</install>
<preference name='com.ibm.cic.common.core.preferences.eclipseCache' value='/opt/IBM/Portal/IMShared'/>
<preference name='com.ibm.cic.common.core.preferences.connectTimeout' value='30'/>
<preference name='com.ibm.cic.common.core.preferences.readTimeout' value='45'/>
<preference name='com.ibm.cic.common.core.preferences.downloadAutoRetryCount' value='0'/>
<preference name='offering.service.repositories.areUsed' value='false'/>
<preference name='com.ibm.cic.common.core.preferences.ssl.nonsecureMode' value='false'/>
<preference name='com.ibm.cic.common.core.preferences.http.disablePreemptiveAuthentication' value='false'/>
<preference name='http.ntlm.auth.kind' value='NTLM'/>
<preference name='http.ntlm.auth.enableIntegrated.win32' value='true'/>
<preference name='com.ibm.cic.common.core.preferences.preserveDownloadedArtifacts' value='true'/>
<preference name='com.ibm.cic.common.core.preferences.keepFetchedFiles' value='false'/>
<preference name='PassportAdvantageIsEnabled' value='false'/>
<preference name='com.ibm.cic.common.core.preferences.searchForUpdates' value='false'/>
<preference name='com.ibm.cic.agent.ui.displayInternalVersion' value='false'/>
<preference name='com.ibm.cic.common.sharedUI.showErrorLog' value='true'/>
<preference name='com.ibm.cic.common.sharedUI.showWarningLog' value='true'/>
<preference name='com.ibm.cic.common.sharedUI.showNoteLog' value='true'/>
</agent-input>
