<VirtualHost *:7001>
	ServerName <%=@vhost_securecash%>

        ErrorLog logs/st/securecash-base-error.log
        CustomLog logs/st/securecash-base-access.log common
	
	RewriteEngine On
	# For debugging:
	# <IfModule mod_rewrite.c>
	# RewriteLog logs/mwallet/securecashcard-base-rewrite.log
	# RewriteLogLevel 3
	# </IfModule>
        RewriteCond %{REQUEST_URI} ""
        RewriteRule   ^/$  /wps/portal/  [R,L]

	RewriteRule   ^/safelink /wps/portal/securecash/safelink [NC,R=301,L]
	RewriteRule   ^/tracfone /wps/portal/securecash/safelink [NC,R=301,L]
	RewriteRule   ^/net10 /wps/portal/securecash/safelink [NC,R=301,L]
	RewriteRule   ^/straighttalk /wps/portal/securecash/safelink [NC,R=301,L]			
	RewriteRule   ^/simplemobile /wps/portal/securecash/safelink [NC,R=301,L]
	RewriteRule   ^/securecash /wps/portal/securecash/securecash [NC,R=301,L]		
	
</VirtualHost>
