#
# TRACFONE
# Setups WCM Content
#

XMLACC_PATH='/opt/IBM/Portal/WebSphere1/PortalServer/bin'
CFGENG_PATH='/opt/IBM/Portal/WebSphere1/ConfigEngine'

# Credential Vault
$XMLACC_PATH/xmlaccess.sh -in /opt/CHEF/scripts/CreateVaultSlot.xml -out /tmp/slot-out.xml -url http://<%=node['fqdn']%>:10039/wps/config -user wpsadmin -password <%=@ldap_portal_admin_password%>

if [ $? -ne 0 ];then exit 1; fi

# Portal Content Subscriber
$CFGENG_PATH/ConfigEngine.sh run-wcm-admin-task-subscribe-now -DPortalAdminPwd=<%=@ldap_portal_admin_password%> -DWasPassword=<%=@ldap_was_admin_password%> -Dsyndicator=http://dpisitbaust.tracfone.com:10039/wps/wcm -DvaultSlotName=SIT -DsyndicatorName=SITBAUST-<%=@env_name%>_Syndication -DsubscriberName=SITBAUST-<%=@env_name%> -DliveItems="Phones,Airtime Cards,ImageRendering,StraightTalk,StraightTalk Design,StraightTalk ES,SecureCashCard EN,SecureCashCard ES,MLConfiguration_V7,SimpleMobile Design,SimpleMobile ES,SimpleMobile EN" 

if [ $? -ne 0 ];then exit 1; fi
