	# START - TracFone StraightTalk url rewrites
	
	RewriteCond %{HTTP_HOST} ^([0-9]+\.[0-9]+\.[0-9]+\.[0-9]+)$
	RewriteCond %{REQUEST_URI} ""
	RewriteRule   ^/$  /wps/portal/  [R,L]

	RewriteCond %{HTTP_HOST} ^([0-9]+\.[0-9]+\.[0-9]+\.[0-9]+)$
	RewriteRule .* - [F,L]

	############
	# Activate #
	############
	RewriteRule   ^/activate-service https://%{SERVER_NAME}/wps/portal/home/h/a/landing [NC,R=301,L]
	RewriteRule   ^/activate /wps/portal/Activate [NC,R=301,L]

	RewriteRule   ^/secure/activate /wps/portal/Activate [NC,R=301,L]

	RewriteRule   ^/transfer-number https://%{SERVER_NAME}/wps/portal/home/h/a/landing/register [NC,R=301,L]

	#################
	# Check Balance #
	#################
	RewriteRule   ^/secure/checkbalance /wps/portal/CheckBalance [NC,R=301,L]
	#RewriteRule   ^/checkbalance /wps/portal/CheckBalance [NC,R=301,L]
	RewriteRule   ^/checkbalance /wps/portal/home/h/cbredirect [NC,R=301,L]
        RewriteRule   ^/totalWirelessCheckBalance https://<%=@env_name%>.totalwireless.com/wps/portal/home/h/checkbalance [NC,R=301,L]

	######################
	# Handset Protection #
	######################
	RewriteRule   ^/handsetprotection /wps/portal/handsetprotection [NC,R=301,L]
	RewriteRule   ^/easyexchange /wps/portal/home/h/handsetprotection/easyexchange [NC,R=301,L]
	RewriteRule   ^/easy-exchange /wps/portal/home/h/handsetprotection/easyexchange [NC,R=301,L]

	################
	# How It Works #
	################
        RewriteRule   ^/home/howitworks/autorefill /wps/portal/home/howitworks/autorefill [NC,R=301,L]
        RewriteRule   ^/howitworks/autorefill /wps/portal/home/howitworks/autorefill [NC,R=301,L]
	RewriteRule   ^/howitworks/auto-refill /wps/portal/home/howitworks/autorefill [NC,R=301,L]
        RewriteRule   ^/home/howitworks/reserve /wps/portal/home/howitworks/reserve [NC,R=301,L]
	RewriteRule   ^/howitworks/reserve /wps/portal/home/howitworks/reserve [NC,R=301,L]
	RewriteRule   ^/how-it-works /wps/portal/home/howitworks [NC,R=301,L]
	RewriteRule   ^/howitworks /wps/portal/home/howitworks [NC,R=301,L]

	RewriteRule   ^/Reserve /wps/portal/home/howitworks/reserve [NC,R=301,L]

	##############
	# My Account #
	##############
	RewriteRule   ^/myaccount/login /wps/portal/home/h/MyAccount/login [NC,R=301,L]
	RewriteRule   ^/myaccount/check-balance /wps/portal/home/h/checkbalance [NC,R=301,L]
	RewriteRule   ^/myaccount/phone-upgrade /wps/portal/home/h/c/landing [NC,R=301,L]
	RewriteRule   ^/myaccount/track-your-ticket https://%{SERVER_NAME}/wps/portal/home/h/trackyourticket/login/ [NC,R=301,L]
	RewriteRule   ^/myaccount /wps/myportal/MyAccount [NC,R=301,L]

	RewriteRule   ^/secure/MyAccount /wps/myportal/MyAccount [NC,R=301,L]
	
	RewriteRule   ^/wps/portal/home/h/MyAccount/myaccount /wps/portal/home/h/MyAccount [NC,R=301,L]

	#################
	# Phone Upgrade #
	#################
	RewriteRule   ^/phoneupgrade /wps/portal/PhoneUpgrade [NC,R=301,L]
	RewriteRule   ^/secure/phoneupgrade /wps/portal/PhoneUpgrade [NC,R=301,L]

	##########
	# Refill #
	##########
	RewriteRule   ^/autorefill /wps/portal/AutoRefill [NC,R=301,L]
	RewriteRule   ^/refill/set-up-auto-refill https://%{SERVER_NAME}/wps/portal/home/h/refill/setupautorefill/anonymous/ [NC,R=301,L]
	RewriteRule   ^/refillondemand https://%{SERVER_NAME}/wps/portal/home/h/refill/ondemand/anonymous [NC,R=301,L]

	RewriteRule   ^/secure/refillondemand /wps/portal/RefillOnDemand [NC,R=301,L]
	#RewriteRule   ^/secure/autorefill /wps/portal/AutoRefill [NC,R=301,L]
	RewriteRule   ^/secure/autorefill /wps/portal/home/h/refill/setupautorefill/anonymous [NC,R=301,L]
	RewriteRule   ^/secure/refill https://%{SERVER_NAME}/wps/portal/home/h/refill/ondemand/anonymous [NC,R=301,L]

	RewriteRule   ^/refill https://%{SERVER_NAME}/wps/portal/home/h/refill/ondemand/anonymous [NC,R=301,L]
	
	# Ensure anonymous refill page is loaded with a friendly URL when switching from HTTP to HTTPS
	RewriteCond %{REQUEST_URI} ^/wps/portal/home/h/refill/ondemand/anonymous
	RewriteCond %{HTTP:STKeepProtocol} !^true$
	RewriteRule ^/wps/portal/home/h/refill/ondemand/anonymous https://%{SERVER_NAME}/wps/portal/home/h/refill/ondemand/anonymous [NC,R=301,L]

	########
	# Shop #
	########
	RewriteRule   ^/home/shop/hotspot /wps/portal/home/shop/hotspot/ [NC,R=301,L]
	RewriteRule   ^/home/shop /wps/portal/home/shop [NC,R=301,L]

	RewriteRule   ^/shopphones_spanish /wps/portal/home/shop/phones/!ut/p/b1/04_SjzQyNzEyNzI2MdWP0I_KSyzLTE8syczPS8wB8aPM4l0MvHyNAx09jLz8TAwNPF0s_IzdQs2MDQIN9cP1o8BKDHAARwOoArgZQR7mpgaeAR7Owe7mfgYmBub4Ffi7Gen7eeTnpurnRnm5pjkqKgIAkeJ4eA!!/dl4/d5/L0lDUmlTUSEhL3dHa0FKRnNBLzRKVXFDQSEhL2Vz/ [NC,R=301,L]

	#RewriteRule   ^/shopphones /wps/portal/ShopPhones [NC,R=301,L]
	RewriteCond %{HTTP_COOKIE} chosen_locale=es [NC]
	RewriteRule ^/shopphones  https://<%=@env_name%>shop.straighttalk.com/shop/es/straighttalk/phones
	RewriteCond %{HTTP_COOKIE} !chosen_locale=es [NC]
	RewriteRule ^/shopphones  https://<%=@env_name%>shop.straighttalk.com/shop/en/straighttalk/phones
	RewriteRule   ^/ShopHomePhones /wps/portal/ShopHomePhones [NC,R=301,L]
	RewriteRule   ^/shop/phones /wps/portal/home/shop/phones [NC,R=301,L]
	RewriteRule   ^/shop/home-phones /wps/portal/home/shop/ShopHomePhones [NC,R=301,L]
	RewriteRule   ^/shop/homephone /wps/portal/home/shop/homephone/ [NC,R=301,L]
	RewriteRule   ^/shop/home-phone-service-plans /wps/portal/home/shop/homephone [NC,R=301,L]
	
	RewriteRule   ^/shop/mobile-hot-spot /wps/portal/home/shop/hotspot [NC,R=301,L]

	RewriteRule   ^/ShopSims /wps/portal/home/shop/sims [NC,R=301,L]
	RewriteRule   ^/shop/sims /wps/portal/home/shop/sims [NC,R=301,L]
	RewriteRule   ^/shop/sim-cards /wps/portal/home/shop/sims [NC,R=301,L]
	
	RewriteRule   ^/shop/service-plans https://%{SERVER_NAME}/wps/portal/home/shop/serviceplans [NC,R=301,L]
        RewriteRule   ^/shop/serviceplans https://%{SERVER_NAME}/wps/portal/home/shop/serviceplans [NC,R=301,L]
	RewriteRule   /shop/serviceplans/hotspotserviceplans /wps/portal/home/shop/hotspotserviceplans/ [NC,R=301,L]
	RewriteRule   ^/shop/hot-spot-service-plans /wps/portal/home/shop/hotspotserviceplans/ [NC,R=301,L]
	RewriteRule   ^/shop/mobile-service-plans https://%{SERVER_NAME}/wps/portal/home/shop/serviceplans [NC,R=301,L]

	RewriteRule   ^/shop/unlimited-international /wps/portal/home/shop/unlimitedinternational [NC,R=301,L]
	RewriteRule   ^/shop/internationalcalling /wps/portal/home/shop/unlimitedinternational [NC,R=301,L]
	RewriteRule   ^/shop/international-calling /wps/portal/home/shop/unlimitedinternational [NC,R=301,L]
        RewriteRule   ^/shop/international /wps/portal/home/shop/unlimitedinternational [NC,R=301,L]
	RewriteRule   ^/internationalcalling /wps/portal/home/shop/unlimitedinternational [NC,R=301,L]
	RewriteRule   ^/unlimitedinternational /wps/portal/home/shop/unlimitedinternational [NC,R=301,L]
        RewriteRule   ^/UnliNtl /wps/portal/home/shop/unlimitedinternational/ [NC,R=301,L]
	RewriteRule   /shop/serviceplans/unlimitedinternational /wps/portal/home/shop/unlimitedinternational [NC,R=301,L]

	RewriteRule   ^/shop/apps /wps/portal/home/shop/apps [NC,R=301,L]
	RewriteRule   ^/shop /wps/portal/home/shop [NC,R=301,L]

	#################
	# Service Plans #
	#################
	RewriteRule   ^/serviceplans /wps/portal/ServicePlans [NC,R=301,L]
	RewriteRule   ^/secure/serviceplans /wps/portal/ServicePlans [NC,R=301,L]
	
	###########
	# Support #
	###########
	RewriteRule   ^/support/faqs /wps/portal/home/help/faqs [NC,R=301,L]
	RewriteRule   ^/support/contact-us /wps/portal/home/support/contactus [NC,R=301,L]
	RewriteRule   ^/support/devices-manuals /wps/portal/home/support/phones [NC,R=301,L]
	RewriteRule   ^/support/data-settings /wps/portal/home/help/apn [NC,R=301,L]
	RewriteRule   ^/support/cancel-order /wps/portal/home/help/myorderstickets/cancelorder [NC,R=301,L]
	RewriteRule   ^/support/phones /wps/portal/home/support/phones [NC,R=301,L]
	RewriteRule   ^/support /wps/portal/home/help [NC,R=301,L]

	RewriteRule   ^/Contactus /wps/portal/home/support/contactus [NC,R=301,L]
	RewriteRule   ^/faq /wps/portal/home/help/faqs [NC,R=301,L]
	RewriteRule   ^/Phones /wps/portal/home/support/phones [NC,R=301,L]

	##############
	# Track Case #
	##############
	RewriteRule   ^/trackcase /wps/portal/TrackCase [NC,R=301,L]
	RewriteRule   ^/secure/trackcase /wps/portal/TrackCase [NC,R=301,L]

	#########
	# Legal #
	#########
	RewriteRule   ^/hearing-aid-compatibility /wps/portal/home/h/legal/hearing-aid-compatibility [NC,R=301,L]
	RewriteRule   ^/hearing /wps/portal/home/h/legal/hearing-aid-compatibility [NC,R=301,L]
	
	RewriteRule   ^/privacy-policy /wps/portal/home/h/legal/privacy-policy [NC,R=301,L]
	RewriteRule   ^/privacy /wps/portal/home/h/legal/privacy-policy [NC,R=301,L]

	RewriteRule   ^/terms-and-conditions /wps/portal/home/h/legal/terms-and-conditions [NC,R=301,L]
	RewriteRule   ^/terms /wps/portal/home/h/legal/terms-and-conditions [NC,R=301,L]
	
	RewriteRule   ^/vendor-code /wps/portal/home/h/legal/vendor-code [NC,R=301,L]
	RewriteRule   ^/vendor /wps/portal/home/h/legal/vendor-code [NC,R=301,L]

	########
	# Misc #
	########
	RewriteRule   ^/myportal /wps/myportal [NC,R=301,L]

	RewriteRule   ^/coverage/service-area /wps/portal/home/h/coverage/servicearea [NC,R=301,L]
	RewriteRule   ^/Coverage /wps/portal/Coverage [NC,R=301,L]
	RewriteRule   ^/AboutUs /wps/portal/home/h/about/ [NC,R=301,L]
	RewriteRule   ^/about /wps/portal/home/h/about/ [NC,R=301,L]
	RewriteRule   ^(/sitemap)(?!.xml).*$ /wps/portal/home/h/SiteMap [NC,R=301,L]
	RewriteRule   ^/home/sitemap /wps/portal/home/h/SiteMap [NC,R=301,L]
	RewriteRule   ^/411 /wps/portal/411 [NC,R=301,L]
	RewriteRule   ^/Apps /wps/portal/home/shop/apps [NC,R=301,L]
	RewriteRule   ^/UnSubscribe /wps/portal/UnSubscribe [NC,R=301,L]
	RewriteRule   ^/home_spanish /wps/portal/home/!ut/p/b1/04_Sj7SwNDC2MDWzMNKP0I_KSyzLTE8syczPS8wB8aPM4l0MvHyNAx09jII8zE0NPAM8nIPdzf0M_N2M9MP1o8BKDHAARwOoAhxmmBiY41cAssTPIz83VT84tVg_N8rLNc3RUREAmev4ag!!/dl4/d5/L2dBISEvZ0FBIS9nQSEh/ [NC,R=301,L]
	RewriteRule   ^/retail-locations https://%{SERVER_NAME}/wps/portal/home/h/retaillocations [NC,R=301,L]
	RewriteRule   ^/retaillocations https://%{SERVER_NAME}/wps/portal/home/h/retaillocations [NC,R=301,L]
	RewriteRule   ^/secure-cash-card /wps/portal/home/shop/securecash [NC,R=301,L]

	RewriteCond   %{QUERY_STRING} ^__blockname=straight.retailers.landing
	RewriteRule   ^/controller.block /wps/portal/Retailers [NC,R=301,L]

	RewriteCond %{REQUEST_URI} ^/simprogram [NC]
	RewriteRule   ^(.*)$ http://www.straighttalksim.com/ [R=301,L]

	RewriteMap st_faq_map txt:/opt/IBM/Portal/HTTPServer/conf/vhosts/st_faq_rewrite_map.txt
	RewriteCond %{QUERY_STRING} ^__blockname=straight.faq.category.landing&category=(.*)
	RewriteRule ^/controller.block /wps/poc?urile=wcm:path:/StraightTalk/help/FAQs/${st_faq_map:%1|} [NC,R,L]

	RewriteCond %{REQUEST_URI} ""
	RewriteRule   ^/$  /wps/portal/home  [R=301,L]
	RewriteRule   /index.jsp /wps/portal [R=301,L]

	#### CR 23686
	RewriteRule ^/Survey /wps/portal/home/h/survey/ [NC,R=301,L]
	RewriteRule ^/Surveymonkey https://www.surveymonkey.com?sm=hCieRszDc9Ih2e0GHhvMcg_3d_3d [NC,R=301,L]
	RewriteRule ^/Ringtones /wps/portal/home/shop/apps [NC,R=301,L]
	RewriteRule ^/Register https://%{SERVER_NAME}/wps/portal/home/h/a/landing [NC,R=301,L]
	RewriteRule ^/Enroll https://%{SERVER_NAME}/wps/portal/home/h/a/landing [NC,R=301,L]
	RewriteRule ^/index.html /wps/portal/home [NC,R=301,L]
	RewriteRule ^/Servicearea /wps/portal/home/h/coverage/servicearea [NC,R=301,L]
	RewriteRule ^/Retailers https://%{SERVER_NAME}/wps/portal/home/h/retaillocations [NC,R=301,L]
	RewriteRule ^/Data     /wps/portal/home/shop/apps [NC,R=301,L]
	RewriteRule ^/m/refill /wps/portal/home/h/waprefill [NC,R=301,L]
	RewriteRule ^/10Global /wps/portal/home/h/shopserviceplans/shop10ild [NC,R=301,L]

	#### APN SETTINGS
        RewriteCond %{REQUEST_URI} ^/byop_apn_spanish [NC]
        RewriteRule ^(.*)$ /wps/portal/home/help/apn?lang=es [NC,R=301,L]
        RewriteCond %{REQUEST_URI} ^/byop_apn [NC]
        RewriteRule ^(.*)$ /wps/portal/home/help/apn [NC,R=301,L]
	# END - TracFone StraightTalk url rewrites
	
	#### CR 27269 Home Alert
	#Other Services
	# RewriteRule ^/wps/portal/home/shop/unlimitedinternational /wps/portal/home/shop/otherservices/unlimitedinternational [NC,R=301,L]
	RewriteRule ^/wps/portal/home/shop/securecash /wps/portal/home/shop/otherservices/securecash [NC,R=301,L]
	RewriteRule ^/wps/portal/home/shop/apps /wps/portal/home/shop/otherservices/apps [NC,R=301,L]
	
	#Other Devices	
	#RewriteRule ^/wps/portal/home/shop/hotspot /wps/portal/home/shop/otherdevices/hotspot [NC,R=301,L]
	RewriteRule ^/wps/portal/home/shop/ShopHomePhones /wps/portal/home/shop/otherdevices/ShopHomePhones/ [NC,R=301,L]
	#Other Services	
	RewriteRule ^/wps/portal/home/shop/securecash /wps/portal/home/shop/otherservices/securecash/ [NC,R=301,L]
	RewriteRule ^/wps/portal/home/shop/app /wps/portal/home/shop/otherservices/apps [NC,R=301,L]
	####
        #Extras re-direct
	RewriteRule ^/wps/portal/home/shop/otherservices/securecash /wps/portal/home/extras/securecash [NC,R=301,L]
	RewriteRule ^/wps/portal/home/shop/otherservices/apps /wps/portal/home/extras/apps [NC,R=301,L]
	RewriteRule ^/wps/myportal/home/shop/otherservices/securecash /wps/myportal/home/extras/securecash [NC,R=301,L]
	RewriteRule ^/wps/myportal/home/shop/otherservices/apps /wps/myportal/home/extras/apps [NC,R=301,L]
	
	#### CR 33201 Force HTTPS For All Requests Not Processed By DataPower
	RewriteCond %{HTTP:STKeepProtocol} !^true$
	RewriteRule (.*) https://%{SERVER_NAME}%{REQUEST_URI} [NC,QSA,R=301,L]

	#### 5/6/2015 Release
	RewriteRule ^/wps/portal/home/h/a/landing https://%{SERVER_NAME}/wps/portal/home/h/a/options/byop [NC,R=301,L]
	
	#### CR 36532
	RewriteRule ^/wps/portal/home/extras/apps http://dsweb.straighttalk.com [NC,R=301,L]
	RewriteRule ^/wps/myportal/home/extras/apps http://dsweb.straighttalk.com [NC,R=301,L]	
	#### CR 34167
        RewriteCond %{REQUEST_URI} ^/wps/portal/cybersourceredirectImage [NC]
        RewriteRule   ^/wps/portal/cybersourceredirectImage(.*)$ https://h.online-metrix.net/fp/clear.png$1 [R=301,L]
        RewriteCond %{REQUEST_URI} ^/wps/myportal/cybersourceredirectImage [NC]
        RewriteRule   ^/wps/myportal/cybersourceredirectImage(.*)$ https://h.online-metrix.net/fp/clear.png$1 [R=301,L]
        RewriteCond %{REQUEST_URI} ^/wps/portal/cybersourceredirectSWF [NC]
        RewriteRule   ^/wps/portal/cybersourceredirectSWF(.*)$ https://h.online-metrix.net/fp/fp.swf$1 [R=301,L]
        RewriteCond %{REQUEST_URI} ^/wps/myportal/cybersourceredirectSWF [NC]
        RewriteRule   ^/wps/myportal/cybersourceredirectSWF(.*)$ https://h.online-metrix.net/fp/fp.swf$1 [R=301,L]
        RewriteCond %{REQUEST_URI} ^/wps/portal/cybersourceredirectJS [NC]
        RewriteRule   ^/wps/portal/cybersourceredirectJS(.*)$ https://h.online-metrix.net/fp/check.js$1 [R=301,L]
        RewriteCond %{REQUEST_URI} ^/wps/myportal/cybersourceredirectJS [NC]
        RewriteRule   ^/wps/myportal/cybersourceredirectJS(.*)$ https://h.online-metrix.net/fp/check.js$1 [R=301,L]
	
	#### CR 37639 08312015
	RewriteRule ^/wps/portal/home/h/legal/Unlocking(.*) https://www.tfwunlockpolicy.com [NC,R=301,L] 
	RewriteRule ^/wps/myportal/home/h/legal/Unlocking(.*) https://www.tfwunlockpolicy.com [NC,R=301,L]
	
	#### CR#35562 01122016
	RewriteRule   ^/updateprofile   https://%{SERVER_NAME}/wps/portal/home/h/mprofile?lang=en [NC,R=301,L]
	
	#### CR#33098 - 02 09 2016
	RewriteRule   ^/rewards https://<%=@env_name%>shop.straighttalk.com/shop/en/straighttalk/loyalty-rewards
	
	###    1-11-16 - rewrite for REL767_Core
	
	RewriteRule   /shop/serviceplans/homephone /wps/portal/home/shop/homephone  [NC,R=301,L]

		####### CR 43178 re-direct
	RewriteCond %{REQUEST_URI} /support/apn [NC]
    RewriteRule ^(.*)$ /wps/portal/home/help/apn [NC,R=301,L]	
	RewriteCond %{REQUEST_URI} /support/cancelorder [NC]
    RewriteRule ^(.*)$ /wps/portal/home/help/myorderstickets/cancelorder [NC,R=301,L]	
	RewriteCond %{REQUEST_URI} /shop/serviceplans/tablet [NC]
    RewriteRule ^(.*)$ /wps/portal/home/shop/tablet/ [NC,R=301,L]
	RewriteCond %{REQUEST_URI} /shop/serviceplans/remotealert [NC]
    RewriteRule ^(.*)$ /wps/portal/home/shop/remotealert/ [NC,R=301,L]
	RewriteCond %{REQUEST_URI} /shop/serviceplans/carconnection [NC]
    RewriteRule ^(.*)$ /wps/portal/home/shop/carconnection [NC,R=301,L]
	RewriteCond %{REQUEST_URI} /support/WifiCalling [NC]
    RewriteRule ^(.*)$ https://www.e911-reg.tracfone.com/wps/portal [NC,R=301,L]
	RewriteCond %{REQUEST_URI} /wps/portal/home/support/faqs [NC]
    RewriteRule ^(.*)$ /wps/portal/home/help/faqs [NC,R=301,L]


 ##### ST_REFRESH SYNC 07212016####
        #####STREFRESH
        RewriteRule   ^/Activate /wps/portal/home/Activate [NC,R=301,L]
        RewriteCond %{QUERY_STRING} ^(.*)
        RewriteRule   ^/wps/portal/home/h/BringYourOwnPhone/carrierselection /wps/portal/home/h/a/options/byop/?$1#KNOWCARRIER [NC,NE,R=301,L]
        RewriteCond %{QUERY_STRING} ^(.*)
        RewriteRule   ^/wps/myportal/home/h/BringYourOwnPhone/carrierselection /wps/myportal/home/h/a/options/byop/?$1#KNOWCARRIER [NC,NE,R=301,L]
        RewriteRule   ^/wps/portal/home/h/a/information /wps/portal/home/Activate [NC,R=301,L]
        RewriteRule   ^/wps/myportal/home/h/a/information /wps/myportal/home/Activate [NC,R=301,L]
	RewriteRule   ^/studentdiscount /wps/portal/home/h/discount [NC,R=301,L]

       RewriteRule ^/plus http://get.straighttalk.com/lease-a-phone [NC,R=301,L]
	RewriteRule   /byop/shop.php /wps/portal/home/Activate/byop [NC,R=301,L]
	RewriteRule   /shop/ShopHomePhone /wps/portal/home/shop/otherdevices/ShopHomePhones [NC,R=301,L]
	RewriteRule   /unlimitedinternational/ild-rates /wps/portal/home/h/ild-rates [NC,R=301,L]
	RewriteRule   ^/retail /wps/portal/home/h/retaillocations [NC,R=301,L]
	
	RewriteEngine On
	RewriteCond %{HTTP_COOKIE} com.ibm.wps.state.preprocessors.locale.LanguageCookie=es [NC]
	RewriteRule ^/EXTRAS_EN  http://extras.straighttalk.com/es/extras [NC,L,R=302] 

	RewriteEngine On
	RewriteCond %{HTTP_COOKIE} !com.ibm.wps.state.preprocessors.locale.LanguageCookie=es [NC]
	RewriteRule ^/EXTRAS_EN  http://extras.straighttalk.com/en/extras [NC,L,R=302] 

	RewriteEngine On
	RewriteCond %{HTTP_COOKIE} com.ibm.wps.state.preprocessors.locale.LanguageCookie=es [NC]
	RewriteRule ^/byop_tablets http://get.straighttalk.com/bring-your-own-tablet/es

	RewriteEngine On
	RewriteCond %{HTTP_COOKIE} !com.ibm.wps.state.preprocessors.locale.LanguageCookie=es [NC]
	RewriteRule ^/byop_tablets http://get.straighttalk.com/bring-your-own-tablet/ 
	##RewriteRule  /shop/phones   https://<%=@env_name%>shop.straighttalk.com/shop/en/straighttalk/phones [NC,R=301,L]
