#Get cell name
cellName = AdminControl.getCell()
#print "Cell name = " + cellName

AdminControl.invoke('WebSphere:name=ApplicationManager,process=dmgr,platform=proxy,node=<%=@dmgr_node_name%>,version=8.5.5.2,type=ApplicationManager,mbeanIdentifier=ApplicationManager,cell=' + cellName +',spec=1.0', 'startApplication', '[<%=@app_name%>]', '[java.lang.String]')
