<VirtualHost *:7001>
	DocumentRoot <%=@http_server_install_path%>/htdocs_straighttalk
	ServerName <%=@vhost_main%>
        ErrorDocument 404 /error/404/error404.html


	ErrorLog logs/st/st-base-error.log
	CustomLog logs/st/st-base-access.log common

	# TracFone StraightTalk url rewrites

	RewriteEngine On
	# For debugging:
	# <IfModule mod_rewrite.c>
	# RewriteLog logs/st/st-base-rewrite.log
	# RewriteLogLevel 3
	# </IfModule>

	Include <%=@http_server_install_path%>/conf/vhosts/st_rewrite.txt
        Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
        Header always set X-Frame-Options SAMEORIGIN

</VirtualHost>