propFile=<%=@wkplc_properties_path%>
tempFile=/tmp/temp.prop

sed 's/^personAccountParent=/personAccountParent=<%=@personAccountParent%>/g' ${propFile} > ${tempFile}
mv ${tempFile}  ${propFile}

sed 's/^groupParent=/groupParent=<%=@groupParent%>/g' ${propFile} > ${tempFile}
mv ${tempFile}  ${propFile}

#rm -fr ${tempFile}
