propFile=<%=@wkplc_properties_path%>
tempFile=/tmp/temp.prop

sed 's/^federated.delete.baseentry=/federated.delete.baseentry=o=defaultWIMFileBasedRealm/g' ${propFile} > ${tempFile}
mv ${tempFile}  ${propFile}

sed 's/^federated.delete.id=/federated.delete.id=InternalFileRepository/g' ${propFile} > ${tempFile}
mv ${tempFile}  ${propFile}

#rm -fr ${tempFile}
