<VirtualHost *:7001>
	ServerName <%=@vhost_walmart%>

	ErrorLog logs/st/walmart-base-error.log
	CustomLog logs/st/walmart-base-access.log common

	RewriteEngine On
	# For debugging:
	# <IfModule mod_rewrite.c>
	# RewriteLog logs/st/walmart-base-rewrite.log
	# RewriteLogLevel 3
	# </IfModule>
		
	Include <%=@http_server_install_path%>/conf/vhosts/st_rewrite.txt
        Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"	
</VirtualHost>
