<?xml version="1.0" encoding="UTF-8"?>
<!--The "acceptLicense" attribute has been deprecated. Use "-acceptLicense" command line option to accept license agreements.-->
<agent-input acceptLicense='true'>
<server>
<repository location='<%=@was_supplements_repository_path%>'/>
<repository location='<%=@was_supplements_fp_repository_path%>'/>
<repository location='<%=@was_supplements_wct_fp_repository_path%>'/>
</server>
<profile id='IBM HTTP Server V8.5' installLocation='<%=@http_server_install_path%>'>
<data key='eclipseLocation' value='<%=@http_server_install_path%>'/>
<data key='user.import.profile' value='false'/>
<data key='cic.selector.os' value='aix'/>
<data key='cic.selector.arch' value='ppc'/>
<data key='cic.selector.ws' value='motif'/>
<data key='user.ihs.http.server.service.name' value='none'/>
<data key='user.ihs.httpPort' value='<%=@http_server_port%>'/>
<data key='user.ihs.installHttpService' value='false'/>
<data key='cic.selector.nl' value='en'/>
</profile>
<install modify='false'>
<offering id='com.ibm.websphere.IHS.v85' version='8.5.5009.20160225_0435' profile='IBM HTTP Server V8.5' features='core.feature,arch.64bit' installFixes='none'/>
</install>
<profile id='Web Server Plug-ins for IBM WebSphere Application Server V8.5' installLocation='<%=@was_plugins_install_path%>'>
<data key='eclipseLocation' value='<%=@was_plugins_install_path%>'/>
<data key='user.import.profile' value='false'/>
<data key='cic.selector.os' value='aix'/>
<data key='cic.selector.arch' value='ppc'/>
<data key='cic.selector.ws' value='motif'/>
<data key='cic.selector.nl' value='en'/>
</profile>
<install modify='false'>
<offering id='com.ibm.websphere.PLG.v85' version='8.5.5009.20160225_0435' profile='Web Server Plug-ins for IBM WebSphere Application Server V8.5' features='core.feature,com.ibm.jre.6_64bit' installFixes='none'/>
</install>
<profile id='WebSphere Customization Toolbox V8.5' installLocation='<%=@wct_install_path%>'>
<data key='eclipseLocation' value='<%=@wct_install_path%>'/>
<data key='user.import.profile' value='false'/>
<data key='cic.selector.os' value='aix'/>
<data key='cic.selector.arch' value='ppc'/>
<data key='cic.selector.ws' value='motif'/>
<data key='cic.selector.nl' value='en'/>
</profile>
<install modify='false'>
<offering id='com.ibm.websphere.WCT.v85' version='8.5.5009.20160225_0435' profile='WebSphere Customization Toolbox V8.5' features='core.feature,pct' installFixes='none'/>
</install>
<preference name='com.ibm.cic.common.core.preferences.eclipseCache' value='<%=@im_shared_path%>'/>
<preference name='com.ibm.cic.common.core.preferences.connectTimeout' value='30'/>
<preference name='com.ibm.cic.common.core.preferences.readTimeout' value='45'/>
<preference name='com.ibm.cic.common.core.preferences.downloadAutoRetryCount' value='0'/>
<preference name='offering.service.repositories.areUsed' value='false'/>
<preference name='com.ibm.cic.common.core.preferences.ssl.nonsecureMode' value='false'/>
<preference name='com.ibm.cic.common.core.preferences.http.disablePreemptiveAuthentication' value='false'/>
<preference name='http.ntlm.auth.kind' value='NTLM'/>
<preference name='http.ntlm.auth.enableIntegrated.win32' value='true'/>
<preference name='com.ibm.cic.common.core.preferences.preserveDownloadedArtifacts' value='true'/>
<preference name='com.ibm.cic.common.core.preferences.keepFetchedFiles' value='false'/>
<preference name='PassportAdvantageIsEnabled' value='false'/>
<preference name='com.ibm.cic.common.core.preferences.searchForUpdates' value='false'/>
<preference name='com.ibm.cic.agent.ui.displayInternalVersion' value='false'/>
<preference name='com.ibm.cic.common.sharedUI.showErrorLog' value='true'/>
<preference name='com.ibm.cic.common.sharedUI.showWarningLog' value='true'/>
<preference name='com.ibm.cic.common.sharedUI.showNoteLog' value='true'/>
</agent-input>
