configType="remote"
webServerSelected="ihs"
webServerConfigFile1="<%=@http_server_install_path%>/conf/httpd.conf"
webServerConfigFile2=""
webServerPortNumber="<%=@http_server_port%>"
webServerDefinition="<%=@webServerDefinition%>"
wasMachineHostName="<%=@hostname%>"
mapWebServerToApplications="true"
webServerHostName="<%=@hostname%>"
webServerInstallArch="64"
enableAdminServerSupport="false"
webServerType="IHS"
