##############################################################################
#
# Configuration Framework Component Properties File
#
# key = value
#
# NOTE: Do NOT enclose any value in quotes!
# NOTE: Windows paths must use '/', not '\'.
# NOTE: Windows long paths are OK
# NOTE: Properties are immutable. Once set, they cannot be overriden.
#       Precedence is as follows, in decending order:
#           Properties set on command line are read first (-DMyNode=somenode)
#           Properties set in properties file are read next,
#           Properties set in buildfile file are read last.
#
###############################################################################


##### BEGIN WP.CONTENT.REPOSITORY.INSTALL PROPERTIES #####
# WP.CONTENT.REPOSITORY.INSTALL loaded from: /opt/XYZWEBSPHEREXYZ/PortalServer/jcr/wp.content.repository.install/wp.content.repository.install_dbdomain.properties


# *****************************************************************
#
# Licensed Materials - Property of IBM
#
# 5724-L21
#
# Copyright IBM Corp. 2006  All Rights Reserved.
#
# US Government Users Restricted Rights - Use, duplication or
# disclosure restricted by GSA ADP Schedule Contract with
# IBM Corp.
#
# *****************************************************************

###################################################################################################
#
# Index
#
# Properties by Section 
#
#  1. JCR Properties
#
###################################################################################################
    

###################################################################################################
###################################################################################################
#
# 1) JCR Properties
#
#    The following properties are required to configure the JCR.
#
###################################################################################################
###################################################################################################

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.blobBufferpool
#
# Description:  Required only for IBM DB2 for z/OS and OS/390. The name of the bufferpool in which 
#               the BLOB tablespaces is created. If it is not specified, then the default value 
#               specified in the database is used.
#
#     Default:  BP32K1
#
#    Examples:  None available

jcr.blobBufferpool=BP32K1
##### END WP.CONTENT.REPOSITORY.INSTALL PROPERTIES #####

##### BEGIN PREREQ.PZN PROPERTIES #####
# PREREQ.PZN loaded from: /opt/XYZWEBSPHEREXYZ/PortalServer/pzn/prereq.pzn/prereq.pzn_dbdomain.properties


# *****************************************************************
#
# Licensed Materials - Property of IBM
#
# 5724-L21
#
# Copyright IBM Corp. 2006  All Rights Reserved.
#
# US Government Users Restricted Rights - Use, duplication or
# disclosure restricted by GSA ADP Schedule Contract with
# IBM Corp.
#
# *****************************************************************

###################################################################################################
#
# Index
#
# Properties by Section 
#
#  1. Personalization Feedback Database Properties
#
#  2. LikeMinds Database Properties
#
###################################################################################################
    

###################################################################################################
###################################################################################################
#
# 1) Personalization Feedback Database Properties
#
###################################################################################################
###################################################################################################

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.DbType
#
# Description:  The type of database that WebSphere Portal will use for the Feedback database.
#
#     Default:  derby
#
#    Examples:  None available

feedback.DbType=db2

# -------------------------------------------------------------------------------------------------
#    Property:  InitializeFeedbackDB
#
# Description:  Determines how to handle the Personalization Feedback database during database 
#               transfer from Derby to another DB type.
#
#     Default:  true
#
#    Examples:  None available

InitializeFeedbackDB=true

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.DbName
#
# Description:  The name of the Feedback database. The value should be the same as the database 
#               element in feedback.DbUrl value.
#
#     Default:  wpsdb
#
#    Examples:  None available

feedback.DbName=<%=@feedback_DbName%>

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.DbSchema
#
# Description:  This value is the Feedback domain database schema name. For IBM DB2 for i, this 
#               value must be less than ten characters. Some database management systems have 
#               restrictions for schema names. To define a valid schema name, see the documentation 
#               of the target database management system for guidance.
#
#     Default:  FEEDBACK
#
#    Examples:  None available

feedback.DbSchema=<%=@feedback_DbSchema%>

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.DbNameOnZos
#
# Description:  This parameter is required for IBM DB2 for z/OS only.
#
#     Default:  WPSTST02
#
#    Examples:  None available

feedback.DbNameOnZos=WPSTST02

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.DataSourceName
#
# Description:  The name of the datasource to use for the Feedback database.
#
#     Default:  wpdbDS
#
#    Examples:  None available

feedback.DataSourceName=<%=@feedback_DataSourceName%>

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.DbUrl
#
# Description:  The Feedback database URL.
#
#     Default:  jdbc:derby:wpsdb;create=true
#
#    Examples: 
#       1) Apache Derby:  jdbc:derby:wpsdb;create=true 
#       2) IBM DB2 with type 2 drivers:  jdbc:db2:wpsdb 
#       3) IBM DB2 with type 4 drivers:  jdbc:db2://YourDatabaseServer:50000/wpsdb:returnAlias=0; Where the port is usually 50000 (Windows) or 50001 (Linux)
#       4) IBM DB2 for i with type 2 drivers:  jdbc:db2:*LOCAL/wpsdb;metadata source=1 
#       5) IBM DB2 for i with type 4 drivers:  jdbc:as400:hostName/wpsdb;metadata source=1
#       6) Remote IBM DB2 for i with type 4 drivers:  jdbc:as400:hostName/wpsdb;metadata source=1;prompt=false
#       7) IBM DB2 for z/OS: jdbc:db2:location
#       8) Remote IBM DB2 for z/OS with type 2 drivers:  jdbc:db2:wpsdb
#       9) Remote IBM DB2 for z/OS with type 4 drivers:  jdbc:db2://YourDatabaseServer:;port/location
#       10) Thin Oracle Database with type 4 drivers and thin client:  jdbc:oracle:thin:@YourDatabaseServer:1521:wpsdb 
#       11) Microsoft SQL Server 2005 and 2008: jdbc:sqlserver://YourDatabaseServer:1433;SelectMethod=cursor;DatabaseName=wpsdb
#       12) DataDirect SQL Server 2005 and 2008:  jdbc:datadirect:sqlserver://YourDatabaseServer:1433;DatabaseName=wpsdb

feedback.DbUrl=jdbc:db2://<%=@db_host%>:<%=@db_port%>/<%=@feedback_DbName%>:returnAlias=0;

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.DbUser
#
# Description:  The database administrator user ID.
#
#     Default:  db2admin
#
#    Examples:  None available

feedback.DbUser=<%=@db_user%>

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.DbPassword
#
# Description:  The database password for the administrator user ID.
#
#     Default:  ReplaceWithYourDbAdminPwd
#
#    Examples:  None available

feedback.DbPassword=<%=@db_password%>

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.DbRuntimeUser
#
# Description:  Optional parameter. WebSphere Portal will use this ID to connect to the Feedback 
#               database during day-to-day operations. If WebSphere Portal can connect using the 
#               same ID used during configuration, the feedback.DbUser value, then leave this value 
#               blank.
#
#     Default:  No default value
#
#    Examples:  None available

feedback.DbRuntimeUser=<%=@db_user%>

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.DbRuntimePassword
#
# Description:  The password for the runtime user ID.
#
#     Default:  ReplaceWithYourDbRuntimePwd
#
#    Examples:  None available

feedback.DbRuntimePassword=<%=@db_password%>

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.DBA.DbUser
#
# Description:  The DBA user ID for privileged access operations during creation of this database 
#               type.
#
#     Default:  db2admin
#
#    Examples:  None available

feedback.DBA.DbUser=db2admin

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.DBA.DbPassword
#
# Description:  The password for the privileged DBA user ID used to access operations during 
#               creation of the Feedback database.
#
#     Default:  ReplaceWithYourDBAPwd
#
#    Examples:  None available

feedback.DBA.DbPassword=ReplaceWithYourPassword

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.DbHome
#
# Description:  The root location for the Feedback database.
#
#                 For Oracle Database, this is the location on the remote or local database server 
#                 where the tablespaces are created.
#                 For SQL Server, this is the local location where the database files are stored.
#                 For SQL Server on Windows the path must use two back slashes (\\) instead of a 
#                 forward slash (/).
#                 For SQL Server theinstance in the example path below may or may not exist for 
#                 your installation.
#
#     Default:  ReplaceWithYourDbHomeDir
#
#    Examples: 
#       1) Oracle: oracle/product/10.1.0/db_1
#       2) SQL Server: C:\\Microsoft SQL Server\\instance\\MSSQL

feedback.DbHome=ReplaceWithYourDbHomeDir

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.AdminUrl
#
# Description:  This parameter is required for SQL Server only. This value is the SQL Server URL 
#               without a database attached. This value is used to connect to SQL Server for DBA 
#               operations.
#
#     Default:  ReplaceWithYourAdminUrl
#
#    Examples: 
#       1) Microsoft SQL Server 2005:  jdbc:sqlserver://YourDatabaseServer:1433
#       2) DataDirect SQL Server 2005: jdbc:datadirect:sqlserver://YourDatabaseServer:1433
#       3) Microsoft SQL Server 2008:  jdbc:sqlserver://YourDatabaseServer:1433
#       4) DataDirect SQL Server 2008: jdbc:datadirect:sqlserver://YourDatabaseServer:1433

feedback.AdminUrl=ReplaceWithYourAdminUrl

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.DbConfigRoleName
#
# Description:  The role assigned to the configuration user ID (feedback.DbUser). If the role does 
#               not exist, create it and associate it with the configuration user ID.
#
#     Default:  WP_PZN_CONFIG_USERS
#
#    Examples:  None available

feedback.DbConfigRoleName=WP_PZN_CONFIG_USERS

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.DbRuntimeRoleName
#
# Description:  The role assigned to the runtime user ID (feedback.DbRuntimeUser). If the role does 
#               not exist, create it and associate it with the configuration user ID.
#
#     Default:  WP_PZN_RUNTIME_USERS
#
#    Examples:  None available

feedback.DbRuntimeRoleName=WP_PZN_RUNTIME_USERS

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.XDbName
#
# Description:  Required for Linux and UNIX-based platforms when using a IBM DB2 database. Required 
#               for a local IBM DB2 Database using a type 2 JDBC driver. The Feedback database 
#               alias that needs to be set if you want to call create-database
#
#     Default:  fdbk6TCP
#
#    Examples:  None available

feedback.XDbName=fdbk6TCP

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.DbNode
#
# Description:  Required for Linux and UNIX-based platforms when using IBM DB2. The node for the 
#               Feedback database The value is required if you want to run thecreate-database task.
#
#     Default:  pznNode
#
#    Examples:  None available

feedback.DbNode=pznNode

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.DbHostName
#
# Description:  Required for Microsoft SQL Server 2005 and 2008 only. The host name of the Feedback 
#               database.
#
#     Default:  myserver
#
#    Examples:  None available

feedback.DbHostName=myserver

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.DbTablespace
#
# Description:  Required for IBM DB2 for z/OS only. The name of the Feedback database tablespace.
#
#     Default:  fdbkdbts
#
#    Examples:  None available

feedback.DbTablespace=fdbkdbts

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.DbStorageGroup
#
# Description:  Required for IBM DB2 for z/OS only. The storage group for the Feedback database.
#
#     Default:  WPSSG
#
#    Examples:  None available

feedback.DbStorageGroup=WPSSG

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.DbVolumes
#
# Description:  Required for IBM DB2 for z/OS only. The volumes for the Feedback database.
#
#     Default:  *
#
#    Examples:  None available

feedback.DbVolumes=*

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.DbVcat
#
# Description:  Required for IBM DB2 for z/OS only. The VCAT for the WebSphere Portal Feedback 
#               database.
#
#     Default:  DSN910
#
#    Examples:  None available

feedback.DbVcat=DSN910

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.Db4KBufferPoolName
#
# Description:  Required for IBM DB2 for z/OS only. The 4K bufferpool name for the Feedback 
#               database.
#
#     Default:  BP2
#
#    Examples:  None available

feedback.Db4KBufferPoolName=BP2

# -------------------------------------------------------------------------------------------------
#    Property:  feedback.Db32KBufferPoolName
#
# Description:  Required for IBM DB2 for z/OS only. The 32K bufferpool name for the Feedback 
#               database.
#
#     Default:  BP32K1
#
#    Examples:  None available

feedback.Db32KBufferPoolName=BP32K1

###################################################################################################
###################################################################################################
#
# 2) LikeMinds Database Properties
#
###################################################################################################
###################################################################################################

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.DbType
#
# Description:  The type of database to be used for the Likeminds database.
#
#     Default:  derby
#
#    Examples:  None available

likeminds.DbType=db2

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.DbName
#
# Description:  The name of the Likeminds database. This value should also appear as the database 
#               element in likeminds.DbUrl.
#
#     Default:  wpsdb
#
#     Example:  wplsdb

likeminds.DbName=<%=@likeminds_DbName%>

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.DbSchema
#
# Description:  The Likeminds domain database schema name. For IBM DB2 for i, this value must be 
#               less than ten characters. Some database management systems have restrictions for 
#               schema names. To define a valid schema name, see the documentation of the target 
#               database management system for guidance.
#
#     Default:  likeminds
#
#     Example:  likeminds

likeminds.DbSchema=<%=@likeminds_DbSchema%>

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.DbNameOnZos
#
# Description:  This parameter is required for IBM DB2 for z/OS only. The following conditions 
#               effect the value for this property:
#
#                 If the database type is IBM DB2 for z/OS (db2_zos) and the database is remote, 
#                 this value is the name of the remote Likeminds domain database.
#                 If WebSphere Portal is installed on z/OS with a local database (database type is 
#                 db2_zos), this value must be the same value as the database name (DbName).
#
#     Default:  WPSTST02
#
#    Examples:  None available

likeminds.DbNameOnZos=WPSTST02

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.DataSourceName
#
# Description:  The name of the datasource that will be used for the Likeminds domain.
#
#     Default:  wpdbDS
#
#    Examples:  None available

likeminds.DataSourceName=<%=@likeminds_DataSourceName%>

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.DbUrl
#
# Description:  The Likeminds domain database URL.
#
#     Default:  jdbc:derby:wpsdb;create=true
#
#    Examples: 
#       1) Derby database:  jdbc:derby:wpsdb;create=true 
#       2) IBM DB2 with type 2 drivers:  jdbc:db2:wpsdb 
#       3) IBM DB2 with type 4 drivers:  jdbc:db2://YourDatabaseServer:50000/wpsdb:returnAlias=0; Where the port is usually 50000 (Windows) or 50001 (Linux)
#       4) IBM DB2 for i with type 2 drivers:  jdbc:db2:*LOCAL/wpsdb;metadata source=1 
#       5) IBM DB2 for i with type 4 drivers:  jdbc:as400:hostName/wpsdb;metadata source=1
#       6) Remote IBM DB2 for i with type 4 drivers:  jdbc:as400:hostName/wpsdb;metadata source=1;prompt=false
#       7) IBM DB2 for z/OS: jdbc:db2:location
#       8) Remote IBM DB2 for z/OS with type 2 drivers:  jdbc:db2:wpsdb
#       9) Remote IBM DB2 for z/OS with type 4 drivers:  jdbc:db2://YourDatabaseServer:port/location
#       10) Thin Oracle Database with type 4 drivers and thin client:  jdbc:oracle:thin:@YourDatabaseServer:1521:wpsdb 
#       11) Microsoft SQL Server 2005 and 2008: jdbc:sqlserver://YourDatabaseServer:1433;SelectMethod=cursor;DatabaseName=wpsdb
#       12) DataDirect SQL Server 2005 and 2008:  jdbc:datadirect:sqlserver://YourDatabaseServer:1433;DatabaseName=wpsdb

likeminds.DbUrl=jdbc:db2://<%=@db_host%>:<%=@db_port%>/<%=@likeminds_DbName%>:returnAlias=0;

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.DbUser
#
# Description:  The database administrator user ID.
#
#     Default:  db2admin
#
#    Examples:  None available

likeminds.DbUser=<%=@db_user%>

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.DbPassword
#
# Description:  The database administrator password.
#
#     Default:  ReplaceWithYourDbAdminPwd
#
#    Examples:  None available

likeminds.DbPassword=<%=@db_password%>

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.DbRuntimeUser
#
# Description:  Optional parameter. WebSphere Portal will use this ID to connect to the Likeminds 
#               database during day-to-day operations. WebSphere Portal can connect using the same 
#               ID used during configuration, the likeminds.DbUser value, then leave this value 
#               blank.
#
#     Default:  No default value
#
#    Examples:  None available

likeminds.DbRuntimeUser=<%=@db_user%>

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.DbRuntimePassword
#
# Description:  The password for the database runtime user.
#
#     Default:  ReplaceWithYourDbRuntimePwd
#
#    Examples:  None available

likeminds.DbRuntimePassword=<%=@db_password%>

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.DBA.DbUser
#
# Description:  The DBA user ID for privileged access operations during creation of this database 
#               type.
#
#     Default:  db2admin
#
#    Examples:  None available

likeminds.DBA.DbUser=db2admin

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.DBA.DbPassword
#
# Description:  The password for priviledged access operations during creation of this database 
#               type.
#
#     Default:  ReplaceWithYourDBAPwd
#
#    Examples:  None available

likeminds.DBA.DbPassword=ReplaceWithYourPassword

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.DbHome
#
# Description:  The root location for the database. For Oracle Database this is the location on the 
#               remote or local server where the tablespaces are created. For SQL Server this is 
#               the location locally to store the database files.
#
#     Default:  ReplaceWithYourDbHomeDir
#
#    Examples: 
#       1) Oracle Database: oracle/product/10.1.0/db_1 
#       2) SQL Server: C:\\Microsoft SQL Server\\instance\\MSSQL

likeminds.DbHome=ReplaceWithYourDbHomeDir

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.AdminUrl
#
# Description:  Required for SQL Server only. This value is the SQL Server URL without a database 
#               attached. This value is used to connect to SQL Server for DBA operations.
#
#     Default:  ReplaceWithYourAdminUrl
#
#    Examples: 
#       1) Microsoft SQL Server 2005: jdbc:sqlserver://YourDatabaseServer:1433 
#       2) DataDirect SQL Server 2005: jdbc:datadirect:sqlserver://YourDatabaseServer:1433
#       3) Microsoft SQL Server 2008: jdbc:sqlserver://YourDatabaseServer:1433 
#       4) DataDirect SQL Server 2008: jdbc:datadirect:sqlserver://YourDatabaseServer:1433 

likeminds.AdminUrl=ReplaceWithYourAdminUrl

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.DbConfigRoleName
#
# Description:  The role assigned to the configuration user ID (likeminds.DbUser). If the role does 
#               not exist, create the role and assign it to the configuration user ID.
#
#     Default:  WP_PZN_CONFIG_USERS
#
#    Examples:  None available

likeminds.DbConfigRoleName=WP_PZN_CONFIG_USERS

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.DbRuntimeRoleName
#
# Description:  The role assigned to the runtime user ID (likeminds.DbRuntimeUser). If the role 
#               does not exist, create the role and assign it to the runtime user ID
#
#     Default:  WP_PZN_RUNTIME_USERS
#
#    Examples:  None available

likeminds.DbRuntimeRoleName=WP_PZN_RUNTIME_USERS

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.XDbName
#
# Description:  Required for Linux and UNIX-based platforms when using an IBM DB2 Database. 
#               Required Windows platforms using a local IBM DB2 database using Type 2 JDBC 
#               drivers. The Likeminds database alias that is used when running thecreate-database 
#               task.
#
#     Default:  lmdb6TCP
#
#    Examples:  None available

likeminds.XDbName=lmdb6TCP

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.DbNode
#
# Description:  Required for Linux and UNIX-based platforms when using an IBM DB2 Database. The 
#               node for the Likeminds domain database that is used when running thecreate-database 
#               task.
#
#     Default:  pznNode
#
#    Examples:  None available

likeminds.DbNode=pznNode

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.DbHostName
#
# Description:  Required only for Microsoft SQL Server 2005 and 2008. The host name of the 
#               Likeminds database.
#
#     Default:  myserver
#
#    Examples:  None available

likeminds.DbHostName=myserver

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.DbTablespace
#
# Description:  Required only for IBM DB2 for z/OS. The name of the Likeminds database table space.
#
#     Default:  lmdbts
#
#    Examples:  None available

likeminds.DbTablespace=lmdbts

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.DbStorageGroup
#
# Description:  Required only for IBM DB2 for z/OS. The storage group for the Likeminds database.
#
#     Default:  WPSSG
#
#    Examples:  None available

likeminds.DbStorageGroup=WPSSG

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.DbVolumes
#
# Description:  Required only for BM DB2 for z/OS. The volumes for the Likeminds database.
#
#     Default:  *
#
#    Examples:  None available

likeminds.DbVolumes=*

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.DbVcat
#
# Description:  Required only for IBM DB2 for z/OS. The VCAT for the Likeminds database.
#
#     Default:  DSN910
#
#    Examples:  None available

likeminds.DbVcat=DSN910

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.Db4KBufferPoolName
#
# Description:  Required only for IBM DB2 for z/OS. The 4K bufferpool name for the Likeminds 
#               database.
#
#     Default:  BP2
#
#    Examples:  None available

likeminds.Db4KBufferPoolName=BP2

# -------------------------------------------------------------------------------------------------
#    Property:  likeminds.Db32KBufferPoolName
#
# Description:  Required only for IBM DB2 for z/OS. The 32K bufferpool name for the Likeminds 
#               database.
#
#     Default:  BP32K1
#
#    Examples:  None available

likeminds.Db32KBufferPoolName=BP32K1
##### END PREREQ.PZN PROPERTIES #####

##### BEGIN WP.DB.IMPL PROPERTIES #####
# WP.DB.IMPL loaded from: /opt/XYZWEBSPHEREXYZ/PortalServer/base/wp.db.impl/wp.db.impl_dbdomain.properties


# *****************************************************************
#
# Licensed Materials - Property of IBM
#
# 5724-L21
#
# Copyright IBM Corp. 2006  All Rights Reserved.
#
# US Government Users Restricted Rights - Use, duplication or
# disclosure restricted by GSA ADP Schedule Contract with
# IBM Corp.
#
# *****************************************************************

###################################################################################################
#
# Index
#
# Properties by Section 
#
#  1. Release Database Properties
#
#  2. Community Database Properties
#
#  3. Customization Database Properties
#
#  4. JCR Database Properties
#
###################################################################################################
    

###################################################################################################
###################################################################################################
#
# 1) Release Database Properties
#
###################################################################################################
###################################################################################################

# -------------------------------------------------------------------------------------------------
#    Property:  release.DbType
#
# Description:  The type of database to be used for the Release domain.
#
#     Default:  derby
#
#    Examples:  None available

release.DbType=db2

# -------------------------------------------------------------------------------------------------
#    Property:  release.DbName
#
# Description:  The name of the release database. This value should also appear as the database 
#               element in DbUrl.
#
#                 For remote IBM DB2 for i, the value must include the host name, such as: 
#                 hostname/wpsreldb
#                 For Linux and UNIX-based platforms using IBM DB2, this value is the TCPIP alias.
#                 For IBM DB2 for i, the value must be unique for this domain.
#
#     Default:  wpsdb
#
#    Examples:  None available

release.DbName=<%=@release_DbName%>

# -------------------------------------------------------------------------------------------------
#    Property:  release.DbSchema
#
# Description:  The Release domain database schema name. For IBM DB2 for i, the scheme name must be 
#               less than ten characters. Some database management systems have restrictions for 
#               schema names. To define a valid schema name, see the documentation of the target 
#               database management system for guidance.
#
#     Default:  release
#
#    Examples:  None available

release.DbSchema=<%=@release_DbSchema%>

# -------------------------------------------------------------------------------------------------
#    Property:  release.DbNameOnZos
#
# Description:  Required for DB2 for z/OS only. The database for the Release domain. If WebSphere 
#               Portal is configured to use a remote DB2 for z/OS database, the value should be the 
#               name of the remote Release domain database.
#
#     Default:  WPSTST02
#
#    Examples:  None available

release.DbNameOnZos=WPSTST02

# -------------------------------------------------------------------------------------------------
#    Property:  release.DataSourceName
#
# Description:  The name of the datasource to use for the Release domain. You cannot use the 
#               following reserved names: releaseDS, communityDS, customizationDS, jcrDS, lmdbDS, 
#               feedback
#
#     Default:  wpdbDS
#
#    Examples:  None available

release.DataSourceName=<%=@release_DataSourceName%>

# -------------------------------------------------------------------------------------------------
#    Property:  release.DbUrl
#
# Description:  The wps Release domain database URL. This value should match the value of DbName 
#               property.
#
#     Default:  jdbc:derby:wpsdb;create=true
#
#    Examples: 
#       1) Apache Derby:  jdbc:derby:wpsdb;create=true 
#       2) IBM DB2 with type 2 drivers:  jdbc:db2:wpsdb 
#       3) IBM DB2 with type 4 drivers:  jdbc:db2://YourDatabaseServer:50000/wpsdb:returnAlias=0; Where the port is usually 50000 (Windows) or 50001 (Linux)
#       4) IBM DB2 for i with type 2 drivers:  jdbc:db2:*LOCAL/wpsdb;metadata source=1 
#       5) IBM DB2 for i with type 4 drivers:  jdbc:as400:hostnamewpsdb;metadata source=1
#       6) Remote IBM DB2 for i with type 4 drivers:  jdbc:as400:hostnamewpsdb;metadata source=1;prompt=false
#       7) DB2 for z/OS: jdbc:db2:location
#       8) Remote DB2 for z/OS with type 2 drivers:  jdbc:db2:wpsdb
#       9) Remote DB2 for z/OS with type 4 drivers:  jdbc:db2://YourDatabaseServer:port/location
#       10) Thin Oracle Database with type 4 drivers and thin client:  jdbc:oracle:thin:@YourDatabaseServer:1521:wpsdb 
#       11) Microsoft SQL Server 2005 and 2008: jdbc:sqlserver://YourDatabaseServer:1433;SelectMethod=cursor;DatabaseName=wpsdb
#       12) DataDirect SQL Server 2005 and 2008:  jdbc:datadirect:sqlserver:/YourDatabaseServer:1433;DatabaseName=wpsdb

release.DbUrl=jdbc:db2://<%=@db_host%>:<%=@db_port%>/<%=@release_DbName%>:returnAlias=0;

# -------------------------------------------------------------------------------------------------
#    Property:  release.DbUser
#
# Description:  The database administrator user ID. If you are using a diifferent ID for 
#               configuration than you are using for runtime, specify the configuration ID.
#
#     Default:  db2admin
#
#    Examples:  None available

release.DbUser=<%=@db_user%>

# -------------------------------------------------------------------------------------------------
#    Property:  release.DbPassword
#
# Description:  The database administrator password
#
#     Default:  ReplaceWithYourDbAdminPwd
#
#    Examples:  None available

release.DbPassword=<%=@db_password%>

# -------------------------------------------------------------------------------------------------
#    Property:  release.DbRuntimeUser
#
# Description:  Optional parameter. WebSphere Portal will use this ID to connect to the release 
#               database during day-to-day operations. This is also referred to as the runtime 
#               user. If you are not using two seperate IDs, one for configuration and one for 
#               runtime, leave this value blank.
#
#     Default:  No default value
#
#    Examples:  None available

release.DbRuntimeUser=<%=@db_user%>

# -------------------------------------------------------------------------------------------------
#    Property:  release.DbRuntimePassword
#
# Description:  The database runtime user password.
#
#     Default:  ReplaceWithYourDbRuntimePwd
#
#    Examples:  None available

release.DbRuntimePassword=<%=@db_password%>

# -------------------------------------------------------------------------------------------------
#    Property:  release.DBA.DbUser
#
# Description:  The DBA user for privledged access operations during creation of this database 
#               type.
#
#     Default:  db2admin
#
#    Examples:  None available

release.DBA.DbUser=db2admin

# -------------------------------------------------------------------------------------------------
#    Property:  release.DBA.DbPassword
#
# Description:  The DBA password for privledged access operations during creation of this database 
#               type
#
#     Default:  ReplaceWithYourDBAPwd
#
#    Examples:  None available

release.DBA.DbPassword=ReplaceWithYourPassword

# -------------------------------------------------------------------------------------------------
#    Property:  release.DbHome
#
# Description:  The root location for the database.
#
#                 For Oracle Database, enter the location on the remote or local machine for create 
#                 the tablespaces.
#                 For Microsoft SQL Server, enter the location locally to store the database files.
#                 Microsoft SQL Server on Windows Only: This path must use \\ instead of /.
#                 SQLServer Only:instance in the path below may or may not be there in your 
#                 installation.
#
#     Default:  ReplaceWithYourDbHomeDir
#
#    Examples: 
#       1)  Oracle Database: { oracle/product/10.1.0/db_1 } 
#       2) Microsoft SQ LServer: { C:\\Microsoft SQL Server\\instance\\MSSQL }

release.DbHome=ReplaceWithYourDbHomeDir

# -------------------------------------------------------------------------------------------------
#    Property:  release.AdminUrl
#
# Description:  Required for SQL Server only. The SQL server URL without a database attached. This 
#               value is used to connect to SQL Server for DBA operations.
#
#     Default:  ReplaceWithYourAdminUrl
#
#    Examples: 
#       1) DataDirect SQL Server 2005 and 2008:  jdbc:datadirect:sqlserver://:1433
#       2) Microsoft SQL Server 2005 and 2008:  jdbc:sqlserver://:1433

release.AdminUrl=ReplaceWithYourAdminUrl

# -------------------------------------------------------------------------------------------------
#    Property:  release.DbConfigRoleName
#
# Description:  The name of the role assigned to the configuration user ID (release.DbUser). If 
#               this role does not exist, create the role and assign it to the configuration ID.
#
#     Default:  WP_BASE_CONFIG_USERS
#
#    Examples:  None available

release.DbConfigRoleName=WP_BASE_CONFIG_USERS

# -------------------------------------------------------------------------------------------------
#    Property:  release.DbRuntimeRoleName
#
# Description:  The name of the role assigned to the runtime user (release.DbRuntimeUser). If this 
#               role does not exist, create the role and assign it to the runtime user ID
#
#     Default:  WP_BASE_RUNTIME_USERS
#
#    Examples:  None available

release.DbRuntimeRoleName=WP_BASE_RUNTIME_USERS

# -------------------------------------------------------------------------------------------------
#    Property:  release.XDbName
#
# Description:  Required for Linux and UNIX platforms (non-Windows) when using DB2. Required only 
#               for a local DB2 database using Type 2 JDBC driver. The release database alias that 
#               needs to be set if you want to call create-database task.
#
#     Default:  wps6TCP
#
#    Examples:  None available

release.XDbName=wps6TCP

# -------------------------------------------------------------------------------------------------
#    Property:  release.DbNode
#
# Description:  Required for Linux and UNIX platforms (non-Windows) when using DB2. The node for 
#               the Release domain database and needs to be set if you want to call the 
#               create-database task.
#
#     Default:  wpsNode
#
#    Examples:  None available

release.DbNode=wpsNode

# -------------------------------------------------------------------------------------------------
#    Property:  release.DbStorageGroup
#
# Description:  Required for DB2 for z/OS only. The storage group for the Release database.
#
#     Default:  WPSSG
#
#    Examples:  None available

release.DbStorageGroup=WPSSG

# -------------------------------------------------------------------------------------------------
#    Property:  release.DbVolumes
#
# Description:  Required for DB2 for z/OS only. The volumes for the Release database.
#
#     Default:  *
#
#    Examples:  None available

release.DbVolumes=*

# -------------------------------------------------------------------------------------------------
#    Property:  release.DbVcat
#
# Description:  Required for DB2 for z/OS only. The VCAT for the Release database.
#
#     Default:  DSN910
#
#    Examples:  None available

release.DbVcat=DSN910

# -------------------------------------------------------------------------------------------------
#    Property:  release.DbIndex4KBufferPoolName
#
# Description:  Required for DB2 for z/OS only. The 4K bufferpool name for the Release database. 
#               This bufferpool is dedicated for the indices.
#
#     Default:  BP3
#
#    Examples:  None available

release.DbIndex4KBufferPoolName=BP3

# -------------------------------------------------------------------------------------------------
#    Property:  release.Db4KBufferPoolName
#
# Description:  Required for DB2 for z/OS only. The 4K bufferpool name for the Release database.
#
#     Default:  BP2
#
#    Examples:  None available

release.Db4KBufferPoolName=BP2

# -------------------------------------------------------------------------------------------------
#    Property:  release.Db32KBufferPoolName
#
# Description:  Required for DB2 for z/OS only. The 32K bufferpool name for the Release database.
#
#     Default:  BP32K1
#
#    Examples:  None available

release.Db32KBufferPoolName=BP32K1

# -------------------------------------------------------------------------------------------------
#    Property:  release.TablespaceTrackMod
#
# Description:  Required for DB2 for z/OS only. Sets the TRACKMOD attribute of all tablespaces to 
#               the specified value. Before changing this value, see the DB2 for z/OS documentation 
#               about the attribute TRACKMOD.
#
#     Default:  YES
#
#    Examples:  None available

release.TablespaceTrackMod=YES

# -------------------------------------------------------------------------------------------------
#    Property:  release.TablespaceDefine
#
# Description:  Required for DB2 for z/OS only. Sets the DEFINE attribute of all tablespaces to the 
#               specified value. Before changing this value, see the DB2 for z/OS documentation 
#               about the attribute DEFINE.
#
#     Default:  NO
#
#    Examples:  None available

release.TablespaceDefine=NO

###################################################################################################
###################################################################################################
#
# 2) Community Database Properties
#
###################################################################################################
###################################################################################################

# -------------------------------------------------------------------------------------------------
#    Property:  community.DbType
#
# Description:  The type of database to be used for the Community domain.
#
#     Default:  derby
#
#    Examples:  None available

community.DbType=db2

# -------------------------------------------------------------------------------------------------
#    Property:  community.DbName
#
# Description:  The name of the Community domain database. This value should also appear as the 
#               database element in DbUrl.
#
#                 For Linux and UNIX platforms (non-Windows) using DB2, enter the TCPIP alias for 
#                 the database.
#                 For remote IBM DB2 for i, the value should include the host name, such as: 
#                 hostName/wpscomdb
#
#     Default:  wpsdb
#
#    Examples:  None available

community.DbName=<%=@community_DbName%>

# -------------------------------------------------------------------------------------------------
#    Property:  community.DbSchema
#
# Description:  The Community domain database schema name. For IBM DB2 fori, the scheme name must 
#               be less than ten characters. Some database management systems have restrictions for 
#               schema names. To define a valid schema name, see the documentation of the target 
#               database management system for guidance.
#
#     Default:  community
#
#    Examples:  None available

community.DbSchema=<%=@community_DbSchema%>

# -------------------------------------------------------------------------------------------------
#    Property:  community.DbNameOnZos
#
# Description:  Required for DB2 for z/OS only. The name of the database for the Community domain. 
#               If WebSphere Portal is configured to use a remote DB2 for z/OS database, the value 
#               should be the name of the remote Community domain database.
#
#     Default:  WPSTST02
#
#    Examples:  None available

community.DbNameOnZos=WPSTST02

# -------------------------------------------------------------------------------------------------
#    Property:  community.DataSourceName
#
# Description:  The name of the datasource to use for the Community domain. You cannot use the 
#               following reserved names: releaseDS, communityDS, customizationDS, jcrDS, lmdbDS, 
#               feedback
#
#     Default:  wpdbDS
#
#    Examples:  None available

community.DataSourceName=<%=@community_DataSourceName%>

# -------------------------------------------------------------------------------------------------
#    Property:  community.DbUrl
#
# Description:  The wps Community domain database URL. The database element of this value should 
#               match the value of DbName property.
#
#                 For IBM DB2 for i when WebSphere Portal is installed on a UNIX platform, add 
#                 ;prompt=false to the URL unless X11 DISPLAY is set and active.
#                 For IBM DB2 for z/OS, the database element of this value should match the 
#                 location name of the database to be used when establishing connections with the 
#                 IBM DB2 datasource used by the portal.
#
#     Default:  jdbc:derby:wpsdb;create=true
#
#    Examples: 
#       1) IBM DB2 using type 2 JDBC drivers:  jdbc:db2:wpsdb 
#       2) Apache Derby database:  jdbc:derby:wpsdb;create=true 
#       3) IBM DB2 with type 2 drivers:  jdbc:db2:wpsdb 
#       4) IBM DB2 with type 4 drivers:  jdbc:db2://YourDatabaseServer:50000/wpsdb:returnAlias=0; Where the port is usually 50000 (Windows) or 50001 (Linux)
#       5) IBM DB2 for i with type 2 drivers:  jdbc:db2:*LOCAL/wpsdb;metadata source=1 
#       6) IBM DB2 for i with type 4 drivers:  jdbc:as400:hostnamewpsdb;metadata source=1
#       7) Remote IBM DB2 for i with type 4 drivers:  jdbc:as400:hostName/wpsdb;metadata source=1;prompt=false
#       8) DB2 for z/OS: jdbc:db2:location
#       9) Remote DB2 for z/OS with type 2 drivers:  jdbc:db2:wpsdb
#       10) Remote DB2 for z/OS with type 4 drivers:  jdbc:db2://YourDatabaseServer:port/location
#       11) Thin Oracle Database with type 4 drivers and thin client:  jdbc:oracle:thin:@YourDatabaseServer:1521:wpsdb 
#       12) Microsoft SQL Server 2005 and 2008: jdbc:sqlserver:/YourDatabaseServer:1433;SelectMethod=cursor;DatabaseName=wpsdb
#       13) DataDirect SQL Server 2005 and 2008:  jdbc:datadirect:sqlserver:/YourDatabaseServer:1433;DatabaseName=wpsdb

community.DbUrl=jdbc:db2://<%=@db_host%>:<%=@db_port%>/<%=@community_DbName%>:returnAlias=0;

# -------------------------------------------------------------------------------------------------
#    Property:  community.DbUser
#
# Description:  The database user ID. If you are using a diifferent ID for configuration than you 
#               are using for runtime, specify the configuration ID.
#
#     Default:  db2admin
#
#    Examples:  None available

community.DbUser=<%=@db_user%>

# -------------------------------------------------------------------------------------------------
#    Property:  community.DbPassword
#
# Description:  The database administrator password.
#
#     Default:  ReplaceWithYourDbAdminPwd
#
#    Examples:  None available

community.DbPassword=<%=@db_password%>

# -------------------------------------------------------------------------------------------------
#    Property:  community.DbRuntimeUser
#
# Description:  Optional parameter. WebSphere Portal will use this ID to connect to the Community 
#               database during day-to-day operations. If WebSphere Portal can connect using the 
#               same ID used during configuration, the community.DbUser value, then leave this 
#               value blank.
#
#     Default:  No default value
#
#    Examples:  None available

community.DbRuntimeUser=<%=@db_user%>

# -------------------------------------------------------------------------------------------------
#    Property:  community.DbRuntimePassword
#
# Description:  The database runtime user password.
#
#     Default:  ReplaceWithYourDbRuntimePwd
#
#    Examples:  None available

community.DbRuntimePassword=<%=@db_password%>

# -------------------------------------------------------------------------------------------------
#    Property:  community.DBA.DbUser
#
# Description:  The database administrator user for privileged access operations during creation of 
#               this database type.
#
#     Default:  db2admin
#
#    Examples:  None available

community.DBA.DbUser=db2admin

# -------------------------------------------------------------------------------------------------
#    Property:  community.DBA.DbPassword
#
# Description:  The database administrator user password for privileged access operations during 
#               creation of this database type.
#
#     Default:  ReplaceWithYourDBAPwd
#
#    Examples:  None available

community.DBA.DbPassword=ReplaceWithYourPassword

# -------------------------------------------------------------------------------------------------
#    Property:  community.DbHome
#
# Description:  The root location for the database.
#
#                 For Oracle Database, enter the location on the remote or local machine for create 
#                 the tablespaces.
#                 For SQL Server, enter the location locally to store the database files.
#                 For SQL Server Windows Only: This path must use \\ instead of /.
#                 For SQL Server Only: instance in the path below may or may not be there in your 
#                 installation.
#
#     Default:  ReplaceWithYourDbHomeDir
#
#    Examples: 
#       1) Oracle Database: {oracle /product/10.1.0/db_1 }
#       2) SQL Server: { C:\\Microsoft SQL Server\\instance\\MSSQL }

community.DbHome=ReplaceWithYourDbHomeDir

# -------------------------------------------------------------------------------------------------
#    Property:  community.AdminUrl
#
# Description:  Required for SQL Server only. The sqlserver URL without a database attached. This 
#               value is used to connect to SQL Server for DBA operations.
#
#     Default:  ReplaceWithYourAdminUrl
#
#    Examples: 
#       1) DataDirect SQL Server 2005 and 2008:  jdbc:datadirect:sqlserver://:1433
#       2) Microsoft SQL Server 2005 and 2008:  jdbc:sqlserver://:1433

community.AdminUrl=ReplaceWithYourAdminUrl

# -------------------------------------------------------------------------------------------------
#    Property:  community.DbConfigRoleName
#
# Description:  The name of the role assigned to the configuration user ID (community.DbUser). If 
#               this role does not exist, create the role and assign it to the configuration user 
#               ID.
#
#     Default:  WP_BASE_CONFIG_USERS
#
#    Examples:  None available

community.DbConfigRoleName=WP_BASE_CONFIG_USERS

# -------------------------------------------------------------------------------------------------
#    Property:  community.DbRuntimeRoleName
#
# Description:  The name of the role assigned to the runtime user ID (community.DbRuntimeUser). If 
#               this role does not exist, create the role and assign it to the runtime user ID.
#
#     Default:  WP_BASE_RUNTIME_USERS
#
#    Examples:  None available

community.DbRuntimeRoleName=WP_BASE_RUNTIME_USERS

# -------------------------------------------------------------------------------------------------
#    Property:  community.XDbName
#
# Description:  Required for Linux and UNIX platforms (non-Windows) when using DB2. Required only 
#               for local DB2 database using Type 2 JDBC driver The Community database alias that 
#               needs to be set if you want to call create-database
#
#     Default:  wps6TCP
#
#    Examples:  None available

community.XDbName=wps6TCP

# -------------------------------------------------------------------------------------------------
#    Property:  community.DbNode
#
# Description:  Required for Linux and UNIX platforms (non-Windows) when using DB2. The node for 
#               the WebSphere Portal Community domain database and needs to be set if you want to 
#               call the create-database task.
#
#     Default:  wpsNode
#
#    Examples:  None available

community.DbNode=wpsNode

# -------------------------------------------------------------------------------------------------
#    Property:  community.DbStorageGroup
#
# Description:  Required for DB2 for z/OS only. The storage group for the Community database.
#
#     Default:  WPSSG
#
#    Examples:  None available

community.DbStorageGroup=WPSSG

# -------------------------------------------------------------------------------------------------
#    Property:  community.DbVolumes
#
# Description:  This parameter is required for DB2 for z/OS only. The volumes for the Community 
#               database.
#
#     Default:  *
#
#    Examples:  None available

community.DbVolumes=*

# -------------------------------------------------------------------------------------------------
#    Property:  community.DbVcat
#
# Description:  Required for DB2 for z/OS only. The VCAT for the Community database.
#
#     Default:  DSN910
#
#    Examples:  None available

community.DbVcat=DSN910

# -------------------------------------------------------------------------------------------------
#    Property:  community.DbIndex4KBufferPoolName
#
# Description:  Required for DB2 for z/OS only. The 4K bufferpool name for the Community database. 
#               This bufferpool is dedicated for the indices.
#
#     Default:  BP3
#
#    Examples:  None available

community.DbIndex4KBufferPoolName=BP3

# -------------------------------------------------------------------------------------------------
#    Property:  community.Db4KBufferPoolName
#
# Description:  Required for DB2 for z/OS only. The 4K bufferpool name for the Community database.
#
#     Default:  BP2
#
#    Examples:  None available

community.Db4KBufferPoolName=BP2

# -------------------------------------------------------------------------------------------------
#    Property:  community.Db32KBufferPoolName
#
# Description:  Required for DB2 for z/OS only. The 32K bufferpool name for the Community database.
#
#     Default:  BP32K1
#
#    Examples:  None available

community.Db32KBufferPoolName=BP32K1

# -------------------------------------------------------------------------------------------------
#    Property:  community.TablespaceTrackMod
#
# Description:  Required for DB2 for z/OS only. Sets the TRACKMOD attribute of all tablespaces to 
#               the specified value. Before changing this value, see the DB2 for z/OS documentation 
#               about the attribute TRACKMOD.
#
#     Default:  YES
#
#    Examples:  None available

community.TablespaceTrackMod=YES

# -------------------------------------------------------------------------------------------------
#    Property:  community.TablespaceDefine
#
# Description:  Required for DB2 for z/OS only. Sets the DEFINE attribute of all tablespaces to the 
#               specified value. Before changing this value, see the DB2 for z/OS documentation 
#               about the attribute DEFINE.
#
#     Default:  NO
#
#    Examples:  None available

community.TablespaceDefine=NO

###################################################################################################
###################################################################################################
#
# 3) Customization Database Properties
#
###################################################################################################
###################################################################################################

# -------------------------------------------------------------------------------------------------
#    Property:  customization.DbType
#
# Description:  The type of database to be used for the Customization domain.
#
#     Default:  derby
#
#    Examples:  None available

customization.DbType=db2

# -------------------------------------------------------------------------------------------------
#    Property:  customization.DbName
#
# Description:  The name of the Customization database. This value should also appear as the 
#               database element in customization.DbUrl The following conditions effect the value 
#               for this property:
#
#                 Linux and UNIX platforms (non-Windows) when using DB2 only enter the TCPIP alias 
#                 for the database.
#                 For IBM DB2 for i, this value must be unique for this domain.
#                 For remote DB2 database for IBM i the value must include the host name, such as: 
#                 hostname/wpscstdb
#
#     Default:  wpsdb
#
#    Examples:  None available

customization.DbName=<%=@customization_DbName%>

# -------------------------------------------------------------------------------------------------
#    Property:  customization.DbSchema
#
# Description:  The Customization domain database schema name. For IBM DB2 for i, the scheme name 
#               must be less than ten characters. Some database management systems have 
#               restrictions for schema names. To define a valid schema name, see the documentation 
#               of the target database management system for guidance.
#
#     Default:  customization
#
#    Examples:  None available

customization.DbSchema=<%=@customization_DbSchema%>

# -------------------------------------------------------------------------------------------------
#    Property:  customization.DbNameOnZos
#
# Description:  Required for DB2 for z/OS only. Enter the name of the database for the 
#               Customization domain. If WebSphere Portal is configured to use a remote DB2 for 
#               z/OS database, the value should be the name of the remote Customization domain 
#               database.
#
#     Default:  WPSTST02
#
#    Examples:  None available

customization.DbNameOnZos=WPSTST02

# -------------------------------------------------------------------------------------------------
#    Property:  customization.DataSourceName
#
# Description:  The name of datasource to be used for Customization domain. You cannot use the 
#               following reserved names: releaseDS, communityDS, customizationDS, jcrDS, lmdbDS, 
#               feedback
#
#     Default:  wpdbDS
#
#    Examples:  None available

customization.DataSourceName=<%=@customization_DataSourceName%>

# -------------------------------------------------------------------------------------------------
#    Property:  customization.DbUrl
#
# Description:  The wps Customization domain database URL. The database element of this value 
#               should match the value of DbName property.
#
#                 For IBM DB2 for i, when WebSphere Portal is installed on a UNIX platform, add 
#                 ;prompt=false to the URL - unless X11 DISPLAY is set and active.
#                 For IBM DB2 for z/OS, the database element of this value should match the 
#                 location name of the database used when establishing connections with the IBM DB2 
#                 datasource used by the portal.
#
#     Default:  jdbc:derby:wpsdb;create=true
#
#    Examples: 
#       1) Apache Derby database:  jdbc:derby:wpsdb;create=true 
#       2) IBM DB2 with type 2 drivers:  jdbc:db2:wpsdb 
#       3) IBM DB2 with type 4 drivers:  jdbc:db2://YourDatabaseServer:50000/wpsdb:returnAlias=0; Where the port is usually 50000 (Windows) or 50001 (Linux)
#       4) IBM DB2 for i with type 2 drivers:  jdbc:db2:*LOCAL/wpsdb;metadata source=1 
#       5) IBM DB2 for i with type 4 drivers:  jdbc:as400:hostnamewpsdb;metadata source=1
#       6) Remote IBM DB2 for i with type 4 drivers:  jdbc:as400:hostnamewpsdb;metadata source=1;prompt=false
#       7) DB2 for z/OS: jdbc:db2:location
#       8) Remote DB2 for z/OS with type 2 drivers:  jdbc:db2:wpsdb
#       9) Remote DB2 for z/OS with type 4 drivers:  jdbc:db2://YourDatabaseServer:port/location
#       10) Thin Oracle Database with type 4 drivers and thin client:  jdbc:oracle:thin:@YourDatabaseServer:1521:wpsdb 
#       11) Microsoft SQL Server 2005 and 2008: jdbc:sqlserver:/YourDatabaseServer:1433;SelectMethod=cursor;DatabaseName=wpsdb
#       12) DataDirect SQL Server 2005 and 2008:  jdbc:datadirect:sqlserver:/YourDatabaseServer:1433;DatabaseName=wpsdb

customization.DbUrl=jdbc:db2://<%=@db_host%>:<%=@db_port%>/<%=@customization_DbName%>:returnAlias=0;

# -------------------------------------------------------------------------------------------------
#    Property:  customization.DbUser
#
# Description:  The database user ID. If you are using a diifferent ID for configuration than you 
#               are using for runtime, specify the configuration ID.
#
#     Default:  db2admin
#
#    Examples:  None available

customization.DbUser=<%=@db_user%>

# -------------------------------------------------------------------------------------------------
#    Property:  customization.DbPassword
#
# Description:  The database administrator password.
#
#     Default:  ReplaceWithYourDbAdminPwd
#
#    Examples:  None available

customization.DbPassword=<%=@db_password%>

# -------------------------------------------------------------------------------------------------
#    Property:  customization.DbRuntimeUser
#
# Description:  Optional parameter. WebSphere Portal will use this ID to connect to the 
#               customization database during day-to-day operations. If WebSphere Portal can 
#               connect using the same ID used during configuration, the customization.DbUser 
#               value, then leave this value blank.
#
#     Default:  No default value
#
#    Examples:  None available

customization.DbRuntimeUser=<%=@db_user%>

# -------------------------------------------------------------------------------------------------
#    Property:  customization.DbRuntimePassword
#
# Description:  The database runtime user password.
#
#     Default:  ReplaceWithYourDbRuntimePwd
#
#    Examples:  None available

customization.DbRuntimePassword=<%=@db_password%>

# -------------------------------------------------------------------------------------------------
#    Property:  customization.DBA.DbUser
#
# Description:  The value is the DBA user for privledged access operations during creation of this 
#               database type.
#
#     Default:  db2admin
#
#    Examples:  None available

customization.DBA.DbUser=db2admin

# -------------------------------------------------------------------------------------------------
#    Property:  customization.DBA.DbPassword
#
# Description:  The password for privledged access operations during creation of this database 
#               type.
#
#     Default:  ReplaceWithYourDBAPwd
#
#    Examples:  None available

customization.DBA.DbPassword=ReplaceWithYourPassword

# -------------------------------------------------------------------------------------------------
#    Property:  customization.DbHome
#
# Description:  The root location for the database. For Oracle Database, this is the location on 
#               the remote or local machine for create the tablespaces. For SQLServer this is the 
#               location locally to store the database files. SQLServer Windows Only: This path 
#               must use \\ instead of /. SQLServer Only: instance in the path below may or may not 
#               be there in your installation.
#
#     Default:  ReplaceWithYourDbHomeDir
#
#    Examples: 
#       1) Oracle Database:       { oracle/product/10.1.0/db_1 } 
#       2) SQLServer:    { C:\\Microsoft SQL Server\\instance\\MSSQL }

customization.DbHome=ReplaceWithYourDbHomeDir

# -------------------------------------------------------------------------------------------------
#    Property:  customization.AdminUrl
#
# Description:  Required for SQL Server only. The sqlserver URL without a database attached. This 
#               value is used to connect to SQL Server for DBA operations.
#
#     Default:  ReplaceWithYourAdminUrl
#
#    Examples: 
#       1) DataDirect SQL Server 2005 and 2008:  jdbc:datadirect:sqlserver://:1433
#       2) Microsoft SQL Server 2005 and 2008:  jdbc:sqlserver://:1433

customization.AdminUrl=ReplaceWithYourAdminUrl

# -------------------------------------------------------------------------------------------------
#    Property:  customization.DbConfigRoleName
#
# Description:  The name of the role assigned to the configuration user ID (customization.DbUser). 
#               If this role does not exist, create the role and assign it to the configuration ID.
#
#     Default:  WP_BASE_CONFIG_USERS
#
#    Examples:  None available

customization.DbConfigRoleName=WP_BASE_CONFIG_USERS

# -------------------------------------------------------------------------------------------------
#    Property:  customization.DbRuntimeRoleName
#
# Description:  The name of the role assigned to the runtime user ID (customization.DbRuntimeUser). 
#               If this role does not exist, create the role and assign it to the runtime user ID.
#
#     Default:  WP_BASE_RUNTIME_USERS
#
#    Examples:  None available

customization.DbRuntimeRoleName=WP_BASE_RUNTIME_USERS

# -------------------------------------------------------------------------------------------------
#    Property:  customization.XDbName
#
# Description:  Required for Linux and UNIX platforms (non-Windows) when using DB2. Required only 
#               for local DB2 database using Type 2 JDBC driver. The customization database alias 
#               that needs to be set if you want to call create-database
#
#     Default:  wps6TCP
#
#    Examples:  None available

customization.XDbName=wps6TCP

# -------------------------------------------------------------------------------------------------
#    Property:  customization.DbNode
#
# Description:  Required for Linux and UNIX platforms (non-Windows) when using DB2. The node for 
#               the Customization domain database and needs to be set if you want to call 
#               create-database.
#
#     Default:  wpsNode
#
#    Examples:  None available

customization.DbNode=wpsNode

# -------------------------------------------------------------------------------------------------
#    Property:  customization.DbStorageGroup
#
# Description:  Required for DB2 for z/OS only. The storage group for the WebSphere Portal 
#               customization database.
#
#     Default:  WPSSG
#
#    Examples:  None available

customization.DbStorageGroup=WPSSG

# -------------------------------------------------------------------------------------------------
#    Property:  customization.DbVolumes
#
# Description:  Required for DB2 for z/OS only. The volumes for the Customization database.
#
#     Default:  *
#
#    Examples:  None available

customization.DbVolumes=*

# -------------------------------------------------------------------------------------------------
#    Property:  customization.DbVcat
#
# Description:  Required for DB2 for z/OS only. The VCAT for the Customization database.
#
#     Default:  DSN910
#
#    Examples:  None available

customization.DbVcat=DSN910

# -------------------------------------------------------------------------------------------------
#    Property:  customization.DbIndex4KBufferPoolName
#
# Description:  Required for DB2 for z/OS only. The 4K bufferpool name for the Customization 
#               database. This bufferpool is dedicated for the indices.
#
#     Default:  BP3
#
#    Examples:  None available

customization.DbIndex4KBufferPoolName=BP3

# -------------------------------------------------------------------------------------------------
#    Property:  customization.Db4KBufferPoolName
#
# Description:  Required for DB2 for z/OS only. The 4K bufferpool name for the Customization 
#               database.
#
#     Default:  BP2
#
#    Examples:  None available

customization.Db4KBufferPoolName=BP2

# -------------------------------------------------------------------------------------------------
#    Property:  customization.Db32KBufferPoolName
#
# Description:  Required for DB2 for z/OS only. The 32K bufferpool name for the Customization 
#               database.
#
#     Default:  BP32K1
#
#    Examples:  None available

customization.Db32KBufferPoolName=BP32K1

# -------------------------------------------------------------------------------------------------
#    Property:  customization.TablespaceTrackMod
#
# Description:  Required for DB2 for z/OS only. This value sets the TRACKMOD attribute of all 
#               tablespaces to the specified value. Refer to the DB2 for z/OS documentation about 
#               attribute TRACKMOD before changing this value.
#
#     Default:  YES
#
#    Examples:  None available

customization.TablespaceTrackMod=YES

# -------------------------------------------------------------------------------------------------
#    Property:  customization.TablespaceDefine
#
# Description:  Required for DB2 for z/OS only. Sets the DEFINE attribute of all tablespaces to the 
#               specified value. Before changing this value, see the DB2 for z/OS documentation 
#               about the attribute DEFINE.
#
#     Default:  NO
#
#    Examples:  None available

customization.TablespaceDefine=NO

###################################################################################################
###################################################################################################
#
# 4) JCR Database Properties
#
###################################################################################################
###################################################################################################

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DbType
#
# Description:  The type of database to be used for the JCR domain.
#
#     Default:  derby
#
#    Examples:  None available

jcr.DbType=db2

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DbName
#
# Description:  The name of the JCR database. This value should also appear as the database element 
#               in jcr.DbUrl
#
#                 For non-Windows platforms when using DB2 only, enter the TCPIP alias for the 
#                 database.
#                 For IBM DB2 for i, this value must be unique for this domain
#                 For remote IBM DB2 for i the value must include the host name, such as: 
#                 hostname/wpscstdb
#
#     Default:  wpsdb
#
#    Examples:  None available

jcr.DbName=<%=@jcr_DbName%>

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DbSchema
#
# Description:  The JCR domain database schema name. For IBM DB2 for i, the scheme name must be 
#               less than ten characters. Some database management systems have restrictions for 
#               schema names. To define a valid schema name, see the documentation of the target 
#               database management system for guidance.
#
#     Default:  jcr
#
#    Examples:  None available

jcr.DbSchema=<%=@jcr_DbSchema%>

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DbNameOnZos
#
# Description:  Required for DB2 for z/OS only. The name of the database for the JCR domain. If 
#               WebSphere Portal is configured to use a remote DB2 for z/OS database, the value 
#               should be the name of the remote JCR domain database
#
#     Default:  WPSTST02
#
#    Examples:  None available

jcr.DbNameOnZos=WPSTST02

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DataSourceName
#
# Description:  The name of datasource to be used for JCR domain.You cannot use the following 
#               reserved names: releaseDS, communityDS, customizationDS, jcrDS, lmdbDS, feedback
#
#     Default:  wpdbDS
#
#    Examples:  None available

jcr.DataSourceName=<%=@jcr_DataSourceName%>

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DbUrl
#
# Description:  The wps JCR domain database URL.The database element of this value should match the 
#               value of DbName property.
#
#                 For IBM DB2 for i when WebSphere Portal is installed on a UNIX platform, add 
#                 ;prompt=false to the URL unless X11 DISPLAY is set and active.
#                 For IBM DB2 for z/OS, the database element of this value should match the 
#                 location name of the database to be used when establishing connections with the 
#                 IBM DB2 datasource used by the portal.
#
#     Default:  jdbc:derby:wpsdb;create=true
#
#    Examples: 
#       1) Apache Derby database:  jdbc:derby:wpsdb;create=true 
#       2) IBM DB2 with type 2 drivers:  jdbc:db2:wpsdb 
#       3) IBM DB2 with type 4 drivers:  jdbc:db2://YourDatabaseServer:50000/wpsdb:returnAlias=0; Where the port is usually 50000 (Windows) or 50001 (Linux)
#       4) IBM DB2 for i with type 2 drivers:  jdbc:db2:*LOCAL/wpsdb;metadata source=1 
#       5) IBM DB2 for i with type 4 drivers:  jdbc:as400:hostName/wpsdb;metadata source=1
#       6) Remote IBM DB2 for i with type 4 drivers:  jdbc:as400:hostName/wpsdb;metadata source=1;prompt=false
#       7) DB2 for z/OS: jdbc:db2:location
#       8) Remote DB2 for z/OS with type 2 drivers:  jdbc:db2:wpsdb
#       9) Remote DB2 for z/OS with type 4 drivers:  jdbc:db2://YourDatabaseServer:port/location
#       10) Thin Oracle Database with type 4 drivers and thin client:  jdbc:oracle:thin:@YourDatabaseServer:1521:wpsdb 
#       11) Microsoft SQL Server 2005 and 2008: jdbc:sqlserver:/YourDatabaseServer:1433;SelectMethod=cursor;DatabaseName=wpsdb
#       12) DataDirect SQL Server 2005 and 2008:  jdbc:datadirect:sqlserver:/YourDatabaseServer:1433;DatabaseName=wpsdb

jcr.DbUrl=jdbc:db2://<%=@db_host%>:<%=@db_port%>/<%=@jcr_DbName%>:returnAlias=0;

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DbUser
#
# Description:  The database user ID. If you are using a diifferent ID for configuration than you 
#               are using for runtime, specify the configuration ID.
#
#     Default:  db2admin
#
#    Examples:  None available

jcr.DbUser=<%=@db_user%>

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DbPassword
#
# Description:  The database administrator password.
#
#     Default:  ReplaceWithYourDbAdminPwd
#
#    Examples:  None available

jcr.DbPassword=<%=@db_password%>

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DbRuntimeUser
#
# Description:  Optional parameter. WebSphere Portal will use this ID to connect to the JCR 
#               database during day-to-day operations. If WebSphere Portal can connect using the 
#               same ID used during configuration, the jcr.DbUser value, then leave this value 
#               blank.
#
#     Default:  No default value
#
#    Examples:  None available

jcr.DbRuntimeUser=<%=@db_user%>

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DbRuntimePassword
#
# Description:  The database runtime user password.
#
#     Default:  ReplaceWithYourDbRuntimePwd
#
#    Examples:  None available

jcr.DbRuntimePassword=<%=@db_password%>

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DBA.DbUser
#
# Description:  The value is the DBA user for privledged access operations during creation of this 
#               database type.
#
#     Default:  db2admin
#
#    Examples:  None available

jcr.DBA.DbUser=db2admin

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DBA.DbPassword
#
# Description:  The password for privledged access operations during creation of this database 
#               type.
#
#     Default:  ReplaceWithYourDBAPwd
#
#    Examples:  None available

jcr.DBA.DbPassword=ReplaceWithYourPassword

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DbHome
#
# Description:  The root location for the database. For Oracle Database, enter the location on the 
#               remote or local machine for create the tablespaces. For SQLServer enter the 
#               location locally to store the database files. SQLServer Windows Only: This path 
#               must use \\ instead of /. SQLServer Only: instance in the path below may or may not 
#               be there in your installation.
#
#     Default:  ReplaceWithYourDbHomeDir
#
#    Examples:  None available

jcr.DbHome=ReplaceWithYourDbHomeDir

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.AdminUrl
#
# Description:  Required for SQL Server only. The sqlserver URL without a database attached. This 
#               value is used to connect to SQL Server for DBA operations.
#
#     Default:  ReplaceWithYourAdminUrl
#
#    Examples: 
#       1) DataDirect SQL Server 2005 and 2008:  jdbc:datadirect:sqlserver://:1433
#       2) Microsoft SQL Server 2005 and 2008:  jdbc:sqlserver://:1433

jcr.AdminUrl=ReplaceWithYourAdminUrl

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DbConfigRoleName
#
# Description:  The name of the role assigned to the configuration user ID (jcr.DbUser). If this 
#               role does not exist, create the role and assign it to the configuration ID.
#
#     Default:  WP_JCR_CONFIG_USERS
#
#    Examples:  None available

jcr.DbConfigRoleName=WP_JCR_CONFIG_USERS

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DbRuntimeRoleName
#
# Description:  The name of the role assigned to the runtime user ID (jcr.DbRuntimeUser). If this 
#               role does not exist, create the role and assign it to the runtime user ID.
#
#     Default:  WP_JCR_RUNTIME_USERS
#
#    Examples:  None available

jcr.DbRuntimeRoleName=WP_JCR_RUNTIME_USERS

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.XDbName
#
# Description:  Required for Linux and UNIX platforms (non-Windows) when using DB2. Required only 
#               for local DB2 database using Type 2 JDBC driver. The JCR database alias that needs 
#               to be set if you want to call create-database
#
#     Default:  wps6TCP
#
#    Examples:  None available

jcr.XDbName=wps6TCP

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DbNode
#
# Description:  Required for Linux and UNIX platforms (non-Windows) when using DB2. The node for 
#               the JCR domain database and needs to be set if you want to call the create-database 
#               task.
#
#     Default:  wpsNode
#
#    Examples:  None available

jcr.DbNode=wpsNode

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DbSaPassword
#
# Description:  This parameter is optional for Microsoft SQL Server 2005. The SQL Server System 
#               Administrator password.
#
#     Default:  ReplaceWithYourDbAdminPwd
#
#    Examples:  None available

jcr.DbSaPassword=ReplaceWithYourPassword

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DbHost
#
# Description:  Required for DB2 for z/OS. The host name (only) of remote system hosting the DB2 
#               Content Manager Runtime Edition database.
#
#     Default:  ReplaceWithYourDbHost
#
#    Examples:  None available

jcr.DbHost=ReplaceWithYourDbHost

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DbDomain
#
# Description:  Required for DB2 for z/OS. The domain (not including host name) of the remote 
#               system hosting the DB2 Content Manager Runtime Edition database.
#
#     Default:  yourco.com
#
#    Examples:  None available

jcr.DbDomain=yourco.com

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DbPort
#
# Description:  Required for DB2 for z/OS. The port number of DB2 Content Manager Runtime Edition 
#               database on the remote system.
#
#     Default:  446
#
#    Examples:  None available

jcr.DbPort=446

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.ZosDbPrefix
#
# Description:  Required for DB2 for z/OS. The common prefix of Node Type database names for DB2 
#               Content Manager Runtime Edition.
#
#     Default:  ICM
#
#    Examples:  None available

jcr.ZosDbPrefix=ICM

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.ZosDbMaxTables
#
# Description:  Requiredfor DB2 for z/OS. The maximum number of User Defined Tables to be stored in 
#               a particular Node Type DB in the DB2 Content Manager Runtime Edition database.
#
#     Default:  100
#
#    Examples:  None available

jcr.ZosDbMaxTables=100

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DbStorageGroup
#
# Description:  Requiredfor DB2 for z/OS only. The storage group for the JCR database.
#
#     Default:  WPSSG
#
#    Examples:  None available

jcr.DbStorageGroup=WPSSG

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DbVolumes
#
# Description:  Requiredfor DB2 for z/OS only. The volumes for the JCR database.
#
#     Default:  *
#
#    Examples:  None available

jcr.DbVolumes=*

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DbVcat
#
# Description:  Requiredfor DB2 for z/OS only. The VCAT for the JCR database.
#
#     Default:  DSN910
#
#    Examples:  None available

jcr.DbVcat=DSN910

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.DbIndex4KBufferPoolName
#
# Description:  Requiredfor DB2 for z/OS only. The 4K bufferpool name for the JCR database. This 
#               bufferpool is dedicated for the indices.
#
#     Default:  BP3
#
#    Examples:  None available

jcr.DbIndex4KBufferPoolName=BP3

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.Db4KBufferPoolName
#
# Description:  Required for DB2 for z/OS only. The 4K bufferpool name for the JCR database.
#
#     Default:  BP2
#
#    Examples:  None available

jcr.Db4KBufferPoolName=BP2

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.Db32KBufferPoolName
#
# Description:  Requiredfor DB2 for z/OS only. The 32K bufferpool name for the JCR database.
#
#     Default:  BP32K1
#
#    Examples:  None available

jcr.Db32KBufferPoolName=BP32K1

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.TablespaceTrackMod
#
# Description:  Required for DB2 for z/OS only. Sets the TRACKMOD attribute of all tablespaces to 
#               the specified value. Refer to the DB2 for z/OS documentation about attribute 
#               TRACKMOD before changing this value.
#
#     Default:  YES
#
#    Examples:  None available

jcr.TablespaceTrackMod=YES

# -------------------------------------------------------------------------------------------------
#    Property:  jcr.TablespaceDefine
#
# Description:  Required for DB2 for z/OS only. Sets the DEFINE attribute of all tablespaces to the 
#               specified value. Before changing this value, see the DB2 for z/OS documentation 
#               about the attribute DEFINE.
#
#     Default:  NO
#
#    Examples:  None available

jcr.TablespaceDefine=NO
##### END WP.DB.IMPL PROPERTIES #####

