
# *****************************************************************
#
# Licensed Materials - Property of IBM
#
# 5724-L21
#
# Copyright IBM Corp. 2006  All Rights Reserved.
#
# US Government Users Restricted Rights - Use, duplication or
# disclosure restricted by GSA ADP Schedule Contract with
# IBM Corp.
#
# *****************************************************************

###################################################################################################
#
# Index
#
# Properties by Section
#
#  1. Database safe mode properties
#
#  2. Derby properties
#
#  3. IBM DB2 Database properties
#
#  4. Oracle Database properties
#
#  5. Microsoft SQL Server 2005 and 2008 properties
#
#  6. IBM DB2 for z/OS properties
#
#  7. IBM DB2 for IBM i properties
#
###################################################################################################


###################################################################################################
###################################################################################################
#
# 1) Database safe mode properties
#
###################################################################################################
###################################################################################################

# -------------------------------------------------------------------------------------------------
#    Property:  DbSafeMode
#
# Description:  Can help prevent unintentional database creation, initialization and removal. It
#               only applies to database specific tasks.
#
#     Default:  false
#
#    Examples:  None available

DbSafeMode=false

###################################################################################################
###################################################################################################
#
# 2) Derby properties
#
#    The following property value pairs are specific to the Apache Derby database. Derby is not a
#    production environment database, but it is ideal for getting started with the product.
#
###################################################################################################
###################################################################################################

# -------------------------------------------------------------------------------------------------
#    Property:  derby.DbDriver
#
# Description:  The database driver used to connect to the Derby database.
#
#     Default:  org.apache.derby.jdbc.EmbeddedDriver
#
#     Example:  org.apache.derby.jdbc.EmbeddedDriver

derby.DbDriver=org.apache.derby.jdbc.EmbeddedDriver

# -------------------------------------------------------------------------------------------------
#    Property:  derby.DbLibrary
#
# Description:  The directory and name of the .zip or JAR file containing the JDBC driver class.
#
#     Default:  AppServer/derby/lib/derby.jar
#
#    Examples:
#       1) Linux: /opt/IBM/WebSphere/AppServer/derby/lib/derby.jar
#       2) Windows: C:/IBM/WebSphere/PortalExpress/AppServer/derby/lib/derby.jar

derby.DbLibrary=/opt/IBM/Portal/WebSphere1/AppServer/derby/lib/derby.jar

# -------------------------------------------------------------------------------------------------
#    Property:  derby.JdbcProviderName
#
# Description:  The name of JDBC provider to be used.
#
#     Default:  wpdbJDBC_derby
#
#    Examples:  None available

derby.JdbcProviderName=wpdbJDBC_derby

###################################################################################################
###################################################################################################
#
# 3) IBM DB2 Database properties
#
#    The following property value pairs are specific to IBM DB2 database.
#
###################################################################################################
###################################################################################################

# -------------------------------------------------------------------------------------------------
#    Property:  db2.DbDriver
#
# Description:  The database driver class name for IBM DB2:
#
#     Default:  com.ibm.db2.jcc.DB2Driver
#
#     Example:  com.ibm.db2.jcc.DB2Driver

db2.DbDriver=com.ibm.db2.jcc.DB2Driver

# -------------------------------------------------------------------------------------------------
#    Property:  db2.DbLibrary
#
# Description:  The directory and name of the .zip or JAR file containing JDBC driver class. Use
#               system specific file separator characters. For Windows use a semicolon (;) and for
#               UNIX use a colon (:).
#
#     Default:  SQLLIB/java/db2jcc4.jar;SQLLIB/java/db2jcc_license_cu.jar
#
#    Examples:
#       1) DB2 (Windows): C:/IBM/SQLLIB/java/db2jcc4.jar;C:/IBM/SQLLIB/java/db2jcc_license_cu.jar:
#       2) DB2 (UNIX): /opt/IBM/SQLLIB/java/db2jcc4.jar:/opt/IBM/SQLLIB/java/db2jcc_license_cu.jar:

db2.DbLibrary=<%=@portal_profile_parent_path%>/wp_profile/PortalServer/dbdrivers/db2jcc4.jar:<%=@portal_profile_parent_path%>/wp_profile/PortalServer/dbdrivers/db2jcc_license_cu.jar

# -------------------------------------------------------------------------------------------------
#    Property:  db2.JdbcProviderName
#
# Description:  The name of JDBC provider to be used.
#
#     Default:  wpdbJDBC_db2
#
#    Examples:  None available

db2.JdbcProviderName=wpdbJDBC_db2

###################################################################################################
###################################################################################################
#
# 4) Oracle Database properties
#
#    The following property value pairs are specific to Oracle Database.
#
###################################################################################################
###################################################################################################

# -------------------------------------------------------------------------------------------------
#    Property:  oracle.DbDriver
#
# Description:  The database driver class name for the Oracle Database.
#
#     Default:  oracle.jdbc.OracleDriver
#
#    Examples:  None available

oracle.DbDriver=oracle.jdbc.OracleDriver

# -------------------------------------------------------------------------------------------------
#    Property:  oracle.DbLibrary
#
# Description:  The directory and name of the .zip file or JAR file containing JDBC driver class.
#
#     Default:  Oracle/jdbc/lib/ojdbc6.jar
#
#    Examples:  None available

oracle.DbLibrary=Oracle/jdbc/lib/ojdbc6.jar

# -------------------------------------------------------------------------------------------------
#    Property:  oracle.JdbcProviderName
#
# Description:  The name of JDBC provider to use.
#
#     Default:  wpdbJDBC_oracle
#
#    Examples:  None available

oracle.JdbcProviderName=wpdbJDBC_oracle

###################################################################################################
###################################################################################################
#
# 5) Microsoft SQL Server 2005 and 2008 properties
#
#    The following value pairs are specific to Microsoft SQL Server and can be used with either
#    version 2005 and 2008.
#
###################################################################################################
###################################################################################################

# -------------------------------------------------------------------------------------------------
#    Property:  sqlserver2005.DbDriver
#
# Description:  The driver class name to use for Microsoft SQLServer
#
#     Default:  com.microsoft.sqlserver.jdbc.SQLServerDriver
#
#    Examples:
#       1) JDBC driver provided by Microsoft: com.microsoft.sqlserver.jdbc.SQLServerDriver
#       2) JDBC driver provided by DataDirect: com.ddtek.jdbc.sqlserver.SQLServerDriver

sqlserver2005.DbDriver=com.microsoft.sqlserver.jdbc.SQLServerDriver

# -------------------------------------------------------------------------------------------------
#    Property:  sqlserver2005.DbLibrary
#
# Description:  The directory and name of the .zip or JAR file containing JDBC driver class. Use
#               the system specific file separator names, for Windows use a semicolon (;) and for
#               UNIX use a colon (:).
#
#     Default:  Microsoft SQL Server JDBC Driver/sqljdbc_2.0/enu/sqljdbc4.jar
#
#    Examples:
#       1) JDBC driver provided by Microsoft: Microsoft SQL Server JDBC Driver/sqljdbc_2.0/enu/sqljdbc4.jar
#       2) JDBC driver provided by DataDirect: DataDirect Connect for JDBC>/lib/sqlserver.jar

sqlserver2005.DbLibrary=Microsoft SQL Server JDBC Driver/sqljdbc_2.0/enu/sqljdbc4.jar

# -------------------------------------------------------------------------------------------------
#    Property:  sqlserver2005.JdbcProviderName
#
# Description:  The name of JDBC provider to be used.
#
#     Default:  wpdbJDBC_sqlserver2005
#
#    Examples:  None available

sqlserver2005.JdbcProviderName=wpdbJDBC_sqlserver2005

# -------------------------------------------------------------------------------------------------
#    Property:  sqlserver2005.DbConnectionPoolDataSource
#
# Description:  The name of the implementation class of the connection pool data source.
#
#     Default:  com.microsoft.sqlserver.jdbc.SQLServerConnectionPoolDataSource
#
#    Examples:
#       1) JDBC driver provided by Microsoft: com.microsoft.sqlserver.jdbc.SQLServerConnectionPoolDataSource
#       2) JDBC driver provided by DataDirect: com.ddtek.jdbcx.sqlserver.SQLServerDataSource

sqlserver2005.DbConnectionPoolDataSource=com.microsoft.sqlserver.jdbc.SQLServerConnectionPoolDataSource

###################################################################################################
###################################################################################################
#
# 6) IBM DB2 for z/OS properties
#
#    The following value pairs are specific to IBM DB2 for z/OS.
#
###################################################################################################
###################################################################################################

# -------------------------------------------------------------------------------------------------
#    Property:  db2_zos.DbDriver
#
# Description:  The DB2 for z/OS database driver class name
#
#     Default:  com.ibm.db2.jcc.DB2Driver
#
#    Examples:  None available

db2_zos.DbDriver=com.ibm.db2.jcc.DB2Driver

# -------------------------------------------------------------------------------------------------
#    Property:  db2_zos.DbLibrary
#
# Description:  The directory and name of the .zip or JAR file containing JDBC driver class. Use
#               the system specific file separator names, for Windows use a semicolon (;) and for
#               UNIX use a colon (:).
#
#     Default:  SQLLIB/jcc/classes/db2jcc4.jar:SQLLIB/jcc/classes/db2jcc_license_cisuz.jar:SQLLIB/jcc/classes/db2jcc_javax.jar
#
#    Examples:  None available

db2_zos.DbLibrary=SQLLIB/jcc/classes/db2jcc4.jar:SQLLIB/jcc/classes/db2jcc_license_cisuz.jar:SQLLIB/jcc/classes/db2jcc_javax.jar

# -------------------------------------------------------------------------------------------------
#    Property:  db2_zos.JdbcProviderName
#
# Description:  The name of JDBC provider to be used.
#
#     Default:  wpdbJDBC_db2_zos
#
#    Examples:  None available

db2_zos.JdbcProviderName=wpdbJDBC_db2_zos

# -------------------------------------------------------------------------------------------------
#    Property:  db2_zos.DbNativeLibrary
#
# Description:  Required when WebSphere Portal is running on z/OS only.
#
#     Default:  /usr/lpp/db2910_jdbc/lib
#
#    Examples:  None available

db2_zos.DbNativeLibrary=/usr/lpp/db2910_jdbc/lib

# -------------------------------------------------------------------------------------------------
#    Property:  db2_zos.DbSqljProperties
#
# Description:  Required when WebSphere Portal is running on z/OS only.
#
#     Default:  /etc/DB2JccConfiguration.properties
#
#    Examples:  None available

db2_zos.DbSqljProperties=/etc/DB2JccConfiguration.properties

# -------------------------------------------------------------------------------------------------
#    Property:  db2_zos.DbDriverType
#
# Description:  The connection type for the driver.
#
#     Default:  2
#
#    Examples:  None available

db2_zos.DbDriverType=2

###################################################################################################
###################################################################################################
#
# 7) IBM DB2 for IBM i properties
#
###################################################################################################
###################################################################################################

# -------------------------------------------------------------------------------------------------
#    Property:  db2_iseries.DbDriver
#
# Description:  The database driver class name for DB2 iSeries
#
#     Default:  com.ibm.as400.access.AS400JDBCDriver
#
#    Examples:  None available

db2_iseries.DbDriver=com.ibm.as400.access.AS400JDBCDriver

# -------------------------------------------------------------------------------------------------
#    Property:  db2_iseries.DbLibrary
#
# Description:  The directory and name of the .zip or JAR file containing JDBC version 4 driver
#               class
#
#     Default:  JDBC driver location/jt400.jar
#
#    Examples:
#       1) Type 2 driver: db2_iseries.DbLibrary=/QIBM/ProdData/OS400/Java400/ext/db2_classes16.jar
#       2) Type 4 driver: db2_iseries.DbLibrary=JDBC driver location/jt400.jar
#       3) Type 4 driver for IBM i: check the latest jt400.jar in http://sourceforge.net/projects/jt400/files/
#       4) Type 4 driver for IBM i: seelct the driver file with "jtopen_x_y_jdbc40_jdk6.zip". x, y: major, minor version.

db2_iseries.DbLibrary=JDBC driver location/jt400.jar

# -------------------------------------------------------------------------------------------------
#    Property:  db2_iseries.JdbcProviderName
#
# Description:  The name of JDBC provider to be used.
#
#     Default:  wpdbJDBC_db2_iseries
#
#    Examples:  None available

db2_iseries.JdbcProviderName=wpdbJDBC_db2_iseries

# -------------------------------------------------------------------------------------------------
#    Property:  db2_iseries.DbDriverType
#
# Description:  The following value pairs are specific to IBM DB2 for IBM i.
#
#     Default:  4
#
#    Examples:  None available

db2_iseries.DbDriverType=4
